Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

fix(docs): readOnlyImports for CreateStackBlitzProject with esm changes
  apps/docs/src/components/StackBlitz/CreateStackBlitzProject.tsx
Due: docs

build(deps): bump deps to latest
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

feat(core): added color-scheme theme variable
  .changeset/new-schools-say.md
  apps/docs/_everything.scss
  apps/docs/src/app/(main)/layout.scss
  apps/docs/src/components/LoadThemeStyles/SystemTheme.module.scss
  packages/core/src/_base.scss
  packages/core/src/theme/_theme.scss
Due: core, docs

feat(core): add simplified ways to include material symbols
  apps/docs/src/app/(main)/(markdown)/customization/global-configuration/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/material-symbols/page.mdx
  apps/docs/src/app/(main)/(markdown)/getting-started/installation/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/package.json
  packages/core/src/icon/MaterialSymbolsLinks.tsx
  packages/core/src/icon/__tests__/MaterialSymbolsLinks.tsx
  packages/core/src/icon/__tests__/__snapshots__/MaterialSymbolsLinks.tsx.snap
  packages/core/src/icon/__tests__/configureMaterialSymbols.tsx
  packages/core/src/icon/__tests__/getMaterialSymbolsUrl.ts
  packages/core/src/icon/configureMaterialSymbols.tsx
  packages/core/src/icon/getMaterialSymbolOption.ts
  packages/core/src/icon/getMaterialSymbolsUrl.ts
  packages/core/src/icon/symbols.ts
  packages/vite-material-symbols-plugin/README.md
  packages/vite-material-symbols-plugin/src/index.ts
  packages/vite-material-symbols-plugin/src/types.ts
Due: core, docs

test(vite-material-symbols-plugin): add tests and fix a few issues
  packages/vite-material-symbols-plugin/README.md
  packages/vite-material-symbols-plugin/fixtures/nothing/index.html
  packages/vite-material-symbols-plugin/fixtures/nothing/src/main.js
  packages/vite-material-symbols-plugin/fixtures/simple/index.html
  packages/vite-material-symbols-plugin/fixtures/simple/src/components/App.jsx
  packages/vite-material-symbols-plugin/fixtures/simple/src/components/MainNavigation.jsx
  packages/vite-material-symbols-plugin/fixtures/simple/src/components/RootLayout.jsx
  packages/vite-material-symbols-plugin/fixtures/simple/src/components/RootProviders.jsx
  packages/vite-material-symbols-plugin/fixtures/simple/src/main.jsx
  packages/vite-material-symbols-plugin/fixtures/with-icons/index.html
  packages/vite-material-symbols-plugin/fixtures/with-icons/src/components/App.jsx
  packages/vite-material-symbols-plugin/fixtures/with-icons/src/components/MainNavigation.jsx
  packages/vite-material-symbols-plugin/fixtures/with-icons/src/components/NotIncluded.jsx
  packages/vite-material-symbols-plugin/fixtures/with-icons/src/components/RootLayout.jsx
  packages/vite-material-symbols-plugin/fixtures/with-icons/src/components/RootProviders.jsx
  packages/vite-material-symbols-plugin/fixtures/with-icons/src/main.jsx
  packages/vite-material-symbols-plugin/package.json
  packages/vite-material-symbols-plugin/src/__tests__/index.ts
  packages/vite-material-symbols-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: none

fix(vite-material-symbols-plugin): package.json urls and compiled name
  .changeset/six-glasses-open.md
  packages/vite-material-symbols-plugin/package.json
  packages/vite-material-symbols-plugin/rollup.config.ts
Due: none

chore: material symbols setup
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/layout.tsx
  apps/docs/src/app/(main)/(markdown)/customization/material-symbols/page.mdx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialSymbolStylesheets.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/layout.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/utils.ts
  apps/docs/src/components/CustomMdxComponents.tsx
  apps/docs/src/constants/googleFontsApi.ts
  apps/next-playground/src/app/layout.tsx
  packages/core/src/icon/MaterialSymbolsLinks.tsx
  packages/core/src/icon/__tests__/MaterialSymbolsLinks.tsx
  packages/core/src/icon/__tests__/getMaterialSymbolsUrl.ts
  packages/core/src/icon/getMaterialSymbolsUrl.ts
Due: core, docs

fix(core): fixed typos for custom properties
  .changeset/polite-spoons-report.md
  packages/core/src/transition/useMaxWidthTransition.ts
  packages/core/src/window-splitter/styles.ts
Due: core

fix(docs): missing fileName
  apps/docs/src/app/(main)/(markdown)/customization/material-symbols/page.mdx
Due: docs

chore(docs): fix lint and additional docs
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialSymbolUsage.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/utils.ts
Due: docs

chore: fix search params for material-icons-and-symbols
  apps/docs/src/app/(main)/components/material-icons-and-symbols/searchParams.ts
Due: docs

chore: update react-virtualized to latest
  apps/docs/package.json
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FullScreenVirtualizedList.module.scss
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FullScreenVirtualizedList.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/RenderVirtualizedRow.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/ReturnToTop.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/page.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/useVirtualizedColumns.ts
  apps/docs/src/app/(main)/components/material-icons-and-symbols/useVirtualizedWindow.ts
  apps/docs/src/components/MainLayout/MainLayout.tsx
  apps/docs/src/components/ReturnToTop.tsx
  pnpm-lock.yaml
Due: docs

build(deps): bump deps to latest
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

fix(core): MenuItemButton applies height prop correctly
  .changeset/fruity-deserts-smell.md
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/datetime/__tests__/utils.ts
  packages/core/src/form/utils.ts
  packages/core/src/menu/MenuItemButton.tsx
  packages/core/src/menu/MenuItemFileInput.tsx
  packages/core/src/menu/MenuItemInputToggle.tsx
  packages/core/src/menu/__tests__/__snapshots__/DropdownMenu.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/MenuBar.tsx.snap
  packages/core/src/positioning/utils.ts
  packages/core/src/utils/__tests__/getNumberOfDigits.ts
Due: core

chore: additional eslint fixes with new rules
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.tsx
  packages/codemod/src/transforms/utils/addImportSpecifier.ts
  packages/codemod/src/utils/sassRenames.ts
  packages/docs-generator/src/utils/createDemo.ts
Due: docs

build(deps): bump next-mdx-remote to latest
  apps/docs/package.json
  pnpm-lock.yaml
Due: docs

build: fix missing dependency and some turbo scripts
  apps/vite-playground/package.json
  package.json
  packages/core/vitest.config.ts
  packages/vite-material-symbols-plugin/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: core

build: increase test timeout for CI
  packages/vite-material-symbols-plugin/vitest.config.ts
Due: none

build(version): version package
  .changeset/curly-sites-drum.md
  .changeset/fruity-deserts-smell.md
  .changeset/new-schools-say.md
  .changeset/plain-deer-appear.md
  .changeset/polite-spoons-report.md
  .changeset/six-glasses-open.md
  .changeset/tasty-mammals-go.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/next-playground/CHANGELOG.md
  apps/next-playground/package.json
  apps/vite-playground/CHANGELOG.md
  apps/vite-playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
  packages/vite-material-symbols-plugin/CHANGELOG.md
  packages/vite-material-symbols-plugin/package.json
Due: core, docs

build: fix pnpm-lock after cancelling release messing things up
  pnpm-lock.yaml
Due: none

build: add workspaces for overseer to work
  package.json
Due: none

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.tsx
  apps/next-playground/package.json
  apps/vite-playground/.gitignore
  apps/vite-playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/codemod/src/transforms/utils/addImportSpecifier.ts
  packages/core/package.json
  packages/core/src/datetime/__tests__/utils.ts
  packages/core/src/utils/__tests__/getNumberOfDigits.ts
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

chore: update snapshots
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/expansion-panel/__tests__/__snapshots__/ExpansionPanel.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useLayoutTree.tsx.snap
  packages/core/src/transition/__tests__/__snapshots__/Collapse.tsx.snap
  packages/core/src/transition/__tests__/__snapshots__/useCollapseTransition.tsx.snap
  packages/core/src/tree/__tests__/__snapshots__/Tree.tsx.snap
Due: core

feat(vite-material-symbols-plugin): track new icons
  .changeset/quick-bees-wash.md
  packages/vite-material-symbols-plugin/package.json
  packages/vite-material-symbols-plugin/src/index.ts
  pnpm-lock.yaml
Due: none

setup initial material-you package
  package.json
  packages/you/.npmignore
  packages/you/.prettierignore
  packages/you/.prettierrc.yaml
  packages/you/.stylelintrc.json
  packages/you/.swcrc
  packages/you/README.md
  packages/you/eslint.config.mjs
  packages/you/index.scss
  packages/you/package.json
  packages/you/src/_configure.scss
  packages/you/src/_font.scss
  packages/you/src/_index.scss
  packages/you/src/_palette.scss
  packages/you/src/_shape.scss
  packages/you/src/_styles.scss
  packages/you/src/_token-styles.scss
  packages/you/src/_tokens.scss
  packages/you/src/_typescale.scss
  packages/you/src/_variables.scss
  packages/you/src/utils/_conversions.scss
  packages/you/src/utils/_index.scss
  packages/you/src/utils/_list.scss
  packages/you/src/utils/_pseudo.scss
  packages/you/src/utils/_string.scss
  packages/you/src/utils/_styling.scss
  packages/you/src/utils/_validate.scss
  packages/you/tsconfig.json
  packages/you/tsconfig.types.json
  pnpm-lock.yaml
Due: none

chore: add react-md/you to vite-playground
  apps/vite-playground/package.json
  apps/vite-playground/vite.config.ts
  pnpm-lock.yaml
Due: none

chore: start adding material-you to vite-playground
  apps/vite-playground/.prettierrc.yaml
  apps/vite-playground/index.html
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/Buttons.tsx
  apps/vite-playground/src/ConfigureColorScheme.tsx
  apps/vite-playground/src/IconsExample.tsx
  apps/vite-playground/src/PaletteExample.tsx
  apps/vite-playground/src/Playground.tsx
  apps/vite-playground/src/TypographyExample.tsx
  apps/vite-playground/src/colorScheme.ts
  apps/vite-playground/src/index.scss
  apps/vite-playground/src/main.tsx
Due: none

chore: start working through button and interaction
  apps/vite-playground/src/Buttons.module.scss
  apps/vite-playground/src/Buttons.tsx
  apps/vite-playground/src/Playgroundv1.tsx
  apps/vite-playground/src/index-v1.scss
  packages/you/package.json
  packages/you/src/button/Button.tsx
  packages/you/src/button/styles.ts
  packages/you/src/styles/_button.scss
  packages/you/src/styles/_configure.scss
  packages/you/src/styles/_interaction.scss
  packages/you/src/styles/_tokens.scss
  packages/you/src/styles/_typescale.scss
  packages/you/src/styles/margin.ts
  packages/you/src/styles/utils/_pseudo.scss
Due: none

chore: simplify palette to not require .current
  packages/you/src/styles/_button.scss
  packages/you/src/styles/_css-reset.scss
  packages/you/src/styles/_interaction.scss
  packages/you/src/styles/_palette.scss
  packages/you/src/styles/_token-styles.scss
  packages/you/src/styles/utils/_pseudo.scss
Due: none

feat: finish up most of the new button setup
  packages/you/src/styles/_button.scss
  packages/you/src/styles/_elevation.scss
  packages/you/src/styles/_interaction.scss
  packages/you/src/styles/_tokens.scss
Due: none

issue #1474: Select: hidden value input uses aria-hidden + tabIndex={-1} instead of inert, causing focus conflict warning
  packages/core/src/form/Select.tsx
Due: core

issue #1474: Select: hidden value input uses aria-hidden + tabIndex={-1} instead of inert, causing focus conflict warning
  .github/workflows/main.yml
  packages/core/src/form/Select.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  turbo.json
Due: core

fix(select): use inert over aria-hidden+tabindex for a11y
  .github/workflows/main.yml
  packages/core/src/form/Select.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  turbo.json
Due: core

chore: add changeset for #1475
  .changeset/funky-beers-admire.md
Due: none

build: fix incorrect clean-root behavior
  package.json
Due: none

fix(react-md): added missing exports
  .changeset/spotty-mice-start.md
  packages/core/scripts/constants.ts
  packages/react-md/src/index.ts
Due: core
