Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

chore(codemod): add overlay migration
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/overlay/__testfixtures__/Overlay.input.tsx
  packages/codemod/transforms/v5-to-v6/overlay/__testfixtures__/Overlay.output.tsx
  packages/codemod/transforms/v5-to-v6/overlay/__tests__/update-overlay-props.ts
  packages/codemod/transforms/v5-to-v6/overlay/update-overlay-props.ts
  packages/core/src/overlay/Overlay.tsx
Due: core

chore(codemod): add chip migration
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/chip/__testfixtures__/Chip.input.tsx
  packages/codemod/transforms/v5-to-v6/chip/__testfixtures__/Chip.output.tsx
  packages/codemod/transforms/v5-to-v6/chip/__tests__/update-chip-props.ts
  packages/codemod/transforms/v5-to-v6/chip/update-chip-props.ts
Due: none

chore(codemod): add typography migrations
  packages/codemod/transforms/utils/addImportSpecifier.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/RemovedTypes.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/RemovedTypes.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/RenameTypographyComponentProp.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/RenameTypographyComponentProp.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/SrOnly.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/SrOnly.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/SrOnlyWarnTypographyClassNameRenderer1.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/SrOnlyWarnTypographyClassNameRenderer1.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/SrOnlyWarnTypographyClassNameRenderer2.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/SrOnlyWarnTypographyClassNameRenderer2.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/TextContainer.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/TextContainer.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/WarnTypographyClassNameRenderer1.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/WarnTypographyClassNameRenderer1.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/WarnTypographyClassNameRenderer2.input.tsx
  packages/codemod/transforms/v5-to-v6/typography/__testfixtures__/WarnTypographyClassNameRenderer2.output.tsx
  packages/codemod/transforms/v5-to-v6/typography/__tests__/remove-removed-types.ts
  packages/codemod/transforms/v5-to-v6/typography/__tests__/update-text-container-props.ts
  packages/codemod/transforms/v5-to-v6/typography/__tests__/update-typography-props.ts
  packages/codemod/transforms/v5-to-v6/typography/remove-removed-types.ts
  packages/codemod/transforms/v5-to-v6/typography/update-text-container-props.ts
  packages/codemod/transforms/v5-to-v6/typography/update-typography-props.ts
  packages/core/src/typography/TextContainer.tsx
  packages/core/src/typography/Typography.tsx
Due: core

chore(codemod): add progress migrations
  packages/codemod/transforms/utils/getPropName.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/progress/__testfixtures__/CircularProgress.input.tsx
  packages/codemod/transforms/v5-to-v6/progress/__testfixtures__/CircularProgress.output.tsx
  packages/codemod/transforms/v5-to-v6/progress/__tests__/update-circular-progress-props.ts
  packages/codemod/transforms/v5-to-v6/progress/update-circular-progress-props.ts
  packages/core/src/progress/CircularProgress.tsx
Due: core

chore(codemod): add divider migrations
  packages/codemod/transforms/utils/traverseIdentifiers.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/divider/__testfixtures__/RemovedStuff.input.tsx
  packages/codemod/transforms/v5-to-v6/divider/__testfixtures__/RemovedStuff.output.tsx
  packages/codemod/transforms/v5-to-v6/divider/__testfixtures__/VerticalDivider.input.tsx
  packages/codemod/transforms/v5-to-v6/divider/__testfixtures__/VerticalDivider.output.tsx
  packages/codemod/transforms/v5-to-v6/divider/__testfixtures__/VerticalDividerWithProps.input.tsx
  packages/codemod/transforms/v5-to-v6/divider/__testfixtures__/VerticalDividerWithProps.output.tsx
  packages/codemod/transforms/v5-to-v6/divider/__tests__/vertical-divider-to-divider.ts
  packages/codemod/transforms/v5-to-v6/divider/vertical-divider-to-divider.ts
Due: none

chore(codemod): add table migrations
  packages/codemod/transforms/utils/addFileComment.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/portal/use-new-portal-api.ts
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/CaptionWithTypography.input.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/CaptionWithTypography.output.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/ColSpan100.input.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/ColSpan100.output.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/DisableTableCellPadding.input.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/DisableTableCellPadding.output.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/SimpleCaption.input.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/SimpleCaption.output.tsx
  packages/codemod/transforms/v5-to-v6/table/__tests__/caption-to-typography.ts
  packages/codemod/transforms/v5-to-v6/table/__tests__/update-table-cell-props.ts
  packages/codemod/transforms/v5-to-v6/table/caption-to-typography.ts
  packages/codemod/transforms/v5-to-v6/table/update-table-cell-props.ts
  packages/codemod/transforms/v5-to-v6/table/update-table-checkbox-props.ts
  packages/codemod/transforms/v5-to-v6/typography/remove-removed-types.ts
  packages/codemod/transforms/v5-to-v6/typography/update-typography-props.ts
  packages/core/src/table/TableCell.tsx
Due: core

refactor(codemod): traverseIdentifiers -> traverseImportSpecifiers
  packages/codemod/transforms/utils/renameRmdIdentifier.ts
  packages/codemod/transforms/utils/traverseImportSpecifiers.ts
  packages/codemod/transforms/v5-to-v6/app-bar/remove-class-name-constants.ts
  packages/codemod/transforms/v5-to-v6/app-bar/remove-use-action-class-name.ts
  packages/codemod/transforms/v5-to-v6/app-bar/update-app-bar-props.ts
  packages/codemod/transforms/v5-to-v6/app-bar/update-app-bar-title-props.ts
  packages/codemod/transforms/v5-to-v6/button/remove-unused-props.ts
  packages/codemod/transforms/v5-to-v6/card/card-actions-to-card-footer.ts
  packages/codemod/transforms/v5-to-v6/card/remove-deprecated-card-props.ts
  packages/codemod/transforms/v5-to-v6/card/update-card-content-props.ts
  packages/codemod/transforms/v5-to-v6/card/update-card-header-props.ts
  packages/codemod/transforms/v5-to-v6/card/update-card-subtitle-props.ts
  packages/codemod/transforms/v5-to-v6/card/update-card-title-props.ts
  packages/codemod/transforms/v5-to-v6/chip/update-chip-props.ts
  packages/codemod/transforms/v5-to-v6/divider/vertical-divider-to-divider.ts
  packages/codemod/transforms/v5-to-v6/icon/remove-deprecated-font-icon-props.ts
  packages/codemod/transforms/v5-to-v6/overlay/update-overlay-props.ts
  packages/codemod/transforms/v5-to-v6/portal/use-new-portal-api.ts
  packages/codemod/transforms/v5-to-v6/progress/update-circular-progress-props.ts
  packages/codemod/transforms/v5-to-v6/table/caption-to-typography.ts
  packages/codemod/transforms/v5-to-v6/table/update-table-cell-props.ts
  packages/codemod/transforms/v5-to-v6/table/update-table-checkbox-props.ts
  packages/codemod/transforms/v5-to-v6/typography/update-text-container-props.ts
  packages/codemod/transforms/v5-to-v6/typography/update-typography-props.ts
Due: none

chore(codemod): add createExpression util
  packages/codemod/transforms/utils/createExpression.ts
  packages/codemod/transforms/utils/createJsxAttributeFromBoolean.ts
Due: none

chore(codemod): add link migrations
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/link/__testfixtures__/Link.input.tsx
  packages/codemod/transforms/v5-to-v6/link/__testfixtures__/Link.output.tsx
  packages/codemod/transforms/v5-to-v6/link/__testfixtures__/LinkComponent.input.tsx
  packages/codemod/transforms/v5-to-v6/link/__testfixtures__/LinkComponent.output.tsx
  packages/codemod/transforms/v5-to-v6/link/__tests__/update-link-props.ts
  packages/codemod/transforms/v5-to-v6/link/update-link-props.ts
  packages/core/src/link/Link.tsx
  packages/core/src/link/SkipToMainContent.tsx
  packages/core/src/link/styles.ts
Due: core

chore(core): updated some types
  packages/core/src/tooltip/Tooltip.tsx
  packages/core/src/tooltip/useTooltip.ts
  packages/core/src/tooltip/useTooltipPosition.ts
  packages/core/src/transition/types.ts
  packages/core/src/useResizeListener.ts
Due: core

chore(codemod): added supported transition migrations
  packages/codemod/transforms/utils/isPropEnabled.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/portal/constants.ts
  packages/codemod/transforms/v5-to-v6/transition/__testfixtures__/ScaleTransition.input.tsx
  packages/codemod/transforms/v5-to-v6/transition/__testfixtures__/ScaleTransition.output.tsx
  packages/codemod/transforms/v5-to-v6/transition/__testfixtures__/ScaleTransitionPortalInto.input.tsx
  packages/codemod/transforms/v5-to-v6/transition/__testfixtures__/ScaleTransitionPortalInto.output.tsx
  packages/codemod/transforms/v5-to-v6/transition/__testfixtures__/ScaleTransitionPortalIntoId.input.tsx
  packages/codemod/transforms/v5-to-v6/transition/__testfixtures__/ScaleTransitionPortalIntoId.output.tsx
  packages/codemod/transforms/v5-to-v6/transition/__tests__/update-scale-transition.ts
  packages/codemod/transforms/v5-to-v6/transition/update-scale-transition.ts
  packages/core/src/transition/useTransition.ts
Due: core

chore(core): add a script to generate the core export map
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/codemod/transforms/v5-to-v6/coreExportMaps.ts
  packages/codemod/transforms/v5-to-v6/to-core-imports.ts
  packages/core/package.json
  packages/core/scripts/getExportMap.ts
  packages/core/scripts/tsconfig.json
  pnpm-lock.yaml
Due: core

chore(core): separate sticky table behavior
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/ContainerBasedStickyTableExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/CustomizingSortIconExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/DisableStickyActiveStylesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/SortableColumnsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/StickyActiveStylesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/StickyColumnsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/ViewportBasedStickyTableExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/page.mdx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/table/StickyTableSection.tsx
  packages/core/src/table/Table.tsx
  packages/core/src/table/TableBody.tsx
  packages/core/src/table/TableCell.tsx
  packages/core/src/table/TableCellContent.tsx
  packages/core/src/table/TableConfigurationProvider.tsx
  packages/core/src/table/TableFooter.tsx
  packages/core/src/table/TableHeader.tsx
  packages/core/src/table/TableRow.tsx
  packages/core/src/table/__tests__/Table.tsx
  packages/core/src/table/tableCellStyles.ts
  packages/core/src/table/types.ts
  packages/core/src/table/useStickyTableSection.tsx
  packages/core/src/table/useTableSectionConfig.ts
Due: core, docs

chore(codemod): add supported tooltip migrations
  packages/codemod/transforms/utils/getObjectPropertyName.ts
  packages/codemod/transforms/utils/renameObjectProperty.ts
  packages/codemod/transforms/utils/traverseImportSpecifiers.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/Tooltip.input.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/Tooltip.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/Tooltipped.input.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/Tooltipped.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/TooltippedChildRenderer.input.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/TooltippedChildRenderer.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltip.input.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltip.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltipRemoved.input.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltipRemoved.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltipTypes.input.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltipTypes.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/__tests__/convert-use-tooltip.ts
  packages/codemod/transforms/v5-to-v6/tooltip/__tests__/remove-tooltipped-component.ts
  packages/codemod/transforms/v5-to-v6/tooltip/__tests__/update-tooltip-props.ts
  packages/codemod/transforms/v5-to-v6/tooltip/convert-use-tooltip.ts
  packages/codemod/transforms/v5-to-v6/tooltip/remove-tooltipped-component.ts
  packages/codemod/transforms/v5-to-v6/tooltip/update-tooltip-props.ts
  packages/core/src/tooltip/useTooltip.ts
Due: core

build(deps): bump safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/aliased-class-name-constants.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/class-name-constants.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/button-ripple-props.output.tsx
  packages/codemod/transforms/v5-to-v6/card/__testfixtures__/CardActions.output.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/DisableTableCellPadding.output.tsx
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump swc/cli and swc/core to latest
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core

build: fix build-packages script
  package.json
Due: none

build(version): version packages
  .changeset/olive-pianos-knock.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

chore(codemod): add supported expansion-panel migrations
  packages/codemod/transforms/utils/removeVariableReferences.ts
  packages/codemod/transforms/utils/renameObjectProperty.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/DeprecatedExpansionPanelProps.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/DeprecatedExpansionPanelProps.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/ExpandedIds.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/ExpandedIds.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/ExpansionPanelConfiguringUsePanelsBehavior.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/ExpansionPanelConfiguringUsePanelsBehavior.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/HeaderMigration.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/HeaderMigration.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/NonDestructuredArray.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/NonDestructuredArray.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/SetExpandedIds.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/SetExpandedIds.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/SimpleExample.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/SimpleExample.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/SpreadResult.input.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__testfixtures__/SpreadResult.output.tsx
  packages/codemod/transforms/v5-to-v6/expansion-panel/__tests__/update-expansion-panel-props.ts
  packages/codemod/transforms/v5-to-v6/expansion-panel/__tests__/use-panels-to-use-expansion-panel.ts
  packages/codemod/transforms/v5-to-v6/expansion-panel/update-expansion-panel-props.ts
  packages/codemod/transforms/v5-to-v6/expansion-panel/use-panels-to-use-expansion-panels.ts
  packages/codemod/transforms/v5-to-v6/tooltip/__testfixtures__/useTooltipRemoved.output.tsx
  packages/codemod/transforms/v5-to-v6/tooltip/convert-use-tooltip.ts
  packages/core/src/expansion-panel/ExpansionList.tsx
  packages/core/src/expansion-panel/ExpansionPanel.tsx
  packages/core/src/expansion-panel/expansionPanelStyles.ts
Due: core

chore(codemod): add supported badge migrations
  packages/codemod/transforms/types.ts
  packages/codemod/transforms/utils/addImportSpecifier.ts
  packages/codemod/transforms/utils/isJsxReactNodeItem.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgeContainer.input.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgeContainer.output.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgeKnownTheme.input.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgeKnownTheme.output.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgeUnknownTheme.input.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgeUnknownTheme.output.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgedButton.input.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgedButton.output.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgedButtonUnknownTheme.input.tsx
  packages/codemod/transforms/v5-to-v6/badge/__testfixtures__/BadgedButtonUnknownTheme.output.tsx
  packages/codemod/transforms/v5-to-v6/badge/__tests__/remove-badge-container.ts
  packages/codemod/transforms/v5-to-v6/badge/__tests__/update-badge.ts
  packages/codemod/transforms/v5-to-v6/badge/remove-badge-container.ts
  packages/codemod/transforms/v5-to-v6/badge/update-badge.ts
  packages/core/src/badge/Badge.tsx
Due: core

chore(codemod): add some utils migrations
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tree/CustomTreeItemRendererExample.tsx
  packages/codemod/.prettierignore
  packages/codemod/transforms/utils/renameImportSpecifier.ts
  packages/codemod/transforms/utils/renameImportSpecifiers.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/button/rename-button-theme-class-names.ts
  packages/codemod/transforms/v5-to-v6/button/rename-fab.ts
  packages/codemod/transforms/v5-to-v6/button/rename-unstyled-button.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/DirToWritingDirectionProvider.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/DirToWritingDirectionProvider.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ScrollListenerDocsExample.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ScrollListenerDocsExample.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/SimpleResizeListenerComponent.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/SimpleResizeListenerComponent.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/nearest.input.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/nearest.output.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/useResizeListener.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/useResizeListener.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__tests__/dir-to-writing-direction-provider.ts
  packages/codemod/transforms/v5-to-v6/utils/__tests__/nearest-parameters-to-object.ts
  packages/codemod/transforms/v5-to-v6/utils/__tests__/remove-scroll-listener.ts
  packages/codemod/transforms/v5-to-v6/utils/__tests__/update-resize-listener.ts
  packages/codemod/transforms/v5-to-v6/utils/dir-to-writing-direction-provider.ts
  packages/codemod/transforms/v5-to-v6/utils/nearest-parameters-to-object.ts
  packages/codemod/transforms/v5-to-v6/utils/remove-scroll-listener.ts
  packages/codemod/transforms/v5-to-v6/utils/update-resize-listener.ts
  packages/core/src/media-queries/AppSizeProvider.tsx
  packages/core/src/media-queries/useMediaQuery.ts
  packages/core/src/typography/WritingDirectionProvider.tsx
  packages/core/src/useResizeListener.ts
Due: core, docs

build(deps): bump deps to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): security headers
  apps/docs/next.config.mjs
  apps/docs/src/app/(main)/layout.tsx
  apps/docs/src/app/layout.tsx
Due: docs

chore(codemod): fix some lint errors
  packages/codemod/transforms/v5-to-v6/badge/remove-badge-container.ts
  packages/codemod/transforms/v5-to-v6/tree/get-item-props-to-render-component.ts
  packages/codemod/transforms/v5-to-v6/utils/__tests__/update-resize-listener.ts
Due: none

chore(docs): fix referrer-policy header
  apps/docs/next.config.mjs
Due: docs

chore(docs): remove csp
  apps/docs/next.config.mjs
Due: docs

chore(codemod): finished up supported ResizeListener migrations
  packages/codemod/transforms/utils/getClosestComponentDefinition.ts
  packages/codemod/transforms/utils/insertHookIntoComponent.ts
  packages/codemod/transforms/utils/isRulesOfHooksReturnStatement.ts
  packages/codemod/transforms/utils/negateExpression.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeListenerMultipleReturns.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeListenerMultipleReturns.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/SimpleResizeListenerComponent.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__tests__/update-resize-listener.ts
  packages/codemod/transforms/v5-to-v6/utils/update-resize-listener.ts
Due: none

build: upgrade to pnpm@9.5.0
  .github/workflows/main.yml
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

chore(codemod): add some missing committed files
  packages/codemod/transforms/types.ts
  packages/codemod/transforms/utils/nullishCoalescingCheck.ts
Due: none

chore(codemod): add withinRange migration
  packages/codemod/transforms/utils/isNumericExpression.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/withinRange.input.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/withinRange.output.ts
  packages/codemod/transforms/v5-to-v6/utils/__tests__/within-range-parameters-to-object.ts
  packages/codemod/transforms/v5-to-v6/utils/nearest-parameters-to-object.ts
  packages/codemod/transforms/v5-to-v6/utils/within-range-parameters-to-object.ts
Due: none

chore(docs): remove root layout.tsx
  apps/docs/src/app/layout.tsx
Due: docs

chore(codemod): add useToggle migration
  packages/codemod/transforms/types.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/UseToggleWorstCase.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/UseToggleWorstCase.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__tests__/update-use-toggle-api.ts
  packages/codemod/transforms/v5-to-v6/utils/update-use-toggle-api.ts
  packages/core/src/useToggle.ts
Due: core

build(deps): bump deps to latest and dedupe
  .vim/coc-settings.json
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/codemod/transforms/utils/getImportedName.ts
  packages/core/package.json
  packages/core/src/form/InputToggle.tsx
  packages/core/src/form/Option.tsx
  packages/core/src/menu/MenuConfigurationProvider.tsx
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/test-utils/IntersectionObserver.ts
  packages/core/src/tree/TreeItem.tsx
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(codemod): add isTypescriptFile util
  packages/codemod/transforms/utils/isTypescriptFile.ts
  packages/codemod/transforms/v5-to-v6/expansion-panel/use-panels-to-use-expansion-panels.ts
Due: none

chore(codemod): add useResizeObserver migrations
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverExample.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverExample.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverInlineAllExample.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverInlineAllExample.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverInlineExample.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverInlineExample.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverNewDeclarations.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverNewDeclarations.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverRef.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverRef.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverRefUnknown.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverRefUnknown.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__tests__/update-use-resize-observer-api.ts
  packages/codemod/transforms/v5-to-v6/utils/update-use-resize-observer-api.ts
  packages/core/src/useResizeObserver.ts
Due: core

chore(core): update sheet imports and add tests
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FiltersSheet.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FullScreenVirtualizedList.tsx
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/layout/LayoutNav.tsx
  packages/core/src/layout/useHorizontalLayoutTransition.ts
  packages/core/src/sheet/Sheet.tsx
  packages/core/src/sheet/__tests__/Sheet.tsx
  packages/core/src/sheet/__tests__/__snapshots__/Sheet.tsx.snap
  packages/core/src/sheet/styles.ts
Due: core, docs

chore(codemod): fix material-symbols and to-react-md-imports
  packages/codemod/transforms/v5-to-v6/__testfixtures__/MultipleScopedImports.input.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/MultipleScopedImports.output.tsx
  packages/codemod/transforms/v5-to-v6/__tests__/to-react-md-imports.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/material-symbol-only.output.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/material-symbols.input.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/material-symbols.output.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__tests__/to-symbol.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-symbol.ts
Due: none

chore(icon): use vertical-align: middle instead of bottom
  packages/core/src/icon/_icon.scss
  packages/core/src/icon/styles.ts
Due: core

chore(docs): started adding v5-to-v6 documentation page info
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/TableCheckbox.input.tsx
  packages/codemod/transforms/v5-to-v6/table/__testfixtures__/TableCheckbox.output.tsx
  packages/codemod/transforms/v5-to-v6/table/__tests__/update-table-checkbox-props.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverRefUnknown.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/ResizeObserverRefUnknown.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/useToggle.input.tsx
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/useToggle.output.tsx
  packages/codemod/transforms/v5-to-v6/utils/update-use-resize-observer-api.ts
Due: docs

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
