Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

feat(text-field): added more CSS variable support
  packages/core/src/form/_text-field.scss
  packages/core/src/form/types.ts
Due: core

fix(form): useNumberField should hopefully work correctly in react 19
  packages/core/src/form/useNumberField.ts
Due: core

feat(core): add useDevEffect util
  packages/core/eslint.config.mjs
  packages/core/src/link/SkipToMainContent.tsx
  packages/core/src/link/__tests__/SkipToMainContent.prod.tsx
  packages/core/src/link/__tests__/SkipToMainContent.tsx
  packages/core/src/utils/useDevEffect.ts
Due: core

chore(icon): use config check for dev only
  packages/core/src/icon/config.tsx
Due: core

feat(core): add MEDIA_QUERY_CONFIG mutable object
  apps/docs/src/app/(main)/(markdown)/(demos)/components/core-providers/PassThroughPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/customization/breakpoints/page.mdx
  packages/core/src/CoreProviders.tsx
  packages/core/src/media-queries/AppSizeProvider.tsx
  packages/core/src/media-queries/appSize.ts
  packages/core/src/media-queries/config.ts
  packages/core/src/test-utils/mocks/match-media.ts
Due: core, docs

feat(layout): add a dev error when `temporaryUntil` does not match css
  apps/docs/src/app/(main)/(markdown)/getting-started/layout/page.mdx
  packages/core/src/layout/useExpandableLayout.ts
Due: core, docs

build: bump safe deps to latest
  apps/docs/package.json
  apps/playground/eslint.config.mjs
  apps/playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/test-utils/polyfills/TextEncoder.ts
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: core, docs

test: upgrade to jest30 in other packages
  packages/code/package.json
  packages/code/src/__tests__/__snapshots__/HighlightedCodeBlock.tsx.snap
  packages/codemod/package.json
  packages/docs-generator/package.json
  packages/docs-generator/src/__tests__/__snapshots__/rehype-color-preview.ts.snap
  packages/docs-generator/src/__tests__/__snapshots__/rehype-keyboard-code.ts.snap
  pnpm-lock.yaml
Due: none

feat(core): split form state into multiple types
  packages/core/src/form/types.ts
Due: core

build: bump node to lts (22.20.0)
  apps/docs/package.json
  apps/playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
Due: core, docs

fix(docs-generator): fix compiling scss when @react-md/core is a dep
  packages/docs-generator/src/scripts/create-scss-lookup.ts
  packages/docs-generator/src/utils/compileScssModule.ts
  packages/docs-generator/src/utils/log.ts
Due: none

chore(docs): added SpinButton docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/ControllingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/OnValueChangeCallbackExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/RangedSpinButtonExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/SpinButtonGroupExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/UsingAFallbackExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/layout.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/layout.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

feat(spinbutton): add SpinButton components
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
  packages/core/src/spinbutton/SpinButton.tsx
  packages/core/src/spinbutton/SpinButtonGroupProvider.tsx
  packages/core/src/spinbutton/__tests__/SpinButton.tsx
  packages/core/src/spinbutton/__tests__/SpinButtonGroupProvider.tsx
  packages/core/src/spinbutton/__tests__/__snapshots__/SpinButton.tsx.snap
  packages/core/src/spinbutton/__tests__/__snapshots__/SpinButtonGroupProvider.tsx.snap
  packages/core/src/spinbutton/__tests__/defaults.ts
  packages/core/src/spinbutton/defaults.ts
  packages/core/src/spinbutton/types.ts
  packages/core/src/spinbutton/useSpinButton.ts
  packages/core/src/spinbutton/useSpinButtonGroupProvider.ts
  packages/core/src/spinbutton/utils/__tests__/deselectNode.ts
  packages/core/src/spinbutton/utils/__tests__/resolveInputEvent.ts
  packages/core/src/spinbutton/utils/__tests__/selectNode.ts
  packages/core/src/spinbutton/utils/deselectNode.ts
  packages/core/src/spinbutton/utils/resolveInputEvent.ts
  packages/core/src/spinbutton/utils/selectNode.ts
  packages/core/src/utils/__tests__/getNumberOfDigits.ts
  packages/core/src/utils/getNumberOfDigits.ts
  packages/core/src/utils/nearest.ts
Due: core

feat(core): add focusCurrent to keyboard movement provider
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
Due: core

feat(core): add support for single item list validation in Sass
  packages/core/src/_utils.scss
  packages/sassdoc-generator/src/types.ts
Due: core

test: fix vitest test coverage
  package.json
  packages/core/vitest.config.ts
Due: core

build: bump pnpm to latest
  .github/workflows/main.yml
  apps/docs/package.json
  apps/playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
Due: core, docs

docs: fix sassdoc link
  apps/docs/src/app/(main)/(markdown)/customization/global-configuration/page.mdx
Due: docs

build: sync pnpm version in github actions
  .github/workflows/main.yml
Due: none

feat(core): split SpinButton range options into separate types
  packages/core/src/spinbutton/types.ts
Due: core

feat(window-splitter): move opacity to the pseudo element
  packages/core/src/window-splitter/_window-splitter.scss
Due: core

feat(window-splitter): add support for an inactive background
  packages/core/src/window-splitter/WindowSplitter.tsx
  packages/core/src/window-splitter/__tests__/WindowSplitter.tsx
  packages/core/src/window-splitter/__tests__/__snapshots__/WindowSplitter.tsx.snap
  packages/core/src/window-splitter/_window-splitter.scss
  packages/core/src/window-splitter/styles.ts
  packages/core/vitest.config.ts
Due: core

docs(window-splitter): add inactive background example
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/InactiveBackgroundExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/InactiveBackgroundExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/page.mdx
Due: docs

fix(typography): do not inherit overflow by default
  packages/core/src/typography/_typography.scss
Due: core

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/test-utils/polyfills/TextEncoder.ts
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): migrate from npm-run-all to npm-run-all2
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

build: upgrade node to 24.11.1 (lts) and pnpm to latest
  .github/workflows/main.yml
  apps/docs/package.json
  apps/playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
Due: core, docs

build: update scripts for better turbo caching
  .browserslist
  .github/workflows/main.yml
  .ignore
  .prettierignore
  package.json
  packages/@types__sassdoc/.prettierignore
  packages/@types__sassdoc/.prettierrc.yaml
  packages/@types__sassdoc/package.json
  packages/code/.prettierignore
  packages/code/.prettierrc.yaml
  packages/code/package.json
  packages/codemod/.prettierignore
  packages/codemod/.prettierrc.yaml
  packages/codemod/package.json
  packages/core/.prettierignore
  packages/core/.prettierrc.yaml
  packages/core/package.json
  packages/docs-generator/.prettierignore
  packages/docs-generator/.prettierrc.yaml
  packages/docs-generator/package.json
  packages/eslint-config/.prettierignore
  packages/eslint-config/.prettierrc.yaml
  packages/eslint-config/package.json
  packages/material-icons/.prettierignore
  packages/material-icons/.prettierrc.yaml
  packages/material-icons/package.json
  packages/material-icons/scripts/build.ts
  packages/react-md/.prettierignore
  packages/react-md/.prettierrc.yaml
  packages/react-md/package.json
  packages/sassdoc-generator/.prettierignore
  packages/sassdoc-generator/.prettierrc.yaml
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  turbo.json
Due: core

test(core): fix snapshots after updating WindowSplitter
  packages/core/src/layout/__tests__/__snapshots__/LayoutWindowSplitter.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useResizableLayout.tsx.snap
Due: core

chore: added changesets
  .changeset/crisp-lies-grab.md
  .changeset/eager-suits-care.md
  .changeset/fast-adults-pay.md
  .changeset/floppy-lands-smash.md
  .changeset/happy-ties-hug.md
  .changeset/metal-windows-tap.md
  .changeset/real-baths-check.md
  .changeset/tough-lines-camp.md
Due: none

build(version): version packages
  .changeset/crisp-lies-grab.md
  .changeset/eager-suits-care.md
  .changeset/fast-adults-pay.md
  .changeset/floppy-lands-smash.md
  .changeset/happy-ties-hug.md
  .changeset/metal-windows-tap.md
  .changeset/real-baths-check.md
  .changeset/tough-lines-camp.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

build: fix missing format and lint scripts
  apps/docs/.prettierignore
  apps/docs/.prettierrc.yaml
  apps/docs/package.json
  apps/playground/package.json
Due: docs

build(deps): bump safe deps to latest and fix nextjs vulnerabilities
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/code/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

issue #1471: Sass deprecation warnings with latest Dart Sass (if() function usage) #1471
  packages/core/src/_box-shadows.scss
  packages/core/src/_utils.scss
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/button/_button.scss
  packages/core/src/card/_card.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/dialog/_dialog.scss
  packages/core/src/divider/_divider.scss
  packages/core/src/form/_input-toggle.scss
  packages/core/src/form/_slider.scss
  packages/core/src/form/_switch.scss
  packages/core/src/form/_text-field.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/snackbar/_snackbar.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/theme/_a11y.scss
  packages/core/src/theme/_theme.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core

fix(core): use the new CSS if function syntaxd
  packages/core/src/_box-shadows.scss
  packages/core/src/_utils.scss
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/button/_button.scss
  packages/core/src/card/_card.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/dialog/_dialog.scss
  packages/core/src/divider/_divider.scss
  packages/core/src/form/_input-toggle.scss
  packages/core/src/form/_slider.scss
  packages/core/src/form/_switch.scss
  packages/core/src/form/_text-field.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/snackbar/_snackbar.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/theme/_a11y.scss
  packages/core/src/theme/_theme.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core

fix(core): fixed the Sass circular dependency for divider
  .changeset/seven-steaks-tell.md
  packages/core/src/_core.scss
Due: core

fix(core): use the new if syntax for CSS and Sass
  .changeset/wild-hands-sing.md
  packages/core/src/_box-shadows.scss
  packages/core/src/_utils.scss
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/button/_button.scss
  packages/core/src/card/_card.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/dialog/_dialog.scss
  packages/core/src/divider/_divider.scss
  packages/core/src/form/_input-toggle.scss
  packages/core/src/form/_slider.scss
  packages/core/src/form/_switch.scss
  packages/core/src/form/_text-field.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/snackbar/_snackbar.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/theme/_a11y.scss
  packages/core/src/theme/_theme.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core
