Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

build(version): version packages
  .changeset/orange-toes-share.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

fix(avatar): allow sass variables to be overwritten
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
Due: core, docs

chore(theme): default disable dark-elevation for light theme
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/theme/_theme.scss
Due: core, docs

fix(form): fix switch track variable name
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/_form.scss
Due: core, docs

fix(theme): set dark elevation colors for the light theme
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/theme/_theme.scss
Due: core, docs

feat(list): setting height to auto uses height: auto
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/list/ListItem.tsx
  packages/core/src/list/ListItemLink.tsx
  packages/core/src/list/__tests__/getListItemHeight.ts
  packages/core/src/list/getListItemHeight.ts
  packages/core/src/list/types.ts
  packages/core/src/menu/_menu.scss
Due: core, docs

chore(demos): updated select demos for menu props
  apps/docs/src/app/components/select/MenuOptionsExample.tsx
  apps/docs/src/app/components/select/SelectedIconAfterExample.tsx
  apps/docs/src/app/components/select/demo-page.mdx
  apps/docs/src/app/components/select/demos.mdx
  apps/docs/src/app/components/select/toc.ts
Due: docs

build(version): version packages
  .changeset/pre.json
  .changeset/silent-chefs-invent.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

build(dev-deps): revert to @swc/cli@0.1.63
  packages/core/package.json
  pnpm-lock.yaml
Due: core

build(version): version packages
  .changeset/pre.json
  .changeset/thin-tables-carry.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

fix(form): update form to be a client component
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/apiRoutes.ts
  packages/core/src/form/Form.tsx
Due: core, docs

fix(expansion-panel): focus styles with has selectors enabled
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/expansion-panel/_expansion-panel.scss
Due: core, docs

fix(icon): allow disabling symbol styles
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/icon/_icon.scss
Due: core, docs

fix(label): mostly fixed floating label styles
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/_form.scss
Due: core, docs

chore(core): move layer into style mixins
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
  packages/core/src/_utils.scss
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/badge/_badge.scss
  packages/core/src/box/_box.scss
  packages/core/src/button/_button.scss
  packages/core/src/card/_card.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/dialog/_dialog.scss
  packages/core/src/divider/_divider.scss
  packages/core/src/draggable/_draggable.scss
  packages/core/src/expansion-panel/_expansion-panel.scss
  packages/core/src/form/_form.scss
  packages/core/src/icon/_icon.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/layout/_layout.scss
  packages/core/src/link/_link.scss
  packages/core/src/list/_list.scss
  packages/core/src/menu/_menu.scss
  packages/core/src/overlay/_overlay.scss
  packages/core/src/progress/_progress.scss
  packages/core/src/responsive-item/_responsive-item.scss
  packages/core/src/segmented-button/_segmented-button.scss
  packages/core/src/sheet/_sheet.scss
  packages/core/src/snackbar/_snackbar.scss
  packages/core/src/table/_table.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/tooltip/_tooltip.scss
  packages/core/src/transition/_transition.scss
  packages/core/src/tree/_tree.scss
  packages/core/src/typography/_typography.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core, docs

chore: re-ran formatted
  .prettierignore
  apps/docs/scripts/tsconfig.json
  apps/docs/src/app/components/chip/demo-page.mdx
  apps/docs/src/app/components/icon/demo-page.mdx
  apps/docs/src/app/components/progress/demo-page.mdx
  apps/docs/src/app/components/suspense/demo-page.mdx
  apps/docs/src/app/components/tabs/demo-page.mdx
  apps/docs/src/app/components/tooltip/demo-page.mdx
  apps/docs/src/app/components/tree/demo-page.mdx
  apps/docs/tsconfig.json
  packages/codemod/tsconfig.json
  packages/core/tsconfig.json
  packages/material-icons/scripts/tsconfig.json
  packages/material-icons/tsconfig.json
  scripts/tsconfig.json
Due: core, docs

build: add check-format to main github action
  .github/workflows/main.yml
  package.json
Due: none

build(version): version packages
  .changeset/hip-poems-relate.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  scripts/release.ts
Due: core, docs

build: hopefully fix the release script
  scripts/release.ts
Due: none

fix(form): optional layer being applied
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/_form.scss
Due: core, docs

build(version): version packages
  .changeset/famous-pens-perform.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

chore(core): bump peer dependencies versions
  packages/core/package.json
Due: core

chore(form): Add ListItemChildrenTextProps to MenuItemInputToggleProps
  packages/core/src/form/MenuItemInputToggle.tsx
  packages/core/src/list/types.ts
Due: core

chore(form): move MenuItemInputToggle styles to separate file
  packages/core/src/form/MenuItemInputToggle.tsx
  packages/core/src/form/menuItemInputToggleStyles.ts
  packages/core/src/index.ts
Due: core

chore(form): support custom unchecked iconf or MenuItemInputToggle
  packages/core/src/form/MenuItemInputToggle.tsx
  packages/core/src/form/__tests__/MenuItemCheckbox.tsx
  packages/core/src/form/__tests__/MenuItemRadio.tsx
  packages/core/src/form/__tests__/__snapshots__/MenuItemCheckbox.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/MenuItemRadio.tsx.snap
Due: core

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(menu): add overflow-wrap: anywhere
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/menu/_menu.scss
Due: core, docs

chore(docs): fix demo-page.mdx formatting and scss modules
  apps/docs/src/constants/scssModulesLookup.ts
  apps/docs/src/utils/format.ts
Due: docs

chore(core): remove Typography styling from SrOnly
  packages/core/src/button/__tests__/__snapshots__/Button.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/FileInput.tsx.snap
  packages/core/src/typography/SrOnly.tsx
  packages/core/src/typography/Typography.tsx
  packages/core/src/typography/__tests__/__snapshots__/SrOnly.tsx.snap
Due: core

chore(button): add line-wrap: nowrap by default
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/typography/_typography.scss
Due: core, docs

fix(form): fix Text Field addon position
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/_form.scss
Due: core, docs

chore(docs): fix some UX for material icons and symbols page
  apps/docs/src/app/components/material-icons-and-symbols/FilterStylePanel.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialIconsAndSymbolsProvider.tsx
Due: docs

chore(docs): additional fixes for runnable code
  apps/docs/src/components/DangerouslyRunCode/Runner.tsx
  apps/docs/src/components/DangerouslyRunCode/useDangerouslyRunnableCode.tsx
Due: docs

chore(core): fixed some styles not being removed
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
  packages/core/src/badge/_badge.scss
  packages/core/src/icon/_icon.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/theme/_theme.scss
  packages/core/src/typography/_typography.scss
Due: core, docs

build(version): version packages
  .changeset/pre.json
  .changeset/tasty-trainers-beg.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

build(stylelint): fix stylelint config file locations
  .stylelintignore
  apps/docs/.stylelintignore
  apps/docs/.stylelintrc.json
  apps/docs/package.json
  packages/core/.stylelintrc.json
  packages/core/package.json
  pnpm-lock.yaml
Due: core, docs

feat(test): add TextEncoder and TextDecoder polyfills
  packages/core/jest.config.ts
  packages/core/src/test-utils/polyfills/TextDecoder.ts
  packages/core/src/test-utils/polyfills/TextEncoder.ts
  packages/core/src/test-utils/polyfills/index.ts
Due: core

feat(core): add RootHtml component for nextjs layouts
  packages/core/src/RootHtml.tsx
  packages/core/src/__tests__/RootHtml.node.tsx
  packages/core/src/__tests__/__snapshots__/RootHtml.node.tsx.snap
  packages/core/src/index.ts
Due: core

chore(docs): add next/font/google to ESM typedef fixes
  apps/docs/next-env-custom.d.ts
Due: docs
