Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(docs): add overlay demos
  apps/docs/src/app/components/overlay/InvisibleOverlayExample.tsx
  apps/docs/src/app/components/overlay/OverlayWithContentExample.tsx
  apps/docs/src/app/components/overlay/SimpleOverlayExample.tsx
  apps/docs/src/app/components/overlay/demo-page.mdx
  apps/docs/src/app/components/overlay/demos.mdx
  apps/docs/src/app/components/overlay/toc.ts
Due: docs

chore(docs): additional tweeks to material icons and symbols page
  apps/docs/src/app/components/material-icons-and-symbols/AdditionalChanges.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FilterCategoryPanel.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FilterStylePanel.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FiltersSheet.tsx
  apps/docs/src/app/components/material-icons-and-symbols/HowToUseSheetContent.tsx
  apps/docs/src/app/components/material-icons-and-symbols/IconImportAndUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialIconsAndSymbolsProvider.tsx
  apps/docs/src/app/components/material-icons-and-symbols/NoMatches.tsx
  apps/docs/src/app/components/material-icons-and-symbols/SVGIconImportAndUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/searchParams.ts
  apps/docs/src/app/components/material-icons-and-symbols/types.ts
  apps/docs/src/app/components/material-icons-and-symbols/utils.ts
Due: docs

chore(docs): fix snackbar demos on mobile
  apps/docs/src/app/components/snackbar/demo-page.mdx
  apps/docs/src/app/components/snackbar/demos.mdx
Due: docs

chore(core): test disabling layers for mobile firefox
  apps/docs/_everything.scss
  apps/docs/_overrides.scss
  apps/docs/src/components/RootLayout/RootLayout.module.scss
  apps/docs/src/components/RootLayout/RootLayoutTitle.tsx
  apps/docs/src/components/RootLayout/Search.module.scss
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
Due: core, docs

chore(core): try another mobile firefox fix
  apps/docs/_everything.scss
  apps/docs/_overrides.scss
  apps/docs/src/components/RootLayout/RootLayout.module.scss
  apps/docs/src/components/RootLayout/Search.module.scss
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
Due: core, docs

chore(docs): complete badge demos
  apps/docs/mdx-components.tsx
  apps/docs/src/app/components/badge/BadgePositionExample.module.scss
  apps/docs/src/app/components/badge/BadgePositionExample.tsx
  apps/docs/src/app/components/badge/BadgeThemesExample.tsx
  apps/docs/src/app/components/badge/demo-page.mdx
  apps/docs/src/app/components/badge/demos.mdx
  apps/docs/src/app/components/badge/toc.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/badge/_badge.scss
Due: core, docs

chore(dev-deps): bump dev-deps to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(dialog): fix background-color after var changes
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/dialog/_dialog.scss
Due: core, docs

chore(core): fix stylelint issue
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/badge/_badge.scss
Due: core, docs

chore(docs): add TextIconSpacing demos
  apps/docs/src/app/components/text-icon-spacing/CustomizingSpacingExample.module.scss
  apps/docs/src/app/components/text-icon-spacing/CustomizingSpacingExample.tsx
  apps/docs/src/app/components/text-icon-spacing/IconAfterTextIconSpacingExample.tsx
  apps/docs/src/app/components/text-icon-spacing/SimpleTextIconSpacingExample.tsx
  apps/docs/src/app/components/text-icon-spacing/StackedTextIconSpacingExample.tsx
  apps/docs/src/app/components/text-icon-spacing/demo-page.mdx
  apps/docs/src/app/components/text-icon-spacing/demos.mdx
  apps/docs/src/app/components/text-icon-spacing/toc.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/icon/_icon.scss
Due: core, docs

chore(docs): added IconRotator demos
  apps/docs/src/app/components/icon-rotator/CustomRotationExample.module.scss
  apps/docs/src/app/components/icon-rotator/CustomRotationExample.tsx
  apps/docs/src/app/components/icon-rotator/SimpleExample.tsx
  apps/docs/src/app/components/icon-rotator/demo-page.mdx
  apps/docs/src/app/components/icon-rotator/demos.mdx
  apps/docs/src/app/components/icon-rotator/toc.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/icon/IconRotator.tsx
  packages/core/src/icon/_icon.scss
Due: core, docs

chore(docs): added Typography demos
  apps/docs/src/app/components/typography/Body1Example.tsx
  apps/docs/src/app/components/typography/Body2Example.tsx
  apps/docs/src/app/components/typography/CaptionExample.tsx
  apps/docs/src/app/components/typography/CustomTypographyElement.tsx
  apps/docs/src/app/components/typography/CustomizingTypographyExample.module.scss
  apps/docs/src/app/components/typography/CustomizingTypographyExample.tsx
  apps/docs/src/app/components/typography/Headline1Example.tsx
  apps/docs/src/app/components/typography/Headline2Example.tsx
  apps/docs/src/app/components/typography/Headline3Example.tsx
  apps/docs/src/app/components/typography/Headline4Example.tsx
  apps/docs/src/app/components/typography/Headline5Example.tsx
  apps/docs/src/app/components/typography/Headline6Example.tsx
  apps/docs/src/app/components/typography/OverlineExample.tsx
  apps/docs/src/app/components/typography/Subtitle1Example.tsx
  apps/docs/src/app/components/typography/Subtitle2Example.tsx
  apps/docs/src/app/components/typography/demo-page.mdx
  apps/docs/src/app/components/typography/demos.mdx
  apps/docs/src/app/components/typography/toc.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/typography/_typography.scss
Due: core, docs

chore(docs): fix watch mode for scss modules
  apps/docs/scripts/createMarkdownPages.ts
Due: docs

chore(skeleton-placeholder): more randomizations and tests
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/index.ts
  packages/core/src/transition/SkeletonPlaceholder.tsx
  packages/core/src/transition/__tests__/SkeletonPlaceholder.tsx
  packages/core/src/transition/__tests__/__snapshots__/SkeletonPlaceholder.tsx.snap
  packages/core/src/transition/_transition.scss
  packages/core/src/transition/skeletonPlaceholderUtils.ts
  packages/core/src/transition/useSkeletonPlaceholder.ts
Due: core, docs

chore(docs): added SkeletonPlaceholder demos
  apps/docs/src/app/components/skeleton-placeholder/ConfiguringTheHeightExample.module.scss
  apps/docs/src/app/components/skeleton-placeholder/ConfiguringTheHeightExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/CustomMinAndMaxWidthExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/ReplacingContentExample.module.scss
  apps/docs/src/app/components/skeleton-placeholder/ReplacingContentExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/SimpleExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/SsrOnlyExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/StaticWidthExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/UsingTheHookExample.tsx
  apps/docs/src/app/components/skeleton-placeholder/demo-page.mdx
  apps/docs/src/app/components/skeleton-placeholder/demos.mdx
  apps/docs/src/app/components/skeleton-placeholder/ssr-only/page.module.scss
  apps/docs/src/app/components/skeleton-placeholder/ssr-only/page.tsx
  apps/docs/src/app/components/skeleton-placeholder/toc.ts
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/apiRoutes.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/divider/_divider.scss
  packages/core/src/transition/useSkeletonPlaceholder.ts
Due: core, docs

chore(tab): support rendering as a link
  packages/core/src/tabs/Tab.tsx
  packages/core/src/tabs/__tests__/Tab.tsx
  packages/core/src/tabs/tabStyles.ts
Due: core

chore(tabs): added better support for vertical tabs
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/tabs/Tab.tsx
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/tabs/__tests__/__snapshots__/TabList.tsx.snap
  packages/core/src/tabs/_tabs.scss
  packages/core/src/tabs/tabIndicatorStyles.ts
  packages/core/src/tabs/tabListStyles.ts
  packages/core/src/tabs/tabStyles.ts
  packages/core/src/tabs/useTabList.ts
Due: core, docs

chore(docs): added tabs demos
  apps/docs/src/app/components/slide/demo-page.mdx
  apps/docs/src/app/components/slide/demos.mdx
  apps/docs/src/app/components/slide/page.tsx
  apps/docs/src/app/components/slide/toc.ts
  apps/docs/src/app/components/tabs/ActivationModeExample.tsx
  apps/docs/src/app/components/tabs/ControllingTheActiveTabExample.tsx
  apps/docs/src/app/components/tabs/CustomActiveTabExample.tsx
  apps/docs/src/app/components/tabs/CustomActiveTabIndexExample.tsx
  apps/docs/src/app/components/tabs/CustomScrollBehaviorExample.tsx
  apps/docs/src/app/components/tabs/CustomTabPanelsExample.tsx
  apps/docs/src/app/components/tabs/DisableActiveTabTransitionExample.tsx
  apps/docs/src/app/components/tabs/DisableVerticalActiveTabTransitionExample.tsx
  apps/docs/src/app/components/tabs/LinkTabExample.tsx
  apps/docs/src/app/components/tabs/ScrollableTabsExample.tsx
  apps/docs/src/app/components/tabs/ScrollableTabsWithScrollbarExample.tsx
  apps/docs/src/app/components/tabs/SimpleExample.tsx
  apps/docs/src/app/components/tabs/VerticalTabsExample.module.scss
  apps/docs/src/app/components/tabs/VerticalTabsExample.tsx
  apps/docs/src/app/components/tabs/WithIconsExample.tsx
  apps/docs/src/app/components/tabs/demo-page.mdx
  apps/docs/src/app/components/tabs/demos.mdx
  apps/docs/src/app/components/tabs/toc.ts
  apps/docs/src/constants/navItems.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(list): rename threeLines to multiline and other tweaks
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/MenuItemInputToggle.tsx
  packages/core/src/list/ListItem.tsx
  packages/core/src/list/ListItemAddon.tsx
  packages/core/src/list/ListItemChildren.tsx
  packages/core/src/list/ListItemLink.tsx
  packages/core/src/list/__tests__/ListItem.tsx
  packages/core/src/list/__tests__/__snapshots__/ListItem.tsx.snap
  packages/core/src/list/_list.scss
  packages/core/src/list/listItemStyles.ts
  packages/core/src/list/types.ts
  packages/core/src/tree/TreeItem.tsx
Due: core, docs

chore(app-bar): fix the nav-keyline behavior
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/app-bar/_app-bar.scss
Due: core, docs

chore(docs): added more List/ListItem demos
  .vim/coc-settings.json
  apps/docs/src/app/components/list/AddingClickHandlersExample.tsx
  apps/docs/src/app/components/list/AddingSecondaryTextExample.module.scss
  apps/docs/src/app/components/list/AddingSecondaryTextExample.tsx
  apps/docs/src/app/components/list/AvatarAddonsExample.tsx
  apps/docs/src/app/components/list/DefaultListStylesExample.tsx
  apps/docs/src/app/components/list/DifferentSizesExample.tsx
  apps/docs/src/app/components/list/DisabledListItemExample.tsx
  apps/docs/src/app/components/list/DisablingLeftAddonSpacingExample.tsx
  apps/docs/src/app/components/list/LargeMediaAddonsExample.tsx
  apps/docs/src/app/components/list/ListItemAddonsExample.tsx
  apps/docs/src/app/components/list/ListItemChildrenExample.tsx
  apps/docs/src/app/components/list/MediaAddonsExample.tsx
  apps/docs/src/app/components/list/MultipleLinesOfSecondaryTextExample.module.scss
  apps/docs/src/app/components/list/MultipleLinesOfSecondaryTextExample.tsx
  apps/docs/src/app/components/list/NoninteractiveListExample.tsx
  apps/docs/src/app/components/list/demo-page.mdx
  apps/docs/src/app/components/list/demos.mdx
  apps/docs/src/app/components/list/toc.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(docs): fix missing errors for DangerouslyRunCode in StrictMode
  apps/docs/src/components/DangerouslyRunCode/useDangerouslyRunnableCode.tsx
Due: docs

docs(avatar): allow better hover info for the color prop
  packages/core/src/avatar/Avatar.tsx
Due: core

chore(docs): add TextContainer demos
  apps/docs/src/app/components/text-container/SimpleExample.module.scss
  apps/docs/src/app/components/text-container/SimpleExample.tsx
  apps/docs/src/app/components/text-container/demos.mdx
  apps/docs/src/app/components/text-container/toc.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/typography/_typography.scss
Due: core, docs

chore(docs): fix slider demos scrolling on mobile
  apps/docs/src/app/components/slider/demo-page.mdx
  apps/docs/src/app/components/slider/demos.mdx
Due: docs

chore(core): switch to hover media query instead of touch-only
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_utils.scss
  packages/core/src/form/_form.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core, docs

chore(menu): removed unused styles
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/menu/_menu.scss
Due: core, docs

feat(core): use :focus-visible instead of keyboard-only :focus
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_utils.scss
  packages/core/src/dialog/_dialog.scss
  packages/core/src/form/_form.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/link/_link.scss
  packages/core/src/menu/_menu.scss
  packages/core/src/tree/_tree.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core, docs

feat(expansion-panel): hide box-shadow between closed panels
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/expansion-panel/_expansion-panel.scss
Due: core, docs

feat(core): add useElementSize hook
  packages/core/src/__tests__/useElementSize.tsx
  packages/core/src/index.ts
  packages/core/src/layout/useLayoutAppBarHeight.ts
  packages/core/src/types.ts
  packages/core/src/useElementSize.ts
  packages/core/src/useResizeObserver.ts
  packages/core/src/useWindowSize.ts
Due: core

chore(core): tests for useWindowSize and fixes
  packages/core/src/__tests__/useWindowSize.node.tsx
  packages/core/src/__tests__/useWindowSize.tsx
  packages/core/src/useResizeListener.ts
  packages/core/src/useWindowSize.ts
Due: core

chore(window-splitter): do not use focus-visible
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/window-splitter/_window-splitter.scss
Due: core, docs

chore(core): update some range utils
  packages/core/src/draggable/useDraggable.ts
  packages/core/src/draggable/utils.ts
  packages/core/src/index.ts
  packages/core/src/utils/__tests__/getMiddleOfRange.ts
  packages/core/src/utils/__tests__/getRangeDefaultValue.ts
  packages/core/src/utils/getMiddleOfRange.ts
  packages/core/src/utils/getRangeDefaultValue.ts
  packages/core/src/utils/getRangeSteps.ts
  packages/core/src/utils/nearest.ts
Due: core

chore(core): default to 0 instead of Infinity for use*Size
  packages/core/src/__tests__/useElementSize.tsx
  packages/core/src/__tests__/useWindowSize.node.tsx
  packages/core/src/__tests__/useWindowSize.tsx
  packages/core/src/layout/useLayoutAppBarHeight.ts
  packages/core/src/useElementSize.ts
  packages/core/src/useWindowSize.ts
Due: core

chore(core): update useDraggable to always return the current percentage
  packages/core/src/draggable/useDraggable.ts
  packages/core/src/window-splitter/useWindowSplitter.ts
Due: core

docs(sheet): update position docs
  packages/core/src/sheet/styles.ts
Due: core

chore(slider): fix range slider dragging past min/max
  packages/core/src/draggable/utils.ts
Due: core
