Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
    carryforward: false
  docs:
    paths:
      - apps/docs/
    carryforward: true

build: try codecov fix and skip docs build
  .github/workflows/main.yml
Due: none

build: codecov again
  .github/workflows/main.yml
Due: none

build(codecov): remove carryforward
  codecov.yml
Due: none

bugfix(autocomplete): Prevent event default when pressing enter with open AutoComplete (#1439)
  packages/autocomplete/src/useAutoComplete.ts
Due: none

chore(release): publish v2.9.2
  CHANGELOG.md
  lerna.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/documentation/CHANGELOG.md
  packages/documentation/package.json
  packages/documentation/src/blogs/index.md
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: none

chore(release): publish v3.1.2
  CHANGELOG.md
  lerna.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/documentation/CHANGELOG.md
  packages/documentation/package.json
  packages/documentation/src/blogs/index.md
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: none

chore: fix invalid blog
  packages/documentation/src/blogs/index.md
Due: none

chore(release): publish v4.0.4
  CHANGELOG.md
  README.md
  lerna.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/documentation/CHANGELOG.md
  packages/documentation/package.json
  packages/documentation/src/blogs/index.md
  packages/documentation/src/components/About/README.md
  packages/documentation/src/components/Home/LibraryInfo/OtherPros.tsx
  packages/react-md/CHANGELOG.md
  packages/react-md/README.md
  packages/react-md/package.json
Due: none

chore(release): publish v5.1.5
  CHANGELOG.md
  README.md
  lerna.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/documentation/CHANGELOG.md
  packages/documentation/package.json
  packages/documentation/src/blogs/index.md
  packages/documentation/src/components/About/README.md
  packages/documentation/src/components/Home/LibraryInfo/OtherPros.tsx
  packages/react-md/CHANGELOG.md
  packages/react-md/README.md
  packages/react-md/package.json
Due: none

docs(website): update blog to include additional releases
  packages/documentation/src/blogs/index.md
Due: none

feat(core): add useDebouncedFunction and useThrottledFunction utils
  packages/core/src/__tests__/useAsyncAction.tsx
  packages/core/src/__tests__/useDebouncedFunction.tsx
  packages/core/src/__tests__/useThrottledFunction.tsx
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/useAsyncAction.ts
  packages/core/src/useDebouncedFunction.ts
  packages/core/src/useThrottledFunction.ts
  packages/core/src/useUnmounted.ts
Due: core

chore(core): update findMatchIndex to support no values
  packages/core/src/movement/__tests__/findMatchIndex.ts
  packages/core/src/movement/findMatchIndex.ts
Due: core

chore(core): add missing aria-hidden to MaterialIcon
  packages/core/src/icon/MaterialIcon.tsx
Due: core

chore(menu): added tests and fixed bugs
  packages/core/src/interaction/useElementInteraction.ts
  packages/core/src/menu/DropdownMenu.tsx
  packages/core/src/menu/Menu.tsx
  packages/core/src/menu/MenuBar.tsx
  packages/core/src/menu/MenuButton.tsx
  packages/core/src/menu/MenuItem.tsx
  packages/core/src/menu/MenuItemButton.tsx
  packages/core/src/menu/MenuWidget.tsx
  packages/core/src/menu/__tests__/DropdownMenu.tsx
  packages/core/src/menu/__tests__/MenuBar.tsx
  packages/core/src/menu/__tests__/MenuVisibilityProvider.tsx
  packages/core/src/menu/__tests__/__snapshots__/DropdownMenu.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/MenuBar.tsx.snap
  packages/core/src/menu/__tests__/utils.ts
  packages/core/testSetup/init.ts
Due: core

build(dev-deps): bump dev dependencies to latest and rerun formatter
  .prettierignore
  package.json
  packages/core/.swcrc
  packages/core/package.json
  pnpm-lock.yaml
Due: core

build: update pnpm, fix eslintignores, and remove empty test
  .eslintignore
  .eslintrc.cjs
  packages/core/src/movement/__tests__/findMatchIndex.ts
  pnpm-lock.yaml
Due: core

build(dev-deps): upgrade turbo to 1.10.1
  package.json
  pnpm-lock.yaml
Due: none

chore(core): fix AppSizeProvider for SSR behavior
  packages/core/src/AppSizeProvider.tsx
Due: core

fix(core): fix styles for fixed app bar and tree
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/tree/_tree.scss
Due: core

test(core): add useLocalStorage tests
  packages/core/package.json
  packages/core/src/__tests__/useLocalStorage.tsx
  packages/core/src/theme/ColorSchemeProvider.tsx
  packages/core/src/useLocalStorage.ts
  pnpm-lock.yaml
Due: core

test(core): add some useDropzone tests
  packages/core/src/__tests__/useDropzone.tsx
Due: core

chore(core): possibly fix ResizeObserver loop limit exceeded
  packages/core/src/useResizeObserver.ts
Due: core

build(github): update pnpm version for workflows
  .github/workflows/main.yml
Due: none

chore(docs): fix layouts after local storage changes
  apps/docs/src/components/Layout/useCustomLayout.ts
Due: docs

chore(core): add wait util
  apps/docs/src/api/material/controller.ts
  apps/docs/src/utils/wait.ts
  packages/core/src/utils/__tests__/wait.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/wait.ts
Due: core, docs

test(core): add tests for tabs
  NOTES.md
  packages/core/src/tabs/TabList.tsx
  packages/core/src/tabs/TabListScrollButton.tsx
  packages/core/src/tabs/__tests__/Tab.tsx
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/tabs/__tests__/__snapshots__/Tab.tsx.snap
  packages/core/src/tabs/__tests__/__snapshots__/TabList.tsx.snap
  packages/core/src/tabs/__tests__/useTabs.tsx
  packages/core/src/tabs/useTabList.ts
  packages/core/src/tabs/utils.ts
  packages/core/testSetup/init.ts
Due: core

test(core): added tests for tooltips
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/TooltipHoverModeProvider.tsx
  packages/core/src/tooltip/__tests__/__snapshots__/Tooltip.tsx.snap
  packages/core/src/tooltip/__tests__/utils.ts
  packages/core/src/tooltip/useTooltip.ts
  packages/core/src/tooltip/useTooltipPosition.ts
  packages/core/src/tooltip/utils.ts
Due: core

test(core): added expansion panel tests
  packages/core/src/expansion-panel/ExpansionPanel.tsx
  packages/core/src/expansion-panel/ExpansionPanelHeader.tsx
  packages/core/src/expansion-panel/__tests__/ExpansionPanel.tsx
  packages/core/src/expansion-panel/__tests__/__snapshots__/ExpansionPanel.tsx.snap
  packages/core/src/expansion-panel/useExpansionPanels.ts
Due: core

feat(test-utils): add simple @react-md/test-utils package
  apps/docs/jest.setup.ts
  apps/docs/package.json
  packages/core/package.json
  packages/core/testSetup/init.ts
  packages/test-utils/.eslintignore
  packages/test-utils/.eslintrc.cjs
  packages/test-utils/.gitignore
  packages/test-utils/.swcrc
  packages/test-utils/LICENSE
  packages/test-utils/README.md
  packages/test-utils/package.json
  packages/test-utils/src/intersection-observer-polyfill.ts
  packages/test-utils/src/match-media-polyfill.ts
  packages/test-utils/src/polyfills.ts
  packages/test-utils/src/resize-observer-polyfill.ts
  packages/test-utils/src/scroll-into-view-polyfill.ts
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.types.json
  pnpm-lock.yaml
Due: core, docs

chore(core): added Badge tests and few styling updates
  apps/docs/src/components/BadgeExamples/BadgeExamples.tsx
  apps/docs/src/components/BadgeExamples/WithinButtons.tsx
  packages/core/src/badge/Badge.tsx
  packages/core/src/badge/__tests__/Badge.tsx
  packages/core/src/badge/__tests__/__snapshots__/Badge.tsx.snap
  packages/core/src/badge/_badge.scss
Due: core, docs

chore(core): update FontIcon to render as a span
  apps/docs/src/components/ExpansionPanelExamples/__tests__/__snapshots__/SimpleExample.tsx.snap
  packages/core/src/chip/__tests__/__snapshots__/Chip.tsx.snap
  packages/core/src/expansion-panel/__tests__/__snapshots__/ExpansionPanel.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Checkbox.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Radio.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useCheckboxGroup.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useRadioGroup.tsx.snap
  packages/core/src/icon/FontIcon.tsx
  packages/core/src/icon/__tests__/FontIcon.tsx
  packages/core/src/icon/__tests__/__snapshots__/FontIcon.tsx.snap
  packages/core/src/icon/__tests__/__snapshots__/IconRotator.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/DropdownMenu.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/MenuBar.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/TableCheckbox.tsx.snap
  packages/core/src/tabs/__tests__/__snapshots__/Tab.tsx.snap
Due: core, docs

chore(core): fix flaky tests
  packages/core/src/menu/__tests__/MenuBar.tsx
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/TooltipHoverModeProvider.tsx
Due: core

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/form/__tests__/useFileUpload.tsx
  packages/core/src/form/useFileUpload.ts
  packages/core/src/snackbar/Toast.tsx
  packages/core/src/table/TableCell.tsx
  packages/core/src/typography/Typography.tsx
  packages/material-icons/package.json
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  pnpm-lock.yaml
Due: core, docs

chore(core): updated snackbars and added tests
  packages/core/jest.config.ts
  packages/core/jest.setup.ts
  packages/core/src/snackbar/DefaultToastRenderer.tsx
  packages/core/src/snackbar/Snackbar.tsx
  packages/core/src/snackbar/ToastActionButton.tsx
  packages/core/src/snackbar/ToastCloseButton.tsx
  packages/core/src/snackbar/ToastManagerProvider.tsx
  packages/core/src/snackbar/__tests__/Snackbar.tsx
  packages/core/src/snackbar/__tests__/ToastActionButton.tsx
  packages/core/src/snackbar/__tests__/ToastCloseButton.tsx
  packages/core/src/snackbar/__tests__/__snapshots__/Snackbar.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastActionButton.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastCloseButton.tsx.snap
  packages/core/src/snackbar/index.ts
  packages/core/src/snackbar/useRemoveToast.ts
  packages/core/src/snackbar/useToast.ts
Due: core

chore(core): started adding snackbar toast priority
  apps/docs/src/components/AsyncButton/AsyncButton.tsx
  apps/docs/src/components/SnackbarExamples/SnackbarExamples.tsx
  apps/docs/src/components/SnackbarExamples/ToastPriorityExample.tsx
  packages/core/src/snackbar/DefaultToastRenderer.tsx
  packages/core/src/snackbar/ToastManagerProvider.tsx
Due: core, docs

chore(docs): updated website after snackbar updates
  apps/docs/src/components/Layout/AppToastRenderer.tsx
  apps/docs/src/components/Layout/GeneratingIconsToast.tsx
  apps/docs/src/components/SnackbarExamples/CustomToastRenderer.tsx
  apps/docs/src/components/SnackbarExamples/ToastPriorityExample.module.scss
  apps/docs/src/components/SnackbarExamples/ToastPriorityExample.tsx
  apps/docs/src/utils/delay.ts
Due: docs
