Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(docs): added sheet demos
  apps/docs/src/app/components/sheet/HorizontalSizeExample.tsx
  apps/docs/src/app/components/sheet/SheetPositionsExample.tsx
  apps/docs/src/app/components/sheet/SimpleExample.tsx
  apps/docs/src/app/components/sheet/VerticalSizeExample.tsx
  apps/docs/src/app/components/sheet/demo-page.mdx
  apps/docs/src/app/components/sheet/demos.mdx
  apps/docs/src/app/components/sheet/toc.ts
Due: docs

feat(typography): enable overflow-wrap: break-word by default
  apps/docs/src/app/components/slider/demo-page.mdx
  apps/docs/src/app/components/slider/demos.mdx
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/typography/_typography.scss
Due: core, docs

chore(divider): fix border styles
  apps/docs/src/app/components/divider/VerticalDivider.module.scss
  apps/docs/src/components/CodePreviewContainer.module.scss
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/divider/_divider.scss
Due: core, docs

chore(docs): update generated code
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/apiRoutes.ts
Due: docs

chore(card): apply secondary text color correctly
  packages/core/src/card/CardContent.tsx
  packages/core/src/card/__tests__/__snapshots__/CardHeader.tsx.snap
  packages/core/src/card/__tests__/__snapshots__/CardSubtitle.tsx.snap
  packages/core/src/card/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/card/styles.ts
Due: core

chore(core): update box-shadows to support new hover
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_box-shadows.scss
  packages/core/src/card/_card.scss
Due: core, docs

chore(card): fix header ellipsis behavior
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/card/_card.scss
  packages/core/src/typography/_typography.scss
Due: core, docs

chore(card): added ClickableCard component
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/card/Card.tsx
  packages/core/src/card/ClickableCard.tsx
  packages/core/src/card/__tests__/ClickableCard.tsx
  packages/core/src/card/__tests__/__snapshots__/ClickableCard.tsx.snap
  packages/core/src/card/_card.scss
  packages/core/src/card/styles.ts
  packages/core/src/index.ts
Due: core, docs

chore(docs): added card demos
  apps/docs/src/app/components/card/AdditionalCardComponentsExample.tsx
  apps/docs/src/app/components/card/BorderedExample.tsx
  apps/docs/src/app/components/card/CardGridExample.module.scss
  apps/docs/src/app/components/card/CardGridExample.tsx
  apps/docs/src/app/components/card/CardHeaderAddonsExample.tsx
  apps/docs/src/app/components/card/CardWithMediaExample.tsx
  apps/docs/src/app/components/card/ClickableCardExample.tsx
  apps/docs/src/app/components/card/ExpandableCardExample.module.scss
  apps/docs/src/app/components/card/ExpandableCardExample.tsx
  apps/docs/src/app/components/card/FullWidthCardExample.tsx
  apps/docs/src/app/components/card/RaisableExample.tsx
  apps/docs/src/app/components/card/SimpleExample.tsx
  apps/docs/src/app/components/card/demo-page.mdx
  apps/docs/src/app/components/card/demos.mdx
  apps/docs/src/app/components/card/toc.ts
  apps/docs/src/app/getting-started/layout/README.mdx
  apps/docs/src/app/getting-started/layout/page.tsx
  apps/docs/src/app/getting-started/layout/toc.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/constants/navItems.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(window-splitter): fix missing variable in patch
  packages/core/src/window-splitter/useWindowSplitter.ts
Due: core

chore(app-bar): extend box for additional styling
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/app-bar/AppBar.tsx
  packages/core/src/app-bar/__tests__/__snapshots__/AppBar.tsx.snap
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/layout/__tests__/__snapshots__/LayoutAppBar.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useExpandableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useResizableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useTemporaryLayout.tsx.snap
Due: core, docs

chore(docs): added app bar demos
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/src/app/components/app-bar/AppBarHeightsExample.tsx
  apps/docs/src/app/components/app-bar/AppBarThemesExample.tsx
  apps/docs/src/app/components/app-bar/AppBarTitleKeylineExample.tsx
  apps/docs/src/app/components/app-bar/SimpleExample.tsx
  apps/docs/src/app/components/app-bar/StackedAppBarsExample.tsx
  apps/docs/src/app/components/app-bar/demo-page.mdx
  apps/docs/src/app/components/app-bar/demos.mdx
  apps/docs/src/app/components/app-bar/toc.ts
  apps/docs/src/components/CodePreviewContainer.module.scss
  apps/docs/src/components/CodePreviewContainer.tsx
  apps/docs/src/components/DangerouslyRunCode/RunnableCodePreview.tsx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/types/code.ts
  apps/docs/src/utils/parseCodeBlock.ts
Due: docs

chore(docs): addex expansion panel demos
  apps/docs/src/app/components/expansion-panel/DisableTransitionExample.tsx
  apps/docs/src/app/components/expansion-panel/ExpansionPanelGroupExample.tsx
  apps/docs/src/app/components/expansion-panel/MultipleExpandedPanelsExample.tsx
  apps/docs/src/app/components/expansion-panel/PreventAllPanelsCollapsedExample.tsx
  apps/docs/src/app/components/expansion-panel/SimpleExample.tsx
  apps/docs/src/app/components/expansion-panel/StringBasedPanelPropsExample.tsx
  apps/docs/src/app/components/expansion-panel/TemporaryContentsExample.tsx
  apps/docs/src/app/components/expansion-panel/demo-page.mdx
  apps/docs/src/app/components/expansion-panel/demos.mdx
  apps/docs/src/app/components/expansion-panel/toc.ts
  packages/core/src/expansion-panel/__tests__/ExpansionPanel.tsx
  packages/core/src/expansion-panel/useExpansionPanels.ts
Due: core, docs

build(deps): bump all working deps to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

build(github): use 18.18.2 to fix esm issue
  .github/workflows/main.yml
Due: none

chore(core): fix lint issues
  packages/core/src/utils/__tests__/getRangeDefaultValue.ts
  packages/core/src/window-splitter/useWindowSplitter.ts
Due: core

chore(core): remove disable-transition-layer
  apps/docs/_overrides.scss
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
Due: core, docs

chore(core): fix imports that use .jsx
  packages/core/src/menu/Menu.tsx
  packages/core/src/table/tableCellStyles.ts
Due: core

fix(chip): add overflow to support font icons
  packages/chip/src/_mixins.scss
Due: none

fix(select): port fixed positioning fixes back from v6.0.0
  packages/autocomplete/src/__tests__/__snapshots__/AutoComplete.tsx.snap
  packages/dialog/src/__tests__/__snapshots__/FixedDialog.tsx.snap
  packages/form/src/menu/__tests__/__snapshots__/MenuItemFileInput.tsx.snap
  packages/form/src/menu/__tests__/__snapshots__/MenuItemTextField.tsx.snap
  packages/form/src/select/Select.tsx
  packages/menu/src/__tests__/__snapshots__/MenuBar.tsx.snap
  packages/transition/src/__tests__/__snapshots__/useFixedPositioning.tsx.snap
  packages/utils/src/positioning/__tests__/createHorizonalPosition.ts
  packages/utils/src/positioning/__tests__/createVerticalPosition.ts
  packages/utils/src/positioning/__tests__/getCoord.ts
  packages/utils/src/positioning/createHorizontalPosition.ts
  packages/utils/src/positioning/createVerticalPosition.ts
  packages/utils/src/positioning/getCoord.ts
  packages/utils/src/positioning/getFixedPosition.ts
  packages/utils/src/positioning/getTransformOrigin.ts
  packages/utils/src/positioning/types.ts
Due: none

build: remove dependabot
  .github/dependabot.yml
Due: none

build(release): try setting up the release script from my notes
  package.json
  pnpm-lock.yaml
  scripts/release.ts
  scripts/tsconfig.json
Due: none

chore(tree): start depth at 0 and use standard incrementor
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/layout/__tests__/__snapshots__/useLayoutTree.tsx.snap
  packages/core/src/tree/TreeItem.tsx
  packages/core/src/tree/__tests__/__snapshots__/Tree.tsx.snap
  packages/core/src/tree/_tree.scss
  packages/core/src/tree/styles.ts
Due: core, docs

feat(core): add TooltippedButton
  packages/core/src/button/TooltippedButton.tsx
  packages/core/src/button/__tests__/TooltippedButton.tsx
  packages/core/src/button/__tests__/__snapshots__/TooltippedButton.tsx.snap
  packages/core/src/index.ts
  packages/core/src/tooltip/useTooltip.ts
Due: core

chore(docs): added tree demos
  apps/docs/src/app/components/tree/CustomTreeItemRendererExample.module.scss
  apps/docs/src/app/components/tree/CustomTreeItemRendererExample.tsx
  apps/docs/src/app/components/tree/DecreasingSpacingExample.module.scss
  apps/docs/src/app/components/tree/DecreasingSpacingExample.tsx
  apps/docs/src/app/components/tree/ExpanderIconExample.tsx
  apps/docs/src/app/components/tree/ExpanderIconPositionExample.tsx
  apps/docs/src/app/components/tree/ExpansionModeExample.tsx
  apps/docs/src/app/components/tree/MultiSelectTreeExample.tsx
  apps/docs/src/app/components/tree/SingleSelectTreeExample.tsx
  apps/docs/src/app/components/tree/demo-page.mdx
  apps/docs/src/app/components/tree/demos.mdx
  apps/docs/src/app/components/tree/toc.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/constants/folders.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/tree/DefaultTreeItemRenderer.tsx
  packages/core/src/tree/Tree.tsx
Due: core, docs

chore(core): small sass changes
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/apiRoutes.ts
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
  packages/core/src/transition/_transition.scss
Due: core, docs

chore(docs): add SkipToMainContent demos
  apps/docs/src/app/components/skip-to-main-content/CustomFocusTargetExample.module.scss
  apps/docs/src/app/components/skip-to-main-content/CustomFocusTargetExample.tsx
  apps/docs/src/app/components/skip-to-main-content/CustomLinkStylesExample.module.scss
  apps/docs/src/app/components/skip-to-main-content/CustomLinkStylesExample.tsx
  apps/docs/src/app/components/skip-to-main-content/SimpleSkipToMainContentExample.tsx
  apps/docs/src/app/components/skip-to-main-content/demo-page.mdx
  apps/docs/src/app/components/skip-to-main-content/demos.mdx
  apps/docs/src/app/components/skip-to-main-content/toc.ts
  apps/docs/src/components/ScssCodeEditor.tsx
  apps/docs/src/constants/navItems.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/link/_link.scss
Due: core, docs

chore(docs): add SrOnly demos
  apps/docs/src/app/components/sr-only/SimpleExample.tsx
  apps/docs/src/app/components/sr-only/VisibleWhileFocusedExample.tsx
  apps/docs/src/app/components/sr-only/demo-page.mdx
  apps/docs/src/app/components/sr-only/demos.mdx
  apps/docs/src/app/components/sr-only/toc.ts
Due: docs

chore(docs): add collapse demos
  apps/docs/src/app/components/collapse/DisableTransitionExample.tsx
  apps/docs/src/app/components/collapse/PartialCollapseExample.module.scss
  apps/docs/src/app/components/collapse/PartialCollapseExample.tsx
  apps/docs/src/app/components/collapse/SimpleCollapseExample.tsx
  apps/docs/src/app/components/collapse/SimpleUseCollapseTransitionExample.tsx
  apps/docs/src/app/components/collapse/demo-page.mdx
  apps/docs/src/app/components/collapse/demos.mdx
  apps/docs/src/app/components/collapse/toc.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

fix(table): update TableCheckbox and `TableRadio` to be client components
  packages/core/src/table/TableCheckbox.tsx
  packages/core/src/table/TableRadio.tsx
Due: core

test(core): added suspense tests
  packages/core/src/suspense/__tests__/CircularProgressSuspense.tsx
  packages/core/src/suspense/__tests__/NullSuspense.tsx
  packages/core/src/suspense/__tests__/__snapshots__/CircularProgressSuspense.tsx.snap
Due: core

chore(docs): fix serverErrors and serverState folder location
  apps/docs/src/app/layout.tsx
  apps/docs/src/constants/rmdConfig.tsx
  apps/docs/src/providers/RootProviders.tsx
  apps/docs/src/utils/serverErrors.ts
  apps/docs/src/utils/serverState.ts
Due: docs

chore(docs): added CSS Transition demos
  apps/docs/src/app/components/css-transition/AppearTransitionExample.module.scss
  apps/docs/src/app/components/css-transition/AppearTransitionExample.tsx
  apps/docs/src/app/components/css-transition/CSSOnlyAppearTransitionExample.module.scss
  apps/docs/src/app/components/css-transition/CSSOnlyAppearTransitionExample.tsx
  apps/docs/src/app/components/css-transition/DisplayNoneExample.module.scss
  apps/docs/src/app/components/css-transition/DisplayNoneExample.tsx
  apps/docs/src/app/components/css-transition/SimpleCSSTransitionExample.module.scss
  apps/docs/src/app/components/css-transition/SimpleCSSTransitionExample.tsx
  apps/docs/src/app/components/css-transition/SimpleUseCSSTransitionExample.module.scss
  apps/docs/src/app/components/css-transition/SimpleUseCSSTransitionExample.tsx
  apps/docs/src/app/components/css-transition/TemporaryElementsTransitionsExample.module.scss
  apps/docs/src/app/components/css-transition/TemporaryElementsTransitionsExample.tsx
  apps/docs/src/app/components/css-transition/demo-page.mdx
  apps/docs/src/app/components/css-transition/demos.mdx
  apps/docs/src/app/components/css-transition/toc.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(docs): added suspense demos
  apps/docs/src/app/components/suspense/CircularProgressSuspenseExample.tsx
  apps/docs/src/app/components/suspense/NullSuspenseExample.tsx
  apps/docs/src/app/components/suspense/demos.mdx
  apps/docs/src/app/components/suspense/toc.ts
Due: docs

build(deps): bump dependencies to latest
  apps/docs/package.json
  apps/docs/src/constants/scssModulesLookup.ts
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore: fix type errors
  apps/docs/src/app/components/tooltip/OverflowOnlyTooltipExample.tsx
  apps/docs/src/components/GithubLink.tsx
  packages/core/src/tree/__tests__/Tree.tsx
Due: core, docs

chore(docs): additional fixes to DangerouslyRunCode
  apps/docs/src/components/DangerouslyRunCode/DangerouslyRunCode.tsx
  apps/docs/src/components/DangerouslyRunCode/README.md
  apps/docs/src/components/DangerouslyRunCode/useDangerouslyRunnableCode.tsx
Due: docs

chore(docs): fix generated code
  apps/docs/src/app/components/tooltip/demo-page.mdx
Due: docs

build(release): maybe fix release script
  package.json
  pnpm-lock.yaml
  scripts/release.ts
Due: none
