Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

build: bump safe deps to latest
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/.gitignore
  apps/vite-playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/expansion-panel/__tests__/__snapshots__/ExpansionPanel.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useLayoutTree.tsx.snap
  packages/core/src/transition/__tests__/__snapshots__/Collapse.tsx.snap
  packages/core/src/transition/__tests__/__snapshots__/useCollapseTransition.tsx.snap
  packages/core/src/tree/__tests__/__snapshots__/Tree.tsx.snap
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

feat(vite-material-symbols-plugin): track new icons
  .changeset/quick-bees-wash.md
  packages/vite-material-symbols-plugin/package.json
  packages/vite-material-symbols-plugin/src/index.ts
  pnpm-lock.yaml
Due: none

build(version): version package
  .changeset/funky-beers-admire.md
  .changeset/quick-bees-wash.md
  .changeset/spotty-mice-start.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/next-playground/CHANGELOG.md
  apps/next-playground/package.json
  apps/vite-playground/CHANGELOG.md
  apps/vite-playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
  packages/vite-material-symbols-plugin/CHANGELOG.md
  packages/vite-material-symbols-plugin/package.json
Due: core, docs

build: fix pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

build: bump pnpm to 10.33.0
  .github/workflows/main.yml
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
Due: core, docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/next-playground/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build: update labeler
  .github/labeler.yml
Due: none

build: hopefully fix labeler
  .github/labeler.yml
  .github/workflows/label.yml
Due: none

build: add dependabot.yml for github-actions
  .github/dependabot.yml
Due: none

fix(core): material symbols url when using multiple families
  .changeset/five-houses-search.md
  packages/core/src/icon/__tests__/getMaterialSymbolsUrl.ts
  packages/core/src/icon/getMaterialSymbolsUrl.ts
Due: core

build: fix clean command
  packages/vite-material-symbols-plugin/package.json
Due: none

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump vite to v8
  apps/vite-playground/package.json
  apps/vite-playground/vite.config.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core

build: next.config.mjs -> next.config.ts
  apps/docs/next.config.ts
Due: docs

build(docs): try enabling react compiler
  apps/docs/next.config.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: docs

build(deps): bump typescript to v7 beta
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build: try fixing tests failing in CI only
  package.json
Due: none

build: hopefully increase build speed for doc website
  .prettierrc.yaml
  apps/docs/package.json
  package.json
  turbo.json
Due: docs

build(deps): bump ts-morph to v28
  packages/core/package.json
  packages/docs-generator/package.json
  pnpm-lock.yaml
Due: core

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/vite-playground/package.json
  packages/code/package.json
  packages/core/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build: almost eliminate tsx
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/scripts/tsconfig.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
  scripts/tsconfig.json
Due: core, docs

fix(react-md): added missing a11y scss file
  .changeset/slimy-places-stand.md
  packages/react-md/package.json
  packages/react-md/scripts/copySassFiles.ts
  packages/react-md/scripts/tsconfig.json
  packages/react-md/src/_a11y.scss
  pnpm-lock.yaml
Due: none

build: bump node to 24.15.0 and pnpm to 10.33.2
  .github/workflows/main.yml
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
Due: core, docs

fix: correct StatesConnfig to StatesConfig in v5-to-v6 migration guide
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
Due: docs

fix(icon): always prefer inline style and props
  .changeset/fuzzy-radios-read.md
  packages/core/src/icon/__tests__/MaterialSymbol.tsx
  packages/core/src/icon/materialConfig.ts
Due: core

fix(form): useTextFieldContainerAddons uses correct custom property name
  .changeset/two-pets-cheer.md
  packages/core/src/form/useTextFieldContainerAddons.ts
Due: core

build(version): version package
  .changeset/fuzzy-radios-read.md
  .changeset/two-pets-cheer.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/next-playground/CHANGELOG.md
  apps/next-playground/package.json
  apps/vite-playground/CHANGELOG.md
  apps/vite-playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
  packages/vite-material-symbols-plugin/CHANGELOG.md
  packages/vite-material-symbols-plugin/package.json
Due: core, docs

build: migrate from volta to mise
  .github/workflows/main.yml
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  examples/mlaursen-nextjs/mise.toml
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/mise.toml
  examples/mlaursen-vite/package.json
  mise.toml
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
Due: core, docs

build: upgrade pnpm to v11.13.0
  .github/workflows/main.yml
  examples/mlaursen-nextjs/mise.toml
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/mise.toml
  mise.toml
  package.json
  pnpm-workspace.yaml
Due: none

build: bump @changesets/cli and @mlaursen/release-script to latest
  package.json
  pnpm-lock.yaml
Due: none

build: bump dev deps to latest
  apps/docs/package.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build: bump @mlaursen/eslint-config to latest
  packages/core/src/draggable/__tests__/useDraggable.tsx
  packages/core/src/progress/__tests__/CircularProgress.tsx
  packages/core/src/progress/__tests__/LinearProgress.tsx
  packages/core/src/spinbutton/__tests__/SpinButton.tsx
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: core

build: bump vitest packages to latest
  apps/vite-playground/package.json
  packages/core/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core

build: fix bad pnpm version
  .github/workflows/main.yml
  mise.toml
  package.json
  pnpm-lock.yaml
Due: none

build: bump react and next to latest
  apps/docs/package.json
  apps/docs/tsconfig.next.json
  apps/next-playground/package.json
  apps/vite-playground/package.json
  packages/code/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build: fix invalid ts-expect-error after bumping deps
  packages/codemod/src/transforms/v5-to-v6/utils/update-use-resize-observer-api.ts
Due: none
