Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore: fix some eslint issues and docs
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/layout.tsx
  apps/docs/src/app/sitemap.ts
  apps/docs/src/utils/serverState.ts
  apps/docs/tsconfig.eslint.json
  packages/core/src/autocomplete/AutocompleteChip.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
Due: core, docs

build(deps): bump safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore: update export map
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/react-md/src/index.ts
Due: none

build: update watchers after upgrading chokidar
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/watchDemos.ts
  packages/core/scripts/copySassFiles.ts
  packages/react-md/scripts/copySassFiles.ts
Due: core, docs

chore(dialog): always use dialog container to prevent unmounting
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/DialogContainer.tsx
  packages/core/src/dialog/__tests__/Dialog.tsx
  packages/core/src/dialog/__tests__/__snapshots__/Dialog.tsx.snap
  packages/core/src/dialog/_dialog.scss
  packages/core/src/dialog/styles.ts
Due: core

chore(dialog): fix the disableTransition not working correctly
  packages/core/src/dialog/Dialog.tsx
Due: core

pref(listbox): use a set for values checking
  packages/core/src/form/Listbox.tsx
Due: core

fix(form): floating label styles for LastPass
  packages/core/src/form/_form.scss
Due: core

chore(autocomplete): added creatable example
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CreatableAutocompleteExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/OptionPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/defaults.ts
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/autocomplete/utils.ts
Due: core, docs

chore(autocomplete): add support for highlightable options using getOptionProps
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/HighlightsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteListboxChildren.tsx
  packages/core/src/autocomplete/types.ts
  pnpm-lock.yaml
Due: core, docs

feat: allow components to individually disable ripple
  packages/core/src/button/Button.tsx
  packages/core/src/card/ClickableCard.tsx
  packages/core/src/chip/Chip.tsx
  packages/core/src/files/FileInput.tsx
  packages/core/src/form/InputToggle.tsx
  packages/core/src/interaction/types.ts
  packages/core/src/interaction/useElementInteraction.tsx
  packages/core/src/list/ListItem.tsx
  packages/core/src/list/ListItemLink.tsx
  packages/core/src/navigation/NavItemLink.tsx
  packages/core/src/segmented-button/SegmentedButton.tsx
  packages/core/src/tabs/Tab.tsx
  packages/core/src/tree/TreeItem.tsx
Due: core

feat: allow useFixedPositioning to be disabled
  packages/core/src/menu/Menu.tsx
  packages/core/src/positioning/useFixedPositioning.ts
  packages/core/src/tooltip/useTooltip.ts
Due: core

feat(combobox): allow the visibility to be controlled
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/form/useCombobox.ts
  packages/core/src/form/useEditableCombobox.ts
  packages/core/src/form/useSelectCombobox.ts
Due: core

chore(option): allow the disableSelectedIcon prop
  packages/core/src/form/Listbox.tsx
  packages/core/src/form/ListboxProvider.ts
  packages/core/src/form/Option.tsx
Due: core

chore(autocomplete): add updateQueryOnSelect prop and additional demos
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GettingTheCurrentValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GithubLabelPickerExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GithubLabelPickerExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  apps/docs/src/constants/githubLabels.ts
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteListboxChildren.tsx
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
Due: core, docs

chore: fix export map and autosuggest-highlight in demos
  package.json
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/codemod/tsconfig.build.json
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteListboxChildren.tsx
  packages/core/src/autocomplete/types.ts
  packages/docs-generator/src/utils/generateDemoFile.ts
  packages/react-md/src/index.ts
  turbo.json
Due: core

chore: add additional autocomplete examples
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisablingTheClearAndDropdownButtonsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  packages/core/src/form/Option.tsx
  packages/core/src/form/optionStyles.ts
Due: core, docs

chore(core): updates for documenting scss
  packages/core/src/_core.scss
  packages/core/src/_utils.scss
  packages/core/src/interaction/UserInteractionModeProvider.tsx
  packages/core/src/scroll/useScrollLock.ts
  packages/core/src/typography/_typography.scss
Due: core

chore(docs): reorganize nav items and add form
  apps/docs/src/app/(main)/(markdown)/(demos)/components/form/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/form/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

feat(dialog): added support for different widths
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/DialogWidths.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/DialogWidths.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/page.mdx
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/_dialog.scss
  packages/core/src/dialog/styles.ts
Due: core, docs

build(docs): fix missing scss-lookup watcher
  apps/docs/package.json
Due: docs

chore(core): start adding sassdoc
  apps/docs/src/app/(main)/(markdown)/(demos)/components/app-bar/AppBarTitleKeylineExample.tsx
  apps/docs/src/components/MainLayout/MainTitle.tsx
  packages/code/src/CodeBlockAppBar.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/_box-shadows.scss
  packages/core/src/_core.scss
  packages/core/src/_object-fit.scss
  packages/core/src/_utils.scss
  packages/core/src/app-bar/AppBar.tsx
  packages/core/src/app-bar/AppBarTitle.tsx
  packages/core/src/app-bar/__tests__/AppBar.tsx
  packages/core/src/app-bar/__tests__/AppBarTitle.tsx
  packages/core/src/app-bar/__tests__/__snapshots__/AppBar.tsx.snap
  packages/core/src/app-bar/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/app-bar/__tests__/styles.ts
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/app-bar/styles.ts
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/badge/Badge.tsx
  packages/core/src/badge/_badge.scss
  packages/core/src/badge/styles.ts
  packages/core/src/box/_box.scss
  packages/core/src/button/_button.scss
  packages/core/src/card/_card.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/icon/_icon.scss
  packages/core/src/theme/_a11y.scss
  packages/core/src/theme/_colors.scss
  packages/core/src/theme/_theme.scss
Due: core, docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/docs/src/app/(main)/components/material-icons-and-symbols/utils.ts
  package.json
  packages/code/package.json
  packages/code/src/HighlightedCodeBlock.tsx
  packages/code/src/HighlightedCodeBlockWithAppBar.tsx
  packages/codemod/package.json
  packages/codemod/rmd-codemod.ts
  packages/codemod/updateDocs.cjs
  packages/core/package.json
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/form/Slider.tsx
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(version): version packages
  .changeset/lucky-chairs-serve.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

build(deps): revert typescript to 5.5.4 since it broke tests
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): fix some styling and docs
  apps/docs/public/prism-themes/0dd9bc8824fd31dd.min.css
  apps/docs/public/prism-themes/3516b127e246b234.min.css
  apps/docs/public/prism-themes/ad4cf4d8bf00e461.min.css
  apps/docs/public/prism-themes/beb64ac6b3ce6bcb.min.css
  apps/docs/public/prism-themes/de476b82cb81da51.min.css
  apps/docs/public/prism-themes/f35b8154c6b86dcc.min.css
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomizingInlineChipsExample.tsx
  apps/docs/src/components/DemoCode/ScssCodeEditor.tsx
  apps/docs/src/constants/prismThemes.ts
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/docs-generator/src/scripts/vim-solarized-dark.scss
Due: docs

fix(select): floating label styles
  packages/core/src/form/_form.scss
Due: core

build: commit pnpm-lock.yml
  pnpm-lock.yaml
Due: none

ci(codeql): update codeql workflow to latest version
  .github/workflows/codeql-analysis.yml
Due: none

chore(select): do not line-wrap selected option
  packages/core/src/form/SelectedOption.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
Due: core

docs(test): add some simple jest testing docs
  apps/docs/src/app/(main)/(markdown)/testing/jest/page.mdx
  packages/core/src/test-utils/ResizeObserver.ts
  packages/core/src/test-utils/matchMedia.ts
  packages/core/src/useResizeObserver.ts
Due: core, docs

chore(core): update docs and tests
  packages/core/src/utils/__tests__/alphaNumericSort.ts
  packages/core/src/utils/alphaNumericSort.ts
  packages/core/src/utils/bem.ts
Due: core

chore(docs): changes to support upcoming ts docs
  apps/docs/mdx-components.tsx
  apps/docs/src/app/(main)/HomePageSection.tsx
  apps/docs/src/components/CustomMdxComponents.module.scss
  apps/docs/src/components/CustomMdxComponents.tsx
  apps/docs/src/utils/slug.ts
  packages/core/eslint.config.mjs
  packages/core/src/files/validation.ts
  packages/core/src/icon/FontIcon.tsx
  packages/core/src/icon/TextIconSpacing.tsx
  packages/core/src/utils/RenderRecursively.tsx
  packages/docs-generator/eslint.config.mjs
Due: core, docs

build: bump pnpm to 9.14.1
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

test: try making less flakey tests
  package.json
  packages/core/src/navigation/__tests__/NavItemButton.tsx
Due: core

build(deps): bump safe deps to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

style: re-run formatter after upgrading prettier
  apps/docs/_overrides.scss
  apps/docs/src/app/(main)/HomePageSection.module.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/form/_form.scss
Due: core, docs

fix(a11y): colors don't always have an int color channel
  packages/core/src/theme/_a11y.scss
Due: core

build(deps): update safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/navigation/__tests__/NavItemLink.tsx
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(version): version packages
  .changeset/pre.json
  .changeset/spotty-ghosts-wait.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs
