Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

chore(docs): add chip demos
  apps/docs/src/app/components/chip/ChipThemeExample.tsx
  apps/docs/src/app/components/chip/ChipWithAddonsExample.tsx
  apps/docs/src/app/components/chip/ChipWithCircularProgressExample.tsx
  apps/docs/src/app/components/chip/CustomSelectedIconExample.tsx
  apps/docs/src/app/components/chip/DisabledChipExample.tsx
  apps/docs/src/app/components/chip/PresentationalChipsExample.tsx
  apps/docs/src/app/components/chip/SelectableChipExample.tsx
  apps/docs/src/app/components/chip/SelectedIconAfterExample.tsx
  apps/docs/src/app/components/chip/SimpleChipExample.tsx
  apps/docs/src/app/components/chip/ThemedSelectedStateExample.tsx
  apps/docs/src/app/components/chip/demo-page.mdx
  apps/docs/src/app/components/chip/demos.mdx
  apps/docs/src/app/components/chip/toc.ts
  apps/docs/src/app/components/divider/demo-page.mdx
  apps/docs/src/app/components/divider/demos.mdx
  apps/docs/src/app/components/tooltip/demo-page.mdx
  apps/docs/src/app/components/tooltip/demos.mdx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
Due: docs

chore(chip): fix some styling issues
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/chip/__tests__/__snapshots__/Chip.tsx.snap
  packages/core/src/chip/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/chip/_chip.scss
  packages/core/src/chip/styles.ts
Due: core, docs

chore(progress): require an aria-label or aria-labelledby for a11y
  apps/docs/src/app/Showcase.tsx
  apps/docs/src/app/components/chip/ChipWithCircularProgressExample.tsx
  apps/docs/src/app/components/chip/demo-page.mdx
  apps/docs/src/app/components/progress/CircularProgressSizes.tsx
  apps/docs/src/app/components/progress/CircularProgressTheme.tsx
  apps/docs/src/app/components/progress/DeterminateCircularProgress.tsx
  apps/docs/src/app/components/progress/DisableDeterminateTransition.tsx
  apps/docs/src/app/components/progress/LinearProgressTheme.tsx
  apps/docs/src/app/components/progress/PerformanceConcerns.tsx
  apps/docs/src/app/components/progress/SimpleCircularProgress.tsx
  apps/docs/src/app/components/progress/SimpleLinearProgress.tsx
  apps/docs/src/app/components/progress/demo-page.mdx
  apps/docs/src/app/components/progress/demos.mdx
  apps/docs/src/app/components/switch/SwitchWithCircularProgress.tsx
  apps/docs/src/app/components/switch/demo-page.mdx
  apps/docs/src/app/components/tooltip/ProgressbarTooltipExample.tsx
  apps/docs/src/app/components/tooltip/demo-page.mdx
  apps/docs/src/components/ScssCodeEditor.tsx
  apps/docs/src/components/WebsiteConfiguration/CircularProgressOverlaySuspense.tsx
  packages/core/src/__tests__/useAsyncAction.tsx
  packages/core/src/button/AsyncButton.tsx
  packages/core/src/button/__tests__/__snapshots__/AsyncButton.tsx.snap
  packages/core/src/form/__tests__/Switch.tsx
  packages/core/src/form/__tests__/__snapshots__/Switch.tsx.snap
  packages/core/src/progress/CircularProgress.tsx
  packages/core/src/progress/LinearProgress.tsx
  packages/core/src/progress/__tests__/CircularProgress.tsx
  packages/core/src/progress/__tests__/LinearProgress.tsx
  packages/core/src/progress/__tests__/__snapshots__/CircularProgress.tsx.snap
  packages/core/src/progress/__tests__/__snapshots__/LinearProgress.tsx.snap
  packages/core/src/suspense/CircularProgressSuspense.tsx
Due: core, docs

chore: fix some performance recommendations and links in website
  apps/docs/src/app/getting-started/installation/README.mdx
  apps/docs/src/components/RootLayout/CollapsibleNavigationItemGroup.tsx
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/form/_form.scss
Due: core, docs

build(docs): update demos to import interfaces
  apps/docs/scripts/utils/typescript.ts
Due: docs

chore(table): fix hAlign on TableCell after cssUtils refactor
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
  packages/core/src/table/TableCell.tsx
  packages/core/src/table/__tests__/__snapshots__/Table.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/TableBody.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/TableCheckbox.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/TableRow.tsx.snap
  packages/core/src/table/_table.scss
Due: core, docs

chore(table): add support for TableRadio component
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/index.ts
  packages/core/src/table/TableCell.tsx
  packages/core/src/table/TableCheckbox.tsx
  packages/core/src/table/TableRadio.tsx
  packages/core/src/table/__tests__/TableRadio.tsx
  packages/core/src/table/__tests__/__snapshots__/TableRadio.tsx.snap
  packages/core/src/table/_table.scss
Due: core, docs

chore(docs): started table demos
  apps/docs/src/app/components/radio/demo-page.mdx
  apps/docs/src/app/components/radio/demos.mdx
  apps/docs/src/app/components/table/ContainerBasedStickyTableExample.module.scss
  apps/docs/src/app/components/table/ContainerBasedStickyTableExample.tsx
  apps/docs/src/app/components/table/CustomizingSortIconExample.tsx
  apps/docs/src/app/components/table/DisableBordersExample.tsx
  apps/docs/src/app/components/table/DisableHoverExample.tsx
  apps/docs/src/app/components/table/ScrollableTableExample.tsx
  apps/docs/src/app/components/table/SelectableRowsExample.tsx
  apps/docs/src/app/components/table/SelectableRowsWithCheckboxExample.tsx
  apps/docs/src/app/components/table/SelectableRowsWithRadioExample.tsx
  apps/docs/src/app/components/table/SimpleTableExample.tsx
  apps/docs/src/app/components/table/SortableColumnsExample.tsx
  apps/docs/src/app/components/table/StickyColumnsExample.module.scss
  apps/docs/src/app/components/table/StickyColumnsExample.tsx
  apps/docs/src/app/components/table/UpdatingSelectedRowColorExample.module.scss
  apps/docs/src/app/components/table/UpdatingSelectedRowColorExample.tsx
  apps/docs/src/app/components/table/ViewportBasedStickyTableExample.module.scss
  apps/docs/src/app/components/table/ViewportBasedStickyTableExample.tsx
  apps/docs/src/app/components/table/demo-page.mdx
  apps/docs/src/app/components/table/demos.mdx
  apps/docs/src/app/components/table/toc.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/components/MarkdownPage/MarkdownPage.module.scss
  apps/docs/src/constants/desserts.ts
  apps/docs/src/constants/scssLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/table/TableCell.tsx
  packages/core/src/table/TableCellContent.tsx
Due: core, docs

chore(docs): update all demos to use scss modules when styles are needed
  apps/docs/src/app/components/avatar/AvatarBorders.module.scss
  apps/docs/src/app/components/avatar/AvatarBorders.tsx
  apps/docs/src/app/components/avatar/CustomAvatarColors.module.scss
  apps/docs/src/app/components/avatar/CustomAvatarColors.tsx
  apps/docs/src/app/components/avatar/demo-page.mdx
  apps/docs/src/app/components/divider/CustomizingDivider.module.scss
  apps/docs/src/app/components/divider/CustomizingDivider.tsx
  apps/docs/src/app/components/divider/InsetDivider.module.scss
  apps/docs/src/app/components/divider/InsetDivider.tsx
  apps/docs/src/app/components/divider/VerticalDivider.module.scss
  apps/docs/src/app/components/divider/VerticalDivider.tsx
  apps/docs/src/app/components/divider/demo-page.mdx
  apps/docs/src/app/components/material-icons-and-symbols/FiltersSheet.module.scss
  apps/docs/src/app/components/material-icons-and-symbols/FiltersSheet.tsx
  apps/docs/src/app/components/slider/CustomizingSliderMarks.module.scss
  apps/docs/src/app/components/slider/CustomizingSliderMarks.tsx
  apps/docs/src/app/components/slider/LinkedWithATextField.module.scss
  apps/docs/src/app/components/slider/LinkedWithATextField.tsx
  apps/docs/src/app/components/slider/SliderMarks.module.scss
  apps/docs/src/app/components/slider/SliderMarks.tsx
  apps/docs/src/app/components/slider/demo-page.mdx
  apps/docs/src/app/components/switch/SwitchWithCircularProgress.module.scss
  apps/docs/src/app/components/switch/SwitchWithCircularProgress.tsx
  apps/docs/src/app/components/switch/demo-page.mdx
  apps/docs/src/app/components/table/ScrollableTableExample.module.scss
  apps/docs/src/app/components/table/ScrollableTableExample.tsx
  apps/docs/src/app/components/table/demo-page.mdx
  apps/docs/src/app/components/text-field/NonIconAddons.module.scss
  apps/docs/src/app/components/text-field/NonIconAddons.tsx
  apps/docs/src/app/components/text-field/demo-page.mdx
  apps/docs/src/app/components/tooltip/CustomTooltipExample.module.scss
  apps/docs/src/app/components/tooltip/CustomTooltipExample.tsx
  apps/docs/src/app/components/tooltip/ProgressbarTooltipExample.module.scss
  apps/docs/src/app/components/tooltip/ProgressbarTooltipExample.tsx
  apps/docs/src/app/components/tooltip/demo-page.mdx
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

build: enable codeql analysis for next branch
  .github/workflows/codeql-analysis.yml
Due: none

build: bump actions/labeler from v4.0.0 to v4.3.0
  .github/workflows/label.yml
Due: none

build: bump actions/setup-node from 3 to 4
  .github/workflows/main.yml
Due: none

build: bump actions/checkout from 3 to 4
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
Due: none

build: use less specific pnpm actions
  .github/workflows/main.yml
Due: none

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: docs

chore: run prettier after upgrading
  apps/docs/src/app/components/avatar/demo-page.mdx
  apps/docs/src/app/components/button/demo-page.mdx
  apps/docs/src/app/components/carousel/demo-page.mdx
  apps/docs/src/app/components/checkbox/demo-page.mdx
  apps/docs/src/app/components/chip/demo-page.mdx
  apps/docs/src/app/components/dialog/demo-page.mdx
  apps/docs/src/app/components/divider/demo-page.mdx
  apps/docs/src/app/components/file-input/demo-page.mdx
  apps/docs/src/app/components/form-message/demo-page.mdx
  apps/docs/src/app/components/icon/demo-page.mdx
  apps/docs/src/app/components/link/demo-page.mdx
  apps/docs/src/app/components/list/demo-page.mdx
  apps/docs/src/app/components/material-icons-and-symbols/utils.ts
  apps/docs/src/app/components/menu/demo-page.mdx
  apps/docs/src/app/components/native-select/demo-page.mdx
  apps/docs/src/app/components/progress/demo-page.mdx
  apps/docs/src/app/components/radio/demo-page.mdx
  apps/docs/src/app/components/segmented-button/demo-page.mdx
  apps/docs/src/app/components/select/demo-page.mdx
  apps/docs/src/app/components/slider/demo-page.mdx
  apps/docs/src/app/components/switch/demo-page.mdx
  apps/docs/src/app/components/table/demo-page.mdx
  apps/docs/src/app/components/text-field/demo-page.mdx
  apps/docs/src/app/components/tooltip/demo-page.mdx
Due: docs

build(docs): update watcher to restart for scss lookup
  apps/docs/package.json
  apps/docs/scripts/createMarkdownPages.ts
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/mdx-pages.json
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/scripts/utils/getScriptFlags.ts
  apps/docs/scripts/utils/isRebasing.ts
  pnpm-lock.yaml
Due: docs

chore(tabs): set max-width to correctly overflow in flex/grid
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/tabs/_tabs.scss
Due: core, docs

refactor(table): move style utilities into separate files
  packages/core/src/table/Table.tsx
  packages/core/src/table/TableCell.tsx
  packages/core/src/table/TableContainer.tsx
  packages/core/src/table/TableFooter.tsx
  packages/core/src/table/TableHeader.tsx
  packages/core/src/table/TableRow.tsx
  packages/core/src/table/__tests__/Table.tsx
  packages/core/src/table/__tests__/TableRow.tsx
  packages/core/src/table/__tests__/__snapshots__/Table.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/TableRow.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/tableContainerStyles.ts.snap
  packages/core/src/table/__tests__/__snapshots__/tableRowStyles.ts.snap
  packages/core/src/table/__tests__/__snapshots__/tableStyles.ts.snap
  packages/core/src/table/__tests__/tableContainerStyles.ts
  packages/core/src/table/__tests__/tableRowStyles.ts
  packages/core/src/table/__tests__/tableStyles.ts
  packages/core/src/table/tableCellStyles.ts
  packages/core/src/table/tableContainerStyles.ts
  packages/core/src/table/tableFooterStyles.ts
  packages/core/src/table/tableHeaderStyles.ts
  packages/core/src/table/tableRowStyles.ts
  packages/core/src/table/tableStyles.ts
Due: core

chore(table): update isStickyActive to provide container flag
  packages/core/src/table/TableFooter.tsx
  packages/core/src/table/TableHeader.tsx
  packages/core/src/table/types.ts
Due: core

chore(table): add stickyActiveClassName prop
  packages/core/src/table/TableFooter.tsx
  packages/core/src/table/TableHeader.tsx
  packages/core/src/table/tableFooterStyles.ts
  packages/core/src/table/tableHeaderStyles.ts
  packages/core/src/table/types.ts
Due: core

chore(docs): additional table demos
  apps/docs/src/app/components/chip/demo-page.mdx
  apps/docs/src/app/components/icon/demo-page.mdx
  apps/docs/src/app/components/progress/demo-page.mdx
  apps/docs/src/app/components/table/CustomizingSortIconExample.tsx
  apps/docs/src/app/components/table/DisableStickyActiveStylesExample.module.scss
  apps/docs/src/app/components/table/DisableStickyActiveStylesExample.tsx
  apps/docs/src/app/components/table/StickyActiveStylesExample.module.scss
  apps/docs/src/app/components/table/StickyActiveStylesExample.tsx
  apps/docs/src/app/components/table/demo-page.mdx
  apps/docs/src/app/components/table/demos.mdx
  apps/docs/src/app/components/table/toc.ts
  apps/docs/src/app/components/tooltip/demo-page.mdx
  apps/docs/src/components/ScssCodeEditor.module.scss
  apps/docs/src/components/ScssCodeEditor.tsx
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/table/tableFooterStyles.ts
  packages/core/src/table/tableHeaderStyles.ts
Due: core, docs

chore(table): add missing exports
  packages/core/src/index.ts
Due: core

build(version): version packages
  .changeset/gentle-gifts-arrive.md
  .changeset/pre.json
  .changeset/sharp-months-draw.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

chore(snackbar): fix some issues
  packages/core/src/snackbar/DefaultToastRenderer.tsx
  packages/core/src/snackbar/Snackbar.tsx
  packages/core/src/snackbar/Toast.tsx
  packages/core/src/snackbar/ToastManager.tsx
  packages/core/src/snackbar/__tests__/Snackbar.tsx
  packages/core/src/snackbar/__tests__/ToastManagerProvider.tsx
  packages/core/src/snackbar/__tests__/__snapshots__/Snackbar.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastManagerProvider.tsx.snap
Due: core

chore(badge): add light and dark theme support for default color
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/_core.scss
  packages/core/src/badge/_badge.scss
  packages/core/src/segmented-button/_segmented-button.scss
Due: core, docs

chore(docs): enable --watch-only for mdx-pages and small type tweaks
  .ignore
  apps/docs/scripts/mdx-pages.json
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/src/components/DangerouslyRunCode/RunnableCodePreview.tsx
  apps/docs/src/components/DangerouslyRunCode/RunnableCodePreviewContainer.tsx
  apps/docs/src/components/FullDemoEditor.tsx
  apps/docs/src/components/HighlightedCodeBlock.tsx
  apps/docs/src/types/code.ts
  apps/docs/src/utils/parseCodeBlock.ts
Due: docs

chore(docs): use custom ToastManager for website
  apps/docs/src/components/MarkdownPage/MarkdownPage.tsx
  apps/docs/src/providers/RootProviders.tsx
  apps/docs/src/toasts.ts
Due: docs

chore(docs): remove generating-icons old code
  apps/docs/src/components/AppToastRenderer.tsx
  apps/docs/src/components/AppToastRenderer/AppToastRenderer.module.scss
  apps/docs/src/providers/RootProviders.tsx
  apps/docs/src/toasts.ts
Due: docs

chore(docs): fix success and error blockquote colors
  apps/docs/_everything.scss
  apps/docs/src/components/Blockquote.tsx
  apps/docs/src/constants/scssLookup.ts
Due: docs

chore(docs): started adding snackbar demos
  .vim/coc-settings.json
  apps/docs/src/app/components/snackbar/ActionAndCloseButtonExample.tsx
  apps/docs/src/app/components/snackbar/ActionableToastExample.tsx
  apps/docs/src/app/components/snackbar/AddACloseButtonExample.tsx
  apps/docs/src/app/components/snackbar/CloseButtonPropsExample.tsx
  apps/docs/src/app/components/snackbar/CustomActionButtonExample.tsx
  apps/docs/src/app/components/snackbar/CustomToastManagerExample.tsx
  apps/docs/src/app/components/snackbar/CustomToastVisibleTimeExample.tsx
  apps/docs/src/app/components/snackbar/MultipleLinesToastExample.tsx
  apps/docs/src/app/components/snackbar/MultipleVisibleToastsExample.module.scss
  apps/docs/src/app/components/snackbar/MultipleVisibleToastsExample.tsx
  apps/docs/src/app/components/snackbar/PreventingDuplicateToastsExample.tsx
  apps/docs/src/app/components/snackbar/RequireAnActionExample.tsx
  apps/docs/src/app/components/snackbar/SimpleToastExample.tsx
  apps/docs/src/app/components/snackbar/ToastPriorityExample.module.scss
  apps/docs/src/app/components/snackbar/ToastPriorityExample.tsx
  apps/docs/src/app/components/snackbar/ToastThemeExample.tsx
  apps/docs/src/app/components/snackbar/demo-page.mdx
  apps/docs/src/app/components/snackbar/demos.mdx
  apps/docs/src/app/components/snackbar/toc.ts
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(docs): started adding badge demos
  apps/docs/src/app/components/badge/SimpleBadgedButtonExample.tsx
  apps/docs/src/app/components/badge/demos.mdx
  apps/docs/src/app/components/badge/toc.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
Due: docs

chore(docs): complete most snackbar demos
  apps/docs/mdx-components.tsx
  apps/docs/src/app/components/snackbar/CustomToastRendererExample.tsx
  apps/docs/src/app/components/snackbar/SnackbarPositionExample.tsx
  apps/docs/src/app/components/snackbar/StackedToastExample.tsx
  apps/docs/src/app/components/snackbar/ToastPriorityExample.module.scss
  apps/docs/src/app/components/snackbar/demo-page.mdx
  apps/docs/src/app/components/snackbar/demos.mdx
  apps/docs/src/app/components/snackbar/toc.ts
  apps/docs/src/app/getting-started/installation/README.mdx
  apps/docs/src/components/CodeEditor/CodeEditorWithPreview.tsx
  apps/docs/src/components/TypescriptCodeEditor.tsx
  apps/docs/src/constants/scssModulesLookup.ts
  packages/core/src/snackbar/ToastManager.tsx
Due: core, docs

chore(docs): fix link demo page and missing scss lookups
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/src/app/components/link/demo-page.mdx
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

build(version): version packages
  .changeset/pre.json
  .changeset/tidy-tips-sort.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  turbo.json
Due: core, docs

chore(portal): add support for ref containers
  packages/core/src/portal/PortalContainerProvider.tsx
  packages/core/src/portal/__tests__/PortalContainerProvider.tsx
Due: core

chore(docs): added simple Portal demos
  apps/docs/src/app/components/portal/CustomPortalContainer.tsx
  apps/docs/src/app/components/portal/SimplePortalExample.tsx
  apps/docs/src/app/components/portal/demo-page.mdx
  apps/docs/src/app/components/portal/demos.mdx
  apps/docs/src/app/components/portal/toc.ts
Due: docs

chore(select): scroll selected into view within sheets
  packages/core/src/form/Select.tsx
Due: core

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
