Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

docs; fix typos in testing recipes
  apps/docs/src/app/(main)/(markdown)/testing/recipes/AutocompleteFindAndChangeValue.tsx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/MenuItemFileInput.tsx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/TabVerifySelectedTabAndChangeTabs.tsx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
Due: docs

build: bump safe deps to latest
  apps/docs/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

build(core): bump to 6.0.0-alpha.21 to be less confusing
  packages/core/package.json
Due: core

build(deps): bump safe deps to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

fix(docs): fix missing metadataBase warning
  apps/docs/src/app/(main)/opengraph-image.png
  apps/docs/src/constants/metadata.ts
Due: docs

build(deps): revert @swc/cli to 0.6.0 since watch mode broke
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core

docs: fix version dropdown after setting version to v6
  apps/docs/src/components/MainLayout/VersionDropdown.tsx
Due: docs

feat(icon): add currentcolor theme
  packages/core/src/icon/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/icon/__tests__/styles.ts
  packages/core/src/icon/_icon.scss
  packages/core/src/icon/styles.ts
Due: core

feat(layout): allow any media query for temporary state
  packages/core/src/layout/__tests__/useExpandableLayout.tsx
  packages/core/src/layout/_layout.scss
  packages/core/src/layout/useExpandableLayout.ts
  packages/core/src/media-queries/_media-queries.scss
Due: core

docs: update navigation layout breakpoint
  apps/docs/_overrides.scss
  apps/docs/src/components/MainLayout/MainLayout.module.scss
  apps/docs/src/components/MainLayout/MainLayout.tsx
  apps/docs/src/components/MarkdownPage.module.scss
Due: docs

feat(box): allow the gap to be disabled only vertically or horizontally
  packages/core/src/box/__tests__/Box.tsx
  packages/core/src/box/_box.scss
  packages/core/src/box/styles.ts
Due: core

chore(examples): add nextjs examples
  examples/nextjs-js/.gitignore
  examples/nextjs-js/README.md
  examples/nextjs-js/_everything.scss
  examples/nextjs-js/eslint.config.mjs
  examples/nextjs-js/jsconfig.json
  examples/nextjs-js/next.config.mjs
  examples/nextjs-js/package.json
  examples/nextjs-js/src/app/favicon.ico
  examples/nextjs-js/src/app/layout.js
  examples/nextjs-js/src/app/layout.scss
  examples/nextjs-js/src/app/page.js
  examples/nextjs-js/src/components/MainNavigation.js
  examples/nextjs-js/src/components/RootLayout.js
  examples/nextjs-js/src/components/RootProviders.js
  examples/nextjs-js/src/rmdConfig.js
  examples/nextjs-ts/.gitignore
  examples/nextjs-ts/README.md
  examples/nextjs-ts/_everything.scss
  examples/nextjs-ts/eslint.config.mjs
  examples/nextjs-ts/next.config.ts
  examples/nextjs-ts/package-lock.json
  examples/nextjs-ts/package.json
  examples/nextjs-ts/src/app/favicon.ico
  examples/nextjs-ts/src/app/layout.scss
  examples/nextjs-ts/src/app/layout.tsx
  examples/nextjs-ts/src/app/page.tsx
  examples/nextjs-ts/src/components/MainNavigation.tsx
  examples/nextjs-ts/src/components/RootLayout.tsx
  examples/nextjs-ts/src/components/RootProviders.tsx
  examples/nextjs-ts/src/rmdConfig.tsx
  examples/nextjs-ts/tsconfig.json
Due: none

chore(examples): add mlaursen-nextjs example
  examples/mlaursen-nextjs/.gitignore
  examples/mlaursen-nextjs/.husky/pre-commit
  examples/mlaursen-nextjs/.lazy.lua
  examples/mlaursen-nextjs/.prettierignore
  examples/mlaursen-nextjs/.prettierrc.yaml
  examples/mlaursen-nextjs/README.md
  examples/mlaursen-nextjs/_everything.scss
  examples/mlaursen-nextjs/eslint.config.mjs
  examples/mlaursen-nextjs/jest.config.ts
  examples/mlaursen-nextjs/jest.setup.ts
  examples/mlaursen-nextjs/next-custom.d.ts
  examples/mlaursen-nextjs/next-env.d.ts
  examples/mlaursen-nextjs/next.config.ts
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-nextjs/src/app/app.scss
  examples/mlaursen-nextjs/src/app/favicon.ico
  examples/mlaursen-nextjs/src/app/layout.tsx
  examples/mlaursen-nextjs/src/app/page.tsx
  examples/mlaursen-nextjs/src/app/robots.ts
  examples/mlaursen-nextjs/src/components/MainNavigation.tsx
  examples/mlaursen-nextjs/src/components/RootLayout.tsx
  examples/mlaursen-nextjs/src/components/RootProviders.tsx
  examples/mlaursen-nextjs/src/rmdConfig.tsx
  examples/mlaursen-nextjs/tsconfig.json
  examples/mlaursen-nextjs/tsconfig.test.json
Due: none

docs: add example-projects page
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleLink.module.scss
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleLink.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleProject.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleProjects.module.scss
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleProjects.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/nextjs.svg
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/page.mdx
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/vitejs.svg
  apps/docs/src/app/(main)/(markdown)/getting-started/installation/page.mdx
  apps/docs/src/app/(main)/(markdown)/getting-started/layout/page.mdx
  apps/docs/src/app/(main)/getting-started/example-projects/page.tsx
Due: docs

docs(examples): fix nextjs-ts README
  examples/nextjs-ts/README.md
Due: none

chore(examples): update examples to be runnable in web containers
  examples/nextjs-js/next.config.mjs
  examples/nextjs-js/package.json
  examples/nextjs-ts/next.config.ts
  examples/nextjs-ts/package-lock.json
  examples/nextjs-ts/package.json
Due: none

chore(examples): update mlaursen-* examples
  examples/mlaursen-nextjs/README.md
  examples/mlaursen-nextjs/eslint.config.mjs
  examples/mlaursen-nextjs/jest.config.ts
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-nextjs/pnpm-lock.yaml
  examples/mlaursen-nextjs/src/app/__tests__/__snapshots__/page.tsx.snap
  examples/mlaursen-nextjs/src/app/__tests__/page.tsx
  examples/mlaursen-nextjs/src/rmdConfig.tsx
  examples/mlaursen-nextjs/src/test-utils.tsx
  examples/mlaursen-vite/README.md
  examples/mlaursen-vite/eslint.config.js
  examples/mlaursen-vite/package.json
  examples/mlaursen-vite/pnpm-lock.yaml
  examples/mlaursen-vite/src/__tests__/App.tsx
Due: none

docs: add react-router-framework-mode and update other examples
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleProject.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/ExampleProjects.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/example-projects/reactrouter.svg
  examples/mlaursen-vite/src/App.tsx
  examples/mlaursen-vite/src/RootLayout.tsx
  examples/nextjs-js/README.md
  examples/nextjs-ts/README.md
  examples/react-router-framework-mode/.dockerignore
  examples/react-router-framework-mode/.gitignore
  examples/react-router-framework-mode/Dockerfile
  examples/react-router-framework-mode/README.md
  examples/react-router-framework-mode/_everything.scss
  examples/react-router-framework-mode/app/MainNavigation.tsx
  examples/react-router-framework-mode/app/RootLayout.tsx
  examples/react-router-framework-mode/app/RootProviders.tsx
  examples/react-router-framework-mode/app/app.scss
  examples/react-router-framework-mode/app/root.tsx
  examples/react-router-framework-mode/app/routes.ts
  examples/react-router-framework-mode/app/routes/home.tsx
  examples/react-router-framework-mode/app/welcome/welcome.tsx
  examples/react-router-framework-mode/package.json
  examples/react-router-framework-mode/public/favicon.ico
  examples/react-router-framework-mode/react-router.config.ts
  examples/react-router-framework-mode/rmdConfig.tsx
  examples/react-router-framework-mode/tsconfig.json
  examples/react-router-framework-mode/vite.config.ts
  examples/vite-js/README.md
  examples/vite-ts/README.md
Due: docs

test: make MenuItemFileInput test less flakey
  packages/core/src/form/__tests__/MenuItemFileInput.tsx
Due: core

docs(core): added missing docs to currentColor
  packages/core/src/theme/types.ts
Due: core

feat(slider): allow name to be passed to slider inputs
  packages/core/src/form/Slider.tsx
  packages/core/src/form/SliderThumb.tsx
  packages/core/src/form/__tests__/Slider.tsx
  packages/core/src/form/__tests__/__snapshots__/Slider.tsx.snap
  packages/core/src/form/sliderUtils.ts
Due: core

fix(core): update useCSSVariables to return CSSProperties
  packages/core/src/theme/__tests__/useCSSVariables.tsx
  packages/core/src/theme/useCSSVariables.ts
Due: core

feat(code): allow the ColorPreview to be displayed as an icon
  packages/code/src/ColorPreview.tsx
  packages/code/src/_code.scss
Due: none

build(docs): use branch name for dev docs server
  apps/docs/package.json
  apps/docs/scripts/createEnv.ts
Due: docs

fix(docs): some fixes after changing layout breakpoint
  apps/docs/_overrides.scss
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/DevRegenDialog.tsx
  apps/docs/src/components/TableOfContents/TableOfContents.module.scss
Due: docs

docs: fix ScssCodeEditor to allow hiding errors to edit
  apps/docs/src/components/DemoCode/ScssCodeEditor.tsx
  apps/docs/src/components/DemoCode/ScssCodeError.module.scss
  apps/docs/src/components/DemoCode/ScssCodeError.tsx
Due: docs

docs(colors): updated colors page for playground and merged pages
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/colors/Color.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/colors/Color.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/ColorHeadingWrapper.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/colors/ColorHeadingWrapper.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/ColorPalette.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/colors/ColorPalette.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/ColorPickerLink.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/Playground.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/colors/Playground.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/PlaygroundContainer.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/PrimaryOrSecondaryPicker.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/SimplePreview.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/colors/SimplePreview.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/material-design-color-picker.png
  apps/docs/src/app/(main)/(markdown)/customization/colors/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/theme/page.mdx
  apps/docs/src/components/ColorPickerTextField.module.scss
  apps/docs/src/components/ColorPickerTextField.tsx
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/MaterialColorRadioGroup/MaterialColorRadio.module.scss
  apps/docs/src/components/MaterialColorRadioGroup/MaterialColorRadio.tsx
  apps/docs/src/components/MaterialColorRadioGroup/MaterialColorRadioGroup.module.scss
  apps/docs/src/components/MaterialColorRadioGroup/MaterialColorRadioGroup.tsx
  apps/docs/src/components/MaterialColorShadeSlider.module.scss
  apps/docs/src/components/MaterialColorShadeSlider.tsx
  apps/docs/src/constants/theme.ts
  apps/docs/src/utils/strings.ts
  apps/docs/src/utils/theme.ts
Due: docs

refactor(docs): move sass utils closer to root
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocReferenceLinkList.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
  apps/docs/src/components/MarkdownLink.tsx
  apps/docs/src/components/WebsiteSearch/useAlgoliaSearchItems.ts
  apps/docs/src/constants/sassdocGroups.ts
  apps/docs/src/utils/sassdoc.ts
Due: docs

feat(docs): allow scss code to be compiled without requiring a demo
  apps/docs/src/components/CompiledScssCodeBlock/CompiledScssCodeBlock.tsx
  apps/docs/src/components/CompiledScssCodeBlock/CompiledScssCodeBlockContainer.tsx
  apps/docs/src/components/CustomMdxComponents.tsx
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/docs-generator/src/utils/compileScssCode.ts
  packages/docs-generator/src/utils/createJsxNode.ts
Due: docs

docs: add How to Customize and Sass Theme API doc pages
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/customization/breakpoints/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/colors/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/how-to-customize/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/sass-theme-api/AvailableSassAPI.tsx
  apps/docs/src/app/(main)/(markdown)/customization/sass-theme-api/page.mdx
  apps/docs/src/app/(main)/(markdown)/getting-started/installation/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  pnpm-lock.yaml
Due: docs

build(deps): update eslint config to latest and stylelint-order
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  package.json
  packages/code/eslint.config.mjs
  packages/code/package.json
  packages/codemod/package.json
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

docs: fix search to show colors instead of theme
  apps/docs/src/components/WebsiteSearch/NotYetSearched.tsx
Due: docs

fix(dialog): remove the DialogContainer when rendering custom dialogs
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/DialogContainer.tsx
  packages/core/src/dialog/FixedDialog.tsx
  packages/core/src/layout/__tests__/__snapshots__/useTemporaryLayout.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/DropdownMenu.tsx.snap
  packages/core/src/sheet/__tests__/__snapshots__/Sheet.tsx.snap
Due: core

feat(sheet): allow it to be raised while overlay is disabled
  packages/core/src/layout/LayoutNav.tsx
  packages/core/src/sheet/Sheet.tsx
  packages/core/src/sheet/styles.ts
Due: core

docs(core): added missing sassdoc
  packages/core/src/chip/_chip.scss
  packages/core/src/dialog/_dialog.scss
Due: core

fix(core): split theme into multiple files for RSC
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/contrast-color/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/theme-provider/KnownThemeExample.tsx
  apps/docs/src/components/LoadThemeStyles/DarkTheme.tsx
  apps/docs/src/components/LoadThemeStyles/LightTheme.tsx
  apps/docs/src/components/LoadThemeStyles/SystemTheme.tsx
  apps/docs/src/constants/theme.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/theme/ThemeProvider.tsx
  packages/core/src/theme/__tests__/ThemeProvider.tsx
  packages/core/src/theme/constants.ts
  packages/core/src/theme/getDerivedTheme.ts
  packages/core/src/theme/types.ts
  packages/react-md/src/index.ts
Due: core, docs

docs: allow customizing website colors
  apps/docs/src/app/(main)/(markdown)/customization/colors/Playground.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/colors/Playground.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/PrimaryOrSecondaryPicker.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/SimplePreview.tsx
  apps/docs/src/app/(main)/(markdown)/customization/colors/usePlaygroundColors.ts
  apps/docs/src/app/(main)/layout.tsx
  apps/docs/src/components/ColorPickerTextField.tsx
  apps/docs/src/components/CustomTheme/CustomThemeProvider.tsx
  apps/docs/src/components/CustomTheme/useCustomThemeContext.ts
  apps/docs/src/components/MainLayout/WebsiteConfiguration.tsx
  apps/docs/src/components/RootProviders.tsx
  apps/docs/src/constants/cookies.ts
  apps/docs/src/utils/clientCookies.ts
  apps/docs/src/utils/serverCookies.ts
  apps/docs/src/utils/serverState.ts
  apps/docs/src/utils/theme.ts
Due: docs

feat(window-splitter): improve perf and add more variables
  packages/core/src/_base.scss
  packages/core/src/layout/_layout.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core

feat(core): allow easier nesting of theme colors
  apps/docs/src/app/(main)/(markdown)/customization/colors/usePlaygroundColors.ts
  packages/core/src/card/_card.scss
  packages/core/src/form/_form.scss
  packages/core/src/menu/_menu.scss
  packages/core/src/progress/_progress.scss
  packages/core/src/progress/types.ts
  packages/core/src/table/_table.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/theme/_theme.scss
Due: core, docs

docs: make theme builder and material icons pages take full viewport
  apps/docs/src/components/MainLayout/MainLayout.tsx
Due: docs
