Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

chore(tab): fix some vertical styles and add convenience props
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/CustomScrollBehaviorExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/DisableActiveTabTransitionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/DisableVerticalActiveTabTransitionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/VerticalScrollableTabsExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/VerticalScrollableTabsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/VerticalTabsExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/VerticalTabsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/page.mdx
  packages/core/src/tabs/Tab.tsx
  packages/core/src/tabs/TabListScrollButton.tsx
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/tabs/_tabs.scss
  packages/core/src/tabs/tabListScrollButtonStyles.ts
  packages/core/src/tabs/useTabList.ts
  packages/core/src/tabs/useTabs.ts
Due: core, docs

chore(docs): scroll active toc item into view
  apps/docs/src/components/TableOfContents/RenderTableOfContentsItem.tsx
Due: docs

chore(codemod): create new utils
  packages/codemod/transforms/utils/createConst.ts
  packages/codemod/transforms/utils/createDestructuredConst.ts
  packages/codemod/transforms/utils/createTypedIdentifier.ts
  packages/codemod/transforms/utils/insertHookIntoComponent.ts
  packages/codemod/transforms/utils/isJsxExpressionContainer.ts
  packages/codemod/transforms/v5-to-v6/expansion-panel/use-panels-to-use-expansion-panels.ts
  packages/codemod/transforms/v5-to-v6/tooltip/convert-use-tooltip.ts
  packages/codemod/transforms/v5-to-v6/tree/get-item-props-to-render-component.ts
  packages/codemod/transforms/v5-to-v6/utils/update-resize-listener.ts
  packages/codemod/transforms/v5-to-v6/utils/update-use-resize-observer-api.ts
Due: none

chore(codemod): added supported tabs migration
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/utils/createLet.ts
  packages/codemod/transforms/utils/createTypedIdentifier.ts
  packages/codemod/transforms/utils/isTypeOfExpression.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/ConfigurableTabs.input.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/ConfigurableTabs.output.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/PersistentTabs.input.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/PersistentTabs.output.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/SimpleTabExample.input.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/SimpleTabExample.output.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/TwoPageTabExample.input.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__testfixtures__/TwoPageTabExample.output.tsx
  packages/codemod/transforms/v5-to-v6/tabs/__tests__/update-tabs-api.ts
  packages/codemod/transforms/v5-to-v6/tabs/update-tabs-api.ts
  packages/codemod/transforms/v5-to-v6/utils/update-resize-listener.ts
  packages/core/src/tabs/useTabs.ts
  packages/core/src/transition/SlideContainer.tsx
Due: core, docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): add uncommited stuff
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
Due: docs

build(deps): bump deps to latest
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core

chore(codemod): add supported list migrations
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/types.ts
  packages/codemod/transforms/utils/isJsxExpressionContainer.ts
  packages/codemod/transforms/utils/isPropConditionalExpression.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/DeprecatedListItemLinkProps.input.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/DeprecatedListItemLinkProps.output.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/DeprecatedListItemProps.input.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/DeprecatedListItemProps.output.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/ListItemLink.input.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/ListItemLink.output.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/ListItemTextChildrenProp.input.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/ListItemTextChildrenProp.output.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/SimpleListItem.input.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/SimpleListItem.output.tsx
  packages/codemod/transforms/v5-to-v6/list/__tests__/update-list-item-props.ts
  packages/codemod/transforms/v5-to-v6/list/update-list-item-props.ts
  packages/core/src/list/ListSubheader.tsx
Due: core, docs

build: reduce installation size with npmignore
  packages/code/.npmignore
  packages/core/.npmignore
  packages/material-icons/.npmignore
  packages/react-md/.npmignore
Due: core

build(version): version packages
  .changeset/gold-singers-remember.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

chore(core): fix list class name utility test
  packages/core/src/list/__tests__/List.tsx
  packages/core/src/list/__tests__/__snapshots__/List.tsx.snap
  packages/core/src/list/__tests__/__snapshots__/listStyles.ts.snap
  packages/core/src/list/__tests__/listStyles.ts
Due: core

chore(form): update some FormMessageContainer styles
  packages/core/src/form/FormMessageContainer.tsx
  packages/core/src/form/Label.tsx
  packages/core/src/form/MenuItemTextField.tsx
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/form/TextArea.tsx
  packages/core/src/form/TextField.tsx
  packages/core/src/form/TextFieldContainer.tsx
  packages/core/src/form/_form.scss
  packages/core/src/form/formMessageContainerStyles.ts
  packages/core/src/form/textFieldContainerStyles.ts
  packages/core/src/form/types.ts
Due: core

feat(core): update NativeSelect to pass error and theme to TextFieldContainer
  packages/core/src/form/NativeSelect.tsx
Due: core

chore(docs): remove stretch prop
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-select/HelpAndErrorText.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-select/NativeSelectTheme.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-select/RequiredNativeSelect.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-select/RequiredWithAPlaceholder.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-select/SimpleNativeSelect.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-field/AutomaticAddonPaddingExample.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FilterStylePanel.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/SearchAndFilters.tsx
Due: docs

chore(docs): fix carousel styles after tabs updates
  apps/docs/src/app/(main)/(markdown)/(demos)/components/carousel/CarouselExample.module.scss
Due: docs

chore(docs): add window splitter docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/HorizontalResizableSheetExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/RelativeHorizontalExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/RelativeHorizontalExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/RelativeVerticalExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/ReversedHorizontalResizableSheetExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/ReversedVerticalResizableSheetExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/VerticalResizableSheetExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/window-splitter/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/window-splitter/WindowSplitter.tsx
Due: core, docs

chore(docs): added responsive item container docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ConfiguringAllowedAspectRatios.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ConfiguringAllowedAspectRatios.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/CustomizingStyles.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/CustomizingStyles.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ForceAspectRatio.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/OverlayPositions.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ResponsiveItemOverlayExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/YouTubeIFrame.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/page.mdx
  packages/core/src/responsive-item/_responsive-item.scss
Due: core, docs

feat(box): allow disabling the box gap
  packages/core/src/app-bar/__tests__/__snapshots__/AppBar.tsx.snap
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/box/Box.tsx
  packages/core/src/box/__tests__/__snapshots__/Box.tsx.snap
  packages/core/src/box/_box.scss
  packages/core/src/box/styles.ts
  packages/core/src/button/__tests__/__snapshots__/AsyncButton.tsx.snap
  packages/core/src/card/__tests__/__snapshots__/CardFooter.tsx.snap
  packages/core/src/dialog/__tests__/__snapshots__/Dialog.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/TextArea.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/TextField.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/LayoutAppBar.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useExpandableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useResizableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useTemporaryLayout.tsx.snap
  packages/core/src/overlay/__tests__/__snapshots__/Overlay.tsx.snap
Due: core

chore(card): extend box component for more styling
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.tsx
  packages/core/src/card/Card.tsx
  packages/core/src/card/__tests__/__snapshots__/Card.tsx.snap
  packages/core/src/card/__tests__/__snapshots__/ClickableCard.tsx.snap
  packages/core/src/card/_card.scss
  packages/core/src/card/styles.ts
  packages/core/src/expansion-panel/__tests__/__snapshots__/ExpansionPanel.tsx.snap
Due: core, docs

feat(core): add objectFit class name utility helper
  apps/docs/src/app/(main)/(markdown)/(demos)/components/carousel/CarouselExample.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/__tests__/__snapshots__/objectFit.ts.snap
  packages/core/src/__tests__/objectFit.ts
  packages/core/src/_core.scss
  packages/core/src/_object-fit.scss
  packages/core/src/objectFit.ts
  packages/react-md/src/index.ts
Due: core, docs

chore(core): rename ResponsiveItemContainer to ResponsiveItem
  apps/docs/src/app/(main)/(markdown)/(demos)/components/card/CardGridExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/card/CardWithMediaExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/card/ExpandableCardExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ConfiguringAllowedAspectRatios.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/CustomizingStyles.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ForceAspectRatio.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/OverlayPositions.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ResponsiveItemOverlayExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/YouTubeIFrame.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/page.mdx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/responsive-item/ResponsiveItem.tsx
  packages/core/src/responsive-item/ResponsiveItemContainer.tsx
  packages/core/src/responsive-item/ResponsiveItemOverlay.tsx
  packages/core/src/responsive-item/__tests__/ResponsiveItem.tsx
  packages/core/src/responsive-item/__tests__/ResponsiveItemContainer.tsx
  packages/core/src/responsive-item/__tests__/__snapshots__/ResponsiveItem.tsx.snap
  packages/core/src/responsive-item/__tests__/__snapshots__/ResponsiveItemContainer.tsx.snap
  packages/core/src/responsive-item/__tests__/__snapshots__/responsiveItemStyles.ts.snap
  packages/core/src/responsive-item/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/responsive-item/__tests__/responsiveItemStyles.ts
  packages/core/src/responsive-item/__tests__/styles.ts
  packages/core/src/responsive-item/_responsive-item.scss
  packages/core/src/responsive-item/responsiveItemOverlayStyles.ts
  packages/core/src/responsive-item/responsiveItemStyles.ts
  packages/core/src/responsive-item/styles.ts
  packages/react-md/src/index.ts
Due: core, docs

chore(docs): add objectFit examples
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ObjectFitExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ObjectFitExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/utils/object-fit/AspectRatios.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/utils/object-fit/AspectRatios.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/utils/object-fit/CustomFitBehavior.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/utils/object-fit/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/utils/object-fit/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/__tests__/__snapshots__/objectFit.ts.snap
  packages/core/src/_object-fit.scss
  packages/core/src/objectFit.ts
Due: core, docs

build: upgrade pnpm to 9.6.0
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(core): fix imports in tests
  packages/core/src/responsive-item/__tests__/ResponsiveItemOverlay.tsx
Due: core

chore(docs): add breakpoints
  apps/docs/mdx-components.module.scss
  apps/docs/mdx-components.tsx
  apps/docs/src/app/(main)/(markdown)/customization/breakpoints/page.mdx
  packages/core/src/table/tableCellStyles.ts
Due: core, docs

chore(docs): add initial dark mode documentation
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/LocalStorageExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/dark-mode/page.mdx
  apps/docs/src/components/CookieColorSchemeProvider.tsx
  apps/docs/src/components/MainLayout/ConfigureColorScheme.tsx
  apps/docs/src/utils/serverState.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/layout/useLayoutAppBarHeight.ts
  packages/core/src/theme/LocalStorageColorSchemeProvider.tsx
  packages/core/src/theme/__tests__/LocalStorageColorSchemeProvider.tsx
  packages/core/src/theme/__tests__/useCSSVariables.tsx
  packages/core/src/theme/isColorScheme.ts
  packages/core/src/theme/types.ts
  packages/core/src/theme/useCSSVariables.ts
  packages/core/src/theme/useColorScheme.ts
  packages/core/src/theme/useColorSchemeMetaTag.ts
  packages/core/src/theme/useColorSchemeProvider.ts
  packages/core/src/theme/usePrefersDarkScheme.ts
Due: core, docs

chore(docs): add color palette page
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/Color.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/Color.tsx
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/ColorHeadingWrapper.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/ColorHeadingWrapper.tsx
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/ColorPalette.module.scss
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/ColorPalette.tsx
  apps/docs/src/app/(main)/(markdown)/customization/color-palette/page.mdx
  apps/docs/src/components/MainLayout/WebsiteConfiguration.tsx
  apps/docs/src/utils/strings.ts
Due: docs

chore(core): fix imports for react-md package and others
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/CustomScrollBehaviorExample.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/divider/Divider.tsx
  packages/core/src/divider/styles.ts
  packages/core/src/draggable/useDraggable.ts
  packages/core/src/focus/useFocusContainer.ts
  packages/core/src/tabs/TabList.tsx
  packages/core/src/tabs/TabListScrollButton.tsx
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/tabs/getTabListScrollToOptions.ts
  packages/core/src/tabs/tabStyles.ts
  packages/core/src/tabs/useTabList.ts
  packages/core/src/tabs/utils.ts
  packages/core/src/tree/utils.ts
  packages/core/src/window-splitter/WindowSplitter.tsx
  packages/core/src/window-splitter/styles.ts
  packages/react-md/src/index.ts
Due: core, docs

chore(core): pageXOffset/pageYOffset to scrollX/scrollY
  packages/core/src/interaction/utils.ts
Due: core

chore(code): fix some code behavior
  packages/code/src/ColorPreview.tsx
  packages/code/src/ColorPreviewRenderer.tsx
  packages/code/src/ColorPreviewWalker.tsx
  packages/code/src/_code.scss
  packages/docs-generator/src/rehype-color-preview.ts
Due: none

chore: use color variables
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/CustomizingStyles.module.scss
  packages/core/src/overlay/_overlay.scss
Due: core, docs

chore(core): fix some styles
  packages/core/src/chip/_chip.scss
  packages/core/src/table/tableCellStyles.ts
  packages/core/src/theme/_theme.scss
  packages/core/src/transition/_transition.scss
Due: core

chore(docs): update demos to support more options
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  packages/code/src/CodePreview.tsx
  packages/code/src/_code.scss
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/docs-generator/src/utils/createDemo.ts
Due: docs

chore(docs): add more documentation around dark mode
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/DarkElevationColors.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/DarkElevationColors.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/DarkModeColors.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/page.mdx
Due: docs

test: update snapshot
  packages/docs-generator/src/__tests__/__snapshots__/rehype-color-preview.ts.snap
Due: none

build(deps): update deps
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump jscodeshift to 17.0.0
  packages/codemod/package.json
  packages/codemod/transforms/v3-to-v4/__tests__/rename-text-to-typography.ts
  packages/codemod/transforms/v3-to-v4/__tests__/scale-transition-props.ts
  pnpm-lock.yaml
Due: none

chore(docs): fix invalid material icons imports
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/ResponsiveItemOverlayExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-field/AutomaticAddonPaddingExample.tsx
  apps/docs/src/components/MainLayout/VersionDropdown.tsx
Due: docs

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
