Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(mdx-plugins): support moving code into other files
  packages/mdx-plugins/package.json
  packages/mdx-plugins/src/rehype-code-blocks.ts
  packages/mdx-plugins/src/utils/ast/imports.ts
  packages/mdx-plugins/src/utils/ast/types.ts
  packages/mdx-plugins/src/utils/compileScssModule.ts
  packages/mdx-plugins/src/utils/generateDemoFile.ts
  packages/mdx-plugins/src/utils/getScssCodeFile.ts
  packages/mdx-plugins/src/utils/log.ts
  packages/mdx-plugins/src/utils/parseAliasedFiles.ts
  packages/mdx-plugins/src/utils/parseDemoFile.ts
  packages/mdx-plugins/src/utils/parseToBabelFile.ts
  pnpm-lock.yaml
Due: none

build(node): use node 20
  .github/workflows/main.yml
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-field/TextFieldHookExample.tsx
  package.json
  packages/code/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): add prism-themes script back and cleanup
  apps/docs/package.json
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/prismThemes.ts
  apps/docs/scripts/tsconfig.json
  packages/codemod/tsconfig.json
  packages/docs-generator/package.json
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/docs-generator/src/scripts/vim-solarized-dark.scss
  packages/docs-generator/src/utils/ast/imports.ts
  packages/docs-generator/src/utils/ast/types.ts
  packages/docs-generator/src/utils/getProjectRootDir.ts
  packages/docs-generator/src/utils/getScssCodeFile.ts
  packages/docs-generator/src/utils/parseAliasedFiles.ts
  packages/docs-generator/src/utils/parseToBabelFile.ts
  packages/docs-generator/src/utils/parseWithTsMorph.ts
  pnpm-lock.yaml
Due: docs

chore(docs): hot reload demos
  .prettierignore
  apps/docs/package.json
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/nodemon.docs-generator.json
  apps/docs/scripts/tsconfig.json
  apps/docs/scripts/watchDemos.ts
  packages/code/.swcrc
  packages/docs-generator/.eslintrc.cjs
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/docs-generator/src/utils/generateDemoFile.ts
  packages/docs-generator/src/utils/parseWithTsMorph.ts
Due: docs

chore: fix some tests and building
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/tsconfig.json
  packages/code/src/__tests__/HighlightedCodeBlock.tsx
  packages/code/src/__tests__/__snapshots__/HighlightedCodeBlock.tsx.snap
  packages/core/src/avatar/__tests__/Avatar.tsx
Due: core, docs

chore: remove ultisnips folder
  UltiSnips/markdown.snippets
  UltiSnips/typescript.snippets
  UltiSnips/typescriptreact.snippets
Due: none

chore(material-icons): use since tags
  packages/material-icons/scripts/utils/createCoreMetadataFile.ts
Due: none

fix(layout): prevent LayoutAppBar causing layout shift
  packages/core/src/layout/__tests__/LayoutAppBar.tsx
  packages/core/src/layout/useLayoutAppBarHeight.ts
  packages/core/src/useElementSize.ts
Due: core

fix(snackbar): fix multiple pause states and rerendering
  packages/core/src/snackbar/ToastManager.tsx
  packages/core/src/snackbar/__tests__/ToastManagerProvider.tsx
  packages/core/src/snackbar/__tests__/__snapshots__/ToastManagerProvider.tsx.snap
Due: core

chore(box): added demos, tests, and fixed some docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/AdditionalFlexOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/AdditionalGridOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/AutoFillGridColumnsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/BoxClassNameFunctionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/CustomGridColumnsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/CustomGridNameExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/CustomGridNameExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/CustomizingGapPaddingAndMinItemSize.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/CustomizingGapPaddingAndMinItemSize.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/DisableFlexWrap.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/FlexExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/GridExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tree/CustomTreeItemRendererExample.tsx
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  packages/code/src/CodePreview.tsx
  packages/code/src/_code.scss
  packages/core/package.json
  packages/core/src/box/Box.tsx
  packages/core/src/box/__tests__/Box.tsx
  packages/core/src/box/__tests__/__snapshots__/Box.tsx.snap
  packages/core/src/box/_box.scss
  packages/core/src/box/styles.ts
  packages/docs-generator/src/utils/createDemo.ts
Due: core, docs

chore(docs): add simple AppSizeProvider docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/app-size-provider/ConfigurationExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/app-size-provider/UseAppSizeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/app-size-provider/page.mdx
Due: docs

chore(docs): added simple docs for most providers
  apps/docs/src/app/(main)/(markdown)/(demos)/components/app-size-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/LocalStorageExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/LocalStorageExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/core-providers/PassThroughPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/core-providers/SimpleSetup.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/core-providers/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/portal-container-provider/CustomPortalContainer.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/portal-container-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/portal/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/ssr-provider/CheckForSsrExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/ssr-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/theme-provider/DerivedThemeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/theme-provider/KnownThemeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/theme-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/user-interaction-mode-provider/DetectingUserInteractionModeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/user-interaction-mode-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/writing-direction-provider/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/writing-direction-provider/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

chore(docs): start adding layout docs and example projects
  apps/docs/src/app/(layout-examples)/RootProviders.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExpandableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/FullHeightExpandableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/FullHeightLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/FullHeightResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/LayoutIcon.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/Navigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTree.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTreeExample.module.scss
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTreeExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/SimpleNavItem.module.scss
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/SimpleNavItem.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/TemporaryLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/layout.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/layouts.ts
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/page-1/page.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/page-2/page.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/page.tsx
  apps/docs/src/app/(layout-examples)/layout.scss
  apps/docs/src/app/(layout-examples)/layout.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/installation/page.mdx
  apps/docs/src/app/(main)/(markdown)/getting-started/layout/page.mdx
  apps/docs/src/app/(main)/getting-started/example-projects/page.tsx
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
  apps/docs/src/utils/strings.ts
  packages/core/src/layout/useExpandableLayout.ts
  packages/core/src/layout/useHorizontalLayoutTransition.ts
  packages/core/src/layout/useLayoutTree.ts
  packages/core/src/layout/useResizableLayout.ts
  packages/core/src/layout/useTemporaryLayout.ts
Due: core, docs

feat(core): add navigation components
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
  packages/core/src/_core.scss
  packages/core/src/navigation/CollapsibleNavGroup.tsx
  packages/core/src/navigation/DefaultNavigationRenderer.tsx
  packages/core/src/navigation/NavGroup.tsx
  packages/core/src/navigation/NavItem.tsx
  packages/core/src/navigation/NavItemButton.tsx
  packages/core/src/navigation/NavItemLink.tsx
  packages/core/src/navigation/NavSubheader.tsx
  packages/core/src/navigation/Navigation.tsx
  packages/core/src/navigation/__tests__/Navigation.tsx
  packages/core/src/navigation/__tests__/__snapshots__/Navigation.tsx.snap
  packages/core/src/navigation/_navigation.scss
  packages/core/src/navigation/getHrefFromParents.ts
  packages/core/src/navigation/navGroupStyles.ts
  packages/core/src/navigation/navItemStyles.ts
  packages/core/src/navigation/types.ts
  packages/core/src/tree/Tree.tsx
  packages/core/src/utils/RenderRecursively.tsx
  packages/core/src/utils/__tests__/RenderRecursively.tsx
Due: core, docs

chore(docs): use core navigation
  apps/docs/src/components/MainLayout/CollapsibleMainNavigationGroup.tsx
  apps/docs/src/components/MainLayout/MainNavigation.tsx
  apps/docs/src/components/MainLayout/MainNavigationGroup.module.scss
  apps/docs/src/components/MainLayout/MainNavigationGroup.tsx
  apps/docs/src/components/MainLayout/MainNavigationLink.module.scss
  apps/docs/src/components/MainLayout/MainNavigationLink.tsx
  apps/docs/src/components/MainLayout/RenderMainNavigationItem.tsx
  apps/docs/src/components/MainLayout/getHrefFromParents.ts
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

chore(core): fix box eslint error
  packages/core/src/box/__tests__/Box.tsx
Due: core

feat(core): add useActiveHeadingId hook for table of contents
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
  apps/docs/src/components/TableOfContents/useTableOfContentsActiveHeading.ts
  packages/core/src/navigation/useActiveHeadingId.ts
Due: core, docs

chore(layout): support conditionally rendering desktop navigation
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExpandableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/FullHeightExpandableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/FullHeightLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/FullHeightResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/LayoutIcon.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTree.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTreeExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/layout.tsx
  apps/docs/src/app/(main)/(markdown)/getting-started/layout/page.mdx
  apps/docs/src/components/MainLayout/MainLayout.tsx
  packages/core/src/layout/__tests__/useExpandableLayout.tsx
  packages/core/src/layout/_layout.scss
  packages/core/src/layout/useExpandableLayout.ts
  packages/core/src/layout/useResizableLayout.ts
Due: core, docs

chore(docs): added import code behavior and additional error messages
  apps/docs/src/components/MarkdownCode.tsx
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/docs-generator/src/utils/createDemo.ts
  packages/docs-generator/src/utils/createTypescriptCodeBlock.ts
  packages/docs-generator/src/utils/importCode.ts
Due: docs

chore(docs): simplify LinkUnstyled
  apps/docs/src/components/LinkUnstyled.tsx
Due: docs

chore(core): remove unneeded noop from TooltippedButton
  packages/core/src/button/TooltippedButton.tsx
Due: core

chore(navigation): add tooltip behavior to button and other tweaks
  packages/core/src/layout/_layout.scss
  packages/core/src/navigation/DefaultNavigationRenderer.tsx
  packages/core/src/navigation/NavItemButton.tsx
  packages/core/src/navigation/NavItemLink.tsx
  packages/core/src/navigation/__tests__/__snapshots__/Navigation.tsx.snap
  packages/core/src/navigation/_navigation.scss
  packages/core/src/navigation/types.ts
Due: core

chore(docs-generator): add some support for imports in imported code
  packages/docs-generator/src/utils/importCode.ts
  packages/docs-generator/src/utils/parseWithTsMorph.ts
Due: none

chore(docs): finish getting started layout page
  apps/docs/src/app/(layout-examples)/RootProviders.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleCoreNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleListNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleTreeNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExpandableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/LayoutIcon.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTree.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTreeExample.module.scss
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTreeExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/NavigationTypeIcon.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/TemporaryLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/layout.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/layouts.ts
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/navTypes.ts
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/useNavType.ts
  apps/docs/src/app/(main)/(markdown)/getting-started/layout/page.mdx
Due: docs

chore(docs): add most of the navigation docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/AddingDividersAndSubheadersExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/AddingIconsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/CollapsibleGroupsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/NextjsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/page.mdx
  apps/docs/src/components/FakeLink.tsx
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/MarkdownCode.tsx
  packages/core/src/navigation/DefaultNavigationRenderer.tsx
  packages/core/src/navigation/Navigation.tsx
  packages/core/src/navigation/__tests__/Navigation.tsx
  packages/core/src/navigation/getHrefFromParents.ts
  packages/core/src/navigation/types.ts
  packages/docs-generator/src/utils/parseWithTsMorph.ts
Due: core, docs

chore(docs): add missing Suspense boundaries
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExpandableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/TemporaryLayoutExample.tsx
Due: docs

chore(docs): don't scroll navigation demos
  apps/docs/src/components/FakeLink.tsx
  packages/core/src/navigation/DefaultNavigationRenderer.tsx
Due: core, docs

chore(docs): fix list and tree links
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleCoreNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleListNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleTreeNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/useNavType.ts
Due: docs

chore(docs): fix list layout on mobile and update docs
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleListNavigation.module.scss
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleListNavigation.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ResizableLayoutExample.tsx
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/TemporaryLayoutExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/page.mdx
Due: docs

build(docs): maybe fix vercel and turbo caching issue
  turbo.json
Due: none

build: upgrade to pnpm@9.0.5
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build: revert back to pnpm@8.15.7 since vercel no support 9
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(version): version packages
  .changeset/pre.json
  .changeset/short-lies-decide.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/form/useCombobox.ts.bak
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

chore(docs): reference @react-md/core in installation page
  apps/docs/src/app/(main)/(markdown)/getting-started/installation/page.mdx
Due: docs
