Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

feat(core): support `item.name` for for text extraction
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/defaults.ts
  packages/core/src/autocomplete/types.ts
  packages/core/src/searching/__tests__/caseInsensitive.ts
  packages/core/src/searching/caseInsensitive.ts
  packages/core/src/searching/fuzzy.ts
  packages/core/src/searching/utils.ts
  packages/core/src/types.ts
  packages/core/src/utils/__tests__/alphaNumericSort.ts
  packages/core/src/utils/alphaNumericSort.ts
Due: core

docs: update docs after supporting name fields in searching
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/alpha-numeric-sort/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/case-insensitive-search/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/fuzzy-search/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/AsyncExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ControllingTheInputValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ControllingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomFilterFunctionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomizingInlineChipsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableCloseOnSelectExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableInlineChipsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisabledOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/FilterSelectedExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GetOptionPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GettingTheCurrentValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GithubLabelPickerExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/HighlightsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/MultipleValuesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/MultiselectCheckboxesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ObjectOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SettingADefaultValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
Due: docs

feat(avatar): add support for strongly typing the AvatarColor
  packages/core/eslint.config.mjs
  packages/core/src/avatar/Avatar.tsx
  packages/core/src/avatar/__tests__/Avatar.tsx
  packages/core/src/avatar/__tests__/__snapshots__/Avatar.tsx.snap
  packages/core/src/avatar/styles.ts
  packages/core/src/types.ts
Due: core

feat(box): allow the gridName, align, and justify props to be strongly typed
  packages/core/src/box/styles.ts
  packages/core/src/types.ts
Due: core

build: update deps
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

feat(progress): add progress class name utility functions
  packages/core/src/progress/CircularProgress.tsx
  packages/core/src/progress/LinearProgress.tsx
  packages/core/src/progress/circularProgressStyles.ts
  packages/core/src/progress/linearProgressStyles.ts
Due: core

build(version): version packages
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

build: sync packageManager with volta
  package.json
Due: none

fix(select): correctly show focus state
  packages/core/src/_base.scss
Due: core

style(core): use outline: 0 instead of outline-style: none
  packages/core/src/form/_select.scss
  packages/core/src/form/_slider.scss
  packages/core/src/tree/_tree.scss
  packages/core/src/window-splitter/_window-splitter.scss
Due: core

build: fix typo in release tag name
  apps/docs/src/app/(main)/(markdown)/blog/data.ts
  apps/docs/src/utils/assertions.ts
  scripts/release.ts
Due: docs

feat(form): allow the FormMessageContainer to be rendered inline
  packages/core/src/form/FormMessage.tsx
  packages/core/src/form/FormMessageContainer.tsx
  packages/core/src/form/FormMessageCounter.tsx
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/form/TextArea.tsx
  packages/core/src/form/TextField.tsx
  packages/core/src/form/__tests__/FormMessage.tsx
  packages/core/src/form/__tests__/FormMessageContainer.tsx
  packages/core/src/form/__tests__/TextArea.tsx
  packages/core/src/form/__tests__/TextField.tsx
  packages/core/src/form/__tests__/__snapshots__/FormMessage.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/FormMessageContainer.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/TextArea.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/TextField.tsx.snap
  packages/core/src/form/_form-message.scss
  packages/core/src/form/_text-field.scss
  packages/core/src/form/formMessageContainerStyles.ts
  packages/core/src/form/types.ts
Due: core

feat(form): allow useTextField/useNumberField to automatically reset with forms
  packages/core/src/form/useFormReset.ts
  packages/core/src/form/useNumberField.ts
  packages/core/src/form/useTextField.ts
Due: core

feat(form): split TextFieldHookOptions to allow for component props
  packages/core/src/form/useTextField.ts
Due: core

test(form): added NativeSelect tests
  packages/core/src/form/__tests__/NativeSelect.tsx
  packages/core/src/form/__tests__/__snapshots__/NativeSelect.tsx.snap
Due: core

refactor(form): create useListboxProvider helper hook
  packages/core/src/form/Listbox.tsx
  packages/core/src/form/ListboxProvider.ts
Due: core

test(form): added tests for useTextField
  packages/core/src/form/__tests__/useTextField.tsx
Due: core

test(form): added tests for Password
  packages/core/src/form/__tests__/Password.tsx
  packages/core/src/form/__tests__/__snapshots__/Password.tsx.snap
Due: core

feat(time): added NativeTimeField and useTimeField hook
  packages/core/src/datetime/NativeTimeField.tsx
  packages/core/src/datetime/__tests__/NativeTimeField.tsx
  packages/core/src/datetime/__tests__/__snapshots__/NativeTimeField.tsx.snap
  packages/core/src/datetime/__tests__/utils.ts
  packages/core/src/datetime/useTimeField.ts
  packages/core/src/datetime/utils.ts
Due: core

docs(time): added NativeTimeField docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-time-field/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/ControllingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/GettingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/MinAndMaxTimeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/SpecificTimeIntervalsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/SuggestedTimesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-time-field/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

feat(date): added NativeDateField and useDateField hook
  packages/core/src/datetime/NativeDateField.tsx
  packages/core/src/datetime/__tests__/NativeDateField.tsx
  packages/core/src/datetime/__tests__/__snapshots__/NativeDateField.tsx.snap
  packages/core/src/datetime/useDateField.ts
Due: core

docs(date): added NativeDateField docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-date-field/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-time-field/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-date-field/ControllingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-date-field/GettingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-date-field/MinAndMaxDateExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-date-field/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-date-field/SpecificDateIntervalsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/native-date-field/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

refactor(movement): create KeyboardMovementEventHandlers type
  packages/core/src/expansion-panel/useExpansionList.ts
  packages/core/src/movement/types.ts
Due: core

feat(movement): add movement actions to context
  packages/core/src/expansion-panel/ExpansionList.tsx
  packages/core/src/expansion-panel/useExpansionList.ts
  packages/core/src/form/useCombobox.ts
  packages/core/src/form/useSelectCombobox.ts
  packages/core/src/menu/MenuBar.tsx
  packages/core/src/menu/MenuWidget.tsx
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
  packages/core/src/tabs/useTabList.ts
  packages/core/src/tree/Tree.tsx
  packages/core/src/tree/useTreeMovement.ts
Due: core

refactor(movement): create utility type for event handlers and ref
  packages/core/src/expansion-panel/useExpansionList.ts
  packages/core/src/movement/types.ts
Due: core

feat(movement): split movement for jumping
  packages/core/src/movement/constants.ts
Due: core

refactor(core): move some maths to trigonometry
  packages/core/src/interaction/utils.ts
  packages/core/src/test-utils/drag.ts
  packages/core/src/types.ts
  packages/core/src/utils/__tests__/trigonometry.ts
  packages/core/src/utils/trigonometry.ts
Due: core

refactor(core): add MinMaxRange type
  packages/core/src/draggable/utils.ts
  packages/core/src/form/sliderUtils.ts
  packages/core/src/types.ts
  packages/core/src/utils/getMiddleOfRange.ts
  packages/core/src/utils/getPercentage.ts
  packages/core/src/utils/getRangeSteps.ts
  packages/core/src/utils/nearest.ts
Due: core

test(core); increase test coverage
  packages/core/jest.config.cjs
  packages/core/src/form/__tests__/Slider.tsx
  packages/core/src/form/__tests__/__snapshots__/Slider.tsx.snap
  packages/core/src/form/__tests__/useNumberField.tsx
  packages/core/src/menu/MenuItemTextField.tsx
  packages/core/src/menu/__tests__/MenuItemSeparator.tsx
  packages/core/src/menu/__tests__/MenuItemTextField.tsx
  packages/core/src/menu/__tests__/__snapshots__/MenuItemSeparator.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/MenuItemTextField.tsx.snap
  packages/core/src/transition/useCarousel.ts
  packages/core/src/tree/__tests__/Tree.tsx
  packages/core/src/utils/__tests__/debounce.ts
  packages/core/src/utils/__tests__/isElementVisible.ts
  packages/core/src/utils/__tests__/throttle.ts
  packages/core/src/window-splitter/__tests__/WindowSplitter.tsx
  packages/core/src/window-splitter/__tests__/__snapshots__/WindowSplitter.tsx.snap
  packages/core/src/window-splitter/useWindowSplitter.ts
Due: core

fix(native-select): NativeSelect multiselect styles
  packages/core/src/_base.scss
Due: core

fix(form): addon position for TextArea and NativeSelect
  packages/core/src/form/_select.scss
  packages/core/src/form/_text-area.scss
  packages/core/src/form/_text-field.scss
Due: core

build(deps): update safe deps to latest
  apps/docs/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/code/src/prettier/utils.ts
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

fix(button): fixed the icon-square border-radius
  packages/core/src/button/_button.scss
Due: core

chore(examples): update examples to latest
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  examples/mlaursen-vite/tsconfig.app.json
  examples/mlaursen-vite/tsconfig.node.json
  examples/mlaursen-vite/vite.config.ts
  examples/nextjs-js/package.json
  examples/nextjs-ts/package.json
  examples/react-router-framework-mode/package.json
  examples/react-router-framework-mode/vite.config.ts
  examples/vite-js/package.json
  examples/vite-ts/README.md
  examples/vite-ts/eslint.config.js
  examples/vite-ts/package.json
  examples/vite-ts/tsconfig.app.json
  examples/vite-ts/tsconfig.node.json
Due: none

docs(core): update docs for useHoverModeProvider around defaultActiveId
  packages/core/src/hoverMode/useHoverModeProvider.ts
Due: core

feat(docs-generator): add better support for scoped packages
  packages/docs-generator/src/utils/compileScssModule.ts
  packages/docs-generator/src/utils/getScssCodeFile.ts
Due: none

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
