Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(code): fixed mixed-decls
  packages/code/src/_code.scss
Due: none

feat(docs-generator): add support for importing other code blocks
  packages/docs-generator/src/utils/importCode.ts
Due: none

feat(code): add support for Backspace and Delete
  packages/code/src/KeyboardCode.tsx
Due: none

feat(core): allow draggable utils to be exposed
  packages/core/package.json
  packages/core/scripts/constants.ts
Due: core

build(codemod): remove unneeded types package
  packages/codemod/package.json
  pnpm-lock.yaml
Due: none

build: update react-md index file for releases
  scripts/release.ts
Due: none

chore: create a playground for developing new components
  apps/playground/.gitignore
  apps/playground/.prettierignore
  apps/playground/.prettierrc.yaml
  apps/playground/README.md
  apps/playground/_everything.scss
  apps/playground/_overrides.scss
  apps/playground/eslint.config.mjs
  apps/playground/next-custom.d.ts
  apps/playground/next-env.d.ts
  apps/playground/next.config.ts
  apps/playground/package.json
  apps/playground/src/app/CookieColorSchemeProvider.tsx
  apps/playground/src/app/Playground.tsx
  apps/playground/src/app/app.scss
  apps/playground/src/app/favicon.ico
  apps/playground/src/app/layout.tsx
  apps/playground/src/app/page.tsx
  apps/playground/src/app/robots.ts
  apps/playground/src/clientCookies.ts
  apps/playground/src/components/RootProviders.tsx
  apps/playground/src/constants.ts
  apps/playground/src/rmdConfig.tsx
  apps/playground/tsconfig.json
  apps/playground/tsconfig.test.json
  package.json
  pnpm-lock.yaml
Due: none

chore: remove .lazy.lua
  .lazy.lua
Due: none

chore: create shared eslint-config to reduce deps
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/playground/eslint.config.mjs
  apps/playground/package.json
  packages/code/eslint.config.mjs
  packages/code/package.json
  packages/codemod/eslint.config.mjs
  packages/codemod/package.json
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/docs-generator/eslint.config.mjs
  packages/docs-generator/package.json
  packages/eslint-config/index.d.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/material-icons/scripts/eslint.config.mjs
  packages/sassdoc-generator/eslint.config.mjs
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/docs/scripts/updateAlgoliaIndex.ts
  apps/playground/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

build: use @mlaursen/release-script
  package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
  scripts/release.ts
Due: none

fix(core): call onEnter/onExit when using useFocusContainer
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/focus/__tests__/useFocusContainer.tsx
  packages/core/src/focus/useFocusContainer.ts
  packages/core/src/menu/Menu.tsx
Due: core

build(version): version package
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

build: create a reusable stylelint-config
  apps/docs/.stylelintrc.json
  apps/docs/package.json
  packages/code/.stylelintrc.json
  packages/code/package.json
  packages/core/.stylelintrc.json
  packages/core/package.json
  packages/eslint-config/README.md
  packages/stylelint-config/README.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: core, docs

fix(docs-generator): fix compiling scss when @react-md/core is a dep
  packages/docs-generator/src/scripts/create-scss-lookup.ts
  packages/docs-generator/src/utils/compileScssModule.ts
  packages/docs-generator/src/utils/log.ts
Due: none

feat(core): add focusCurrent to keyboard movement provider
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
Due: core

feat(core): split form state into multiple types
  packages/core/src/form/types.ts
Due: core

chore(docs): added SpinButton docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/ControllingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/OnValueChangeCallbackExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/RangedSpinButtonExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/SpinButtonGroupExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/UsingAFallbackExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/layout.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/layout.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/spin-button/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

feat(spinbutton): add SpinButton components
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
  packages/core/src/spinbutton/SpinButton.tsx
  packages/core/src/spinbutton/SpinButtonGroupProvider.tsx
  packages/core/src/spinbutton/__tests__/SpinButton.tsx
  packages/core/src/spinbutton/__tests__/SpinButtonGroupProvider.tsx
  packages/core/src/spinbutton/__tests__/__snapshots__/SpinButton.tsx.snap
  packages/core/src/spinbutton/__tests__/__snapshots__/SpinButtonGroupProvider.tsx.snap
  packages/core/src/spinbutton/__tests__/defaults.ts
  packages/core/src/spinbutton/defaults.ts
  packages/core/src/spinbutton/types.ts
  packages/core/src/spinbutton/useSpinButton.ts
  packages/core/src/spinbutton/useSpinButtonGroupProvider.ts
  packages/core/src/spinbutton/utils/__tests__/deselectNode.ts
  packages/core/src/spinbutton/utils/__tests__/resolveInputEvent.ts
  packages/core/src/spinbutton/utils/__tests__/selectNode.ts
  packages/core/src/spinbutton/utils/deselectNode.ts
  packages/core/src/spinbutton/utils/resolveInputEvent.ts
  packages/core/src/spinbutton/utils/selectNode.ts
  packages/core/src/utils/__tests__/getNumberOfDigits.ts
  packages/core/src/utils/getNumberOfDigits.ts
  packages/core/src/utils/nearest.ts
Due: core

feat(core-utils): add support for single item list validation
  packages/core/src/_utils.scss
  packages/sassdoc-generator/src/types.ts
Due: core

feat(datetime): setup initial datetime package
  apps/docs/_everything.scss
  apps/docs/package.json
  apps/docs/src/app/(main)/layout.scss
  apps/playground/_everything.scss
  apps/playground/package.json
  apps/playground/src/app/app.scss
  package.json
  packages/datetime/.npmignore
  packages/datetime/.stylelintrc.json
  packages/datetime/.swcrc
  packages/datetime/LICENSE
  packages/datetime/README.md
  packages/datetime/eslint.config.mjs
  packages/datetime/package.json
  packages/datetime/scripts/copySassFiles.ts
  packages/datetime/scripts/tsconfig.json
  packages/datetime/src/_base.scss
  packages/datetime/src/_datetime.scss
  packages/datetime/src/types.ts
  packages/datetime/tsconfig.json
  packages/datetime/tsconfig.types.json
  packages/datetime/vite.config.ts
  packages/datetime/vitest.setup.ts
  pnpm-lock.yaml
Due: docs

fix(test-utils): typo for GetRangeSliderTestElementsOptions type name
  packages/core/src/test-utils/queries/slider.ts
Due: core

docs: add testing queries docs
  apps/docs/src/app/(main)/(markdown)/testing/queries/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/MenuItemFileInput.tsx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump stylelint-config-recommended-scss to latest
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

fix(core): stop using deprecated `clip` property
  packages/core/src/_utils.scss
Due: core

docs: fix Skip to Main Content clip example
  apps/docs/src/app/(main)/(markdown)/(demos)/components/skip-to-main-content/CustomLinkStylesExample.module.scss
Due: docs

fix(core): allow jest@30 as peer dependency
  packages/core/package.json
Due: core

fix(docs): prefers-color-scheme order
  apps/docs/src/app/(main)/layout.scss
Due: docs

fix(form): ProvidedTextFieldProps extends required TextFieldChangeHandlers
  packages/core/src/form/useTextField.ts
Due: core

fix(box): media queries fallback to auto-fit/auto-fill
  packages/core/src/box/_box.scss
  packages/core/src/box/styles.ts
Due: core

build: bump safe deps to latest
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/docs/src/components/LinkUnstyled.tsx
  apps/playground/eslint.config.mjs
  apps/playground/package.json
  package.json
  packages/code/eslint.config.mjs
  packages/code/package.json
  packages/codemod/eslint.config.mjs
  packages/codemod/package.json
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/docs-generator/eslint.config.mjs
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/material-icons/scripts/eslint.config.mjs
  packages/sassdoc-generator/eslint.config.mjs
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: core, docs

chore(examples): update mlaursen examples
  examples/mlaursen-nextjs/.lazy.lua
  examples/mlaursen-nextjs/_everything.scss
  examples/mlaursen-nextjs/eslint.config.mjs
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-nextjs/src/app/app.scss
  examples/mlaursen-nextjs/src/app/layout.scss
  examples/mlaursen-nextjs/src/app/layout.tsx
  examples/mlaursen-nextjs/src/app/symbols.scss
  examples/mlaursen-nextjs/src/components/LinkUnstyled.tsx
  examples/mlaursen-nextjs/src/rmdConfig.tsx
  examples/mlaursen-vite/eslint.config.js
  examples/mlaursen-vite/package.json
Due: none

docs: fix material symbols scss example
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialFontStylesWarning.tsx
Due: docs

feat(legend): able to act as a floating label within a Fieldset
  packages/core/src/_base.scss
  packages/core/src/_core.scss
  packages/core/src/form/Fieldset.tsx
  packages/core/src/form/Legend.tsx
  packages/core/src/form/__tests__/Fieldset.tsx
  packages/core/src/form/__tests__/Legend.tsx
  packages/core/src/form/__tests__/__snapshots__/Fieldset.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Legend.tsx.snap
  packages/core/src/form/_fieldset.scss
  packages/core/src/form/_legend.scss
  packages/core/src/form/fieldsetStyles.ts
  packages/core/src/form/labelStyles.ts
  packages/core/src/form/legendStyles.ts
Due: core

chore: fix incorrect ts-expect-error
  apps/docs/eslint.config.mjs
Due: docs

docs: add Fieldset and Legend documentation pages
  apps/docs/src/app/(main)/(markdown)/(demos)/components/fieldset/FloatingLegendExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/fieldset/FullWidthExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/fieldset/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/fieldset/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/FloatingLabelExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/FloatingLabelOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/SrOnlyExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

docs: add support for since annotation in sassdoc
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocItem.module.scss
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocItem.tsx
  apps/docs/src/components/MarkdownLink.tsx
Due: docs
