Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

chore(core): additional snackbar tests and fixes
  apps/docs/src/components/Layout/GeneratingIconsToast.tsx
  apps/docs/src/components/SnackbarExamples/CustomToastRenderer.tsx
  packages/core/src/snackbar/DefaultToastRenderer.tsx
  packages/core/src/snackbar/Snackbar.tsx
  packages/core/src/snackbar/Toast.tsx
  packages/core/src/snackbar/ToastActionButton.tsx
  packages/core/src/snackbar/ToastCloseButton.tsx
  packages/core/src/snackbar/ToastManagerProvider.tsx
  packages/core/src/snackbar/__tests__/Snackbar.tsx
  packages/core/src/snackbar/__tests__/Toast.tsx
  packages/core/src/snackbar/__tests__/ToastActionButton.tsx
  packages/core/src/snackbar/__tests__/ToastCloseButton.tsx
  packages/core/src/snackbar/__tests__/ToastContent.tsx
  packages/core/src/snackbar/__tests__/ToastManagerProvider.tsx
  packages/core/src/snackbar/__tests__/__snapshots__/Snackbar.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/Toast.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastCloseButton.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastContent.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastManagerProvider.tsx.snap
  packages/core/src/snackbar/index.ts
  packages/core/src/snackbar/useCurrentToastActions.ts
  packages/core/src/snackbar/useRemoveToast.ts
  packages/core/src/tooltip/__tests__/Tooltip.tsx
Due: core, docs

chore(core): added the caseInsensitiveFilter and fuzzyFilter functions
  packages/core/src/utils/__tests__/filters.ts
  packages/core/src/utils/filters.ts
  packages/core/src/utils/index.ts
Due: core

chore(website): allow resizing material icons a bit more
  apps/docs/src/components/MaterialIconsAndSymbols/HowToUseSplitter.tsx
Due: docs

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: core, docs

test(test-utils): test coverage and documentation for matchMedia
  packages/core/src/__tests__/AppSizeProvider.node.tsx
  packages/core/src/__tests__/AppSizeProvider.tsx
  packages/core/src/test-utils/matchMedia.ts
  packages/core/src/test-utils/polyfills/matchMedia.ts
Due: core

chore(test-utils): add useImmediateRaf util
  packages/core/src/menu/__tests__/DropdownMenu.tsx
  packages/core/src/test-utils/index.ts
  packages/core/src/test-utils/timers.ts
Due: core

test(tree): started adding tree tests
  apps/docs/src/components/TreeExamples/DragAndDropExample/utils.ts
  packages/core/src/layout/LayoutTree.tsx
  packages/core/src/layout/useLayoutNavigation.ts
  packages/core/src/test-utils/README.md
  packages/core/src/test-utils/polyfills/index.ts
  packages/core/src/test-utils/polyfills/offsetParent.ts
  packages/core/src/tree/Tree.tsx
  packages/core/src/tree/__tests__/Tree.tsx
  packages/core/src/tree/__tests__/__snapshots__/Tree.tsx.snap
  packages/core/src/tree/__tests__/utils.ts
  packages/core/src/tree/utils.ts
Due: core, docs

test(core): add ResizeObserver tests
  packages/core/src/__tests__/useResizeObserver.tsx
  packages/core/src/index.ts
  packages/core/src/test-utils/ResizeObserver.ts
  packages/core/src/test-utils/__tests__/ResizeObserver.ts
  packages/core/src/useResizeObserver.ts
Due: core

build: add typechecking and validation to next app
  .github/workflows/main.yml
  apps/docs/next.config.mjs
Due: docs

test(core): fix useDraggable test after adding offsetParent polyfill
  packages/core/src/draggable/__tests__/useDraggable.tsx
Due: core

test(tree): complete tree tests
  packages/core/.eslintrc.cjs
  packages/core/src/link/LinkProvider.tsx
  packages/core/src/test-utils/polyfills/offsetParent.ts
  packages/core/src/tree/Tree.tsx
  packages/core/src/tree/TreeItem.tsx
  packages/core/src/tree/TreeItemExpander.tsx
  packages/core/src/tree/__tests__/Tree.tsx
  packages/core/src/tree/__tests__/TreeGroup.tsx
  packages/core/src/tree/__tests__/TreeItemExpander.tsx
  packages/core/src/tree/__tests__/__snapshots__/Tree.tsx.snap
  packages/core/src/tree/__tests__/__snapshots__/TreeItemExpander.tsx.snap
  packages/core/src/tree/useTreeItems.ts
  packages/core/src/tree/useTreeMovement.ts
Due: core

build(docs): prevent swc from removing non-"dead code" for production
  apps/docs/src/components/MaterialIconsAndSymbols/utils.ts
Due: docs

chore(interaction): support $disable-focus-background behavior
  packages/core/src/interaction/_interaction.scss
Due: core

build(dev-deps): bump deps to latest
  apps/docs/package.json
  package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(core): add colors export
  packages/core/package.json
  packages/core/scripts/copySassFiles.js
Due: core

chore(core): split useDraggable/useWindowSplitter for local storage usage
  apps/docs/src/components/Layout/NavWindowSplitter.tsx
  apps/docs/src/components/MaterialIconsAndSymbols/HowToUseSplitter.tsx
  packages/core/src/draggable/__tests__/__snapshots__/useControlledDraggable.tsx.snap
  packages/core/src/draggable/__tests__/__snapshots__/useDraggable.tsx.snap
  packages/core/src/draggable/__tests__/useControlledDraggable.tsx
  packages/core/src/draggable/__tests__/useDraggable.tsx
  packages/core/src/draggable/__tests__/useLocalStorageDraggable.tsx
  packages/core/src/draggable/index.ts
  packages/core/src/draggable/useControlledDraggable.ts
  packages/core/src/draggable/useDraggable.ts
  packages/core/src/draggable/useLocalStorageDraggable.ts
  packages/core/src/draggable/utils.ts
  packages/core/src/form/Slider.tsx
  packages/core/src/form/sliderUtils.ts
  packages/core/src/window-splitter/index.ts
  packages/core/src/window-splitter/useControlledWindowSplitter.ts
  packages/core/src/window-splitter/useLocalStorageWindowSplitter.ts
  packages/core/src/window-splitter/useWindowSplitter.ts
Due: core, docs

chore(core): SkipToMainContent mainId is now optional
  packages/core/src/link/SkipToMainContent.tsx
  packages/core/src/link/__tests__/SkipToMainContent.tsx
Due: core

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

build(dev-deps): bump @testing-library/jest-dom to latest
  apps/docs/jest.setup.ts
  apps/docs/package.json
  packages/core/jest.setup.ts
  packages/core/package.json
  packages/core/src/test-utils/README.md
  pnpm-lock.yaml
Due: core, docs

chore(app-bar): default height to auto when stacked
  packages/core/src/app-bar/AppBar.tsx
  packages/core/src/app-bar/__tests__/__snapshots__/AppBar.tsx.snap
Due: core

chore(sheet): do not use computed horizontal size for styles
  packages/core/src/sheet/styles.ts
Due: core

chore(transition): skip initial enter transition after rehydration
  packages/core/src/transition/__tests__/useTransition.tsx
  packages/core/src/transition/useCSSTransition.ts
  packages/core/src/transition/useTransition.ts
Due: core

chore(transition): fix unmounting transitions
  packages/core/src/transition/useTransition.ts
Due: core

chore(typography): make get-letter-spacing function public
  packages/core/src/typography/_typography.scss
Due: core

chore(menu): fix menu sheet exit transition
  packages/core/src/menu/Menu.tsx
Due: core

chore(button)!: remove text-transform: uppercase
  packages/core/src/typography/_typography.scss
Due: core

chore(core): default scrollbar width to 0 instead of -1
  packages/core/src/scroll/getScrollbarWidth.ts
Due: core

chore(core): update useIntersectionObserver to support multiple elements
  packages/core/src/table/TableFooter.tsx
  packages/core/src/table/TableHeader.tsx
  packages/core/src/tabs/TabListScrollButton.tsx
  packages/core/src/useIntersectionObserver.ts
Due: core

chore(core): add package.json to exports
  packages/core/package.json
Due: core

chore(build): bump most deps to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  packages/material-icons/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: core, docs

chore: fix some stuff after bumping deps and intersectionobserver
  apps/docs/package.json
  apps/docs/src/components/IntersectionObserverExamples/SimpleExample.tsx
  apps/docs/src/components/MaterialIconsAndSymbols/HeaderControls.tsx
  turbo.json
Due: docs

chore(core): update Dialog and Overlay to support TransitionActions
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/overlay/Overlay.tsx
Due: core

chore(media-queries): add new media mixin
  packages/core/src/_media-queries.scss
Due: core

chore(core): fix SkipToMainContent href as undefined
  packages/core/src/link/SkipToMainContent.tsx
Due: core

test(core): add new drag test util
  packages/core/.swcrc
  packages/core/jest.config.ts
  packages/core/src/test-utils/drag.ts
Due: core

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
