Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

refactor(core): use mutable object for element interaction config
  packages/core/jest.setup.ts
  packages/core/package.json
  packages/core/src/CoreProviders.tsx
  packages/core/src/button/__tests__/Button.tsx
  packages/core/src/button/__tests__/__snapshots__/Button.tsx.snap
  packages/core/src/card/__tests__/__snapshots__/CardHeader.tsx.snap
  packages/core/src/chip/__tests__/Chip.tsx
  packages/core/src/chip/__tests__/__snapshots__/Chip.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Checkbox.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Radio.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useCheckboxGroup.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useRadioGroup.tsx.snap
  packages/core/src/form/__tests__/useFileUpload.tsx
  packages/core/src/index.ts
  packages/core/src/interaction/ElementInteractionProvider.tsx
  packages/core/src/interaction/config.ts
  packages/core/src/interaction/useElementInteraction.tsx
  packages/core/src/interaction/useHigherContrastChildren.tsx
  packages/core/src/list/__tests__/ListItem.tsx
  packages/core/src/list/__tests__/__snapshots__/ListItem.tsx.snap
  packages/core/src/list/__tests__/__snapshots__/ListItemLink.tsx.snap
  packages/core/src/overlay/__tests__/__snapshots__/Overlay.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastActionButton.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastCloseButton.tsx.snap
  packages/core/src/table/__tests__/TableCheckbox.tsx
  packages/core/src/table/__tests__/__snapshots__/TableCheckbox.tsx.snap
  packages/core/src/tabs/__tests__/__snapshots__/Tab.tsx.snap
  packages/core/src/test-utils/jest-setup.ts
  packages/core/src/test-utils/render.tsx
Due: core

chore(core): add theme colors to progress components and small tweaks
  packages/core/src/progress/CircularProgress.tsx
  packages/core/src/progress/LinearProgress.tsx
  packages/core/src/progress/__tests__/CircularProgress.tsx
  packages/core/src/progress/__tests__/LinearProgress.tsx
  packages/core/src/progress/__tests__/__snapshots__/CircularProgress.tsx.snap
  packages/core/src/progress/__tests__/__snapshots__/LinearProgress.tsx.snap
  packages/core/src/progress/_progress.scss
  packages/core/src/progress/types.ts
Due: core

chore(overlay): add support for box styles
  packages/core/src/overlay/Overlay.tsx
  packages/core/src/overlay/__tests__/Overlay.tsx
  packages/core/src/overlay/__tests__/__snapshots__/Overlay.tsx.snap
  packages/core/src/overlay/_overlay.scss
  packages/core/src/overlay/overlayStyles.ts
Due: core

chore(form): update InputToggle to inherit error styles
  packages/core/src/form/InputToggle.tsx
  packages/core/src/form/InputToggleIcon.tsx
  packages/core/src/form/inputToggleStyles.ts
Due: core

chore(core): update some documentation for providers
  packages/core/src/CoreProviders.tsx
  packages/core/src/SsrProvider.tsx
  packages/core/src/_core.scss
  packages/core/src/interaction/UserInteractionModeProvider.tsx
Due: core

chore(button): fix some styles for aria-disabled buttons
  packages/core/src/button/Button.tsx
Due: core

feat(button): add AsyncButton component
  packages/core/src/button/AsyncButton.tsx
  packages/core/src/button/__tests__/AsyncButton.tsx
  packages/core/src/button/__tests__/__snapshots__/AsyncButton.tsx.snap
  packages/core/src/button/_button.scss
  packages/core/src/index.ts
Due: core

docs(progress): update docs
  packages/core/src/progress/CircularProgress.tsx
  packages/core/src/progress/LinearProgress.tsx
Due: core

refactor(core): add rmd-interaction-surface css-util
  packages/core/src/button/__tests__/__snapshots__/AsyncButton.tsx.snap
  packages/core/src/button/__tests__/__snapshots__/Button.tsx.snap
  packages/core/src/button/__tests__/__snapshots__/buttonStyles.ts.snap
  packages/core/src/button/_button.scss
  packages/core/src/button/buttonStyles.ts
  packages/core/src/card/__tests__/__snapshots__/CardHeader.tsx.snap
  packages/core/src/chip/__tests__/Chip.tsx
  packages/core/src/chip/__tests__/__snapshots__/Chip.tsx.snap
  packages/core/src/chip/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/chip/_chip.scss
  packages/core/src/chip/styles.ts
  packages/core/src/cssUtils.ts
  packages/core/src/draggable/__tests__/__snapshots__/useDraggable.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useCheckboxGroup.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useRadioGroup.tsx.snap
  packages/core/src/interaction/_interaction.scss
  packages/core/src/layout/__tests__/__snapshots__/useExpandableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useLayoutTree.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useResizableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useTemporaryLayout.tsx.snap
  packages/core/src/list/__tests__/__snapshots__/ListItem.tsx.snap
  packages/core/src/list/__tests__/__snapshots__/ListItemLink.tsx.snap
  packages/core/src/list/listItemStyles.ts
  packages/core/src/menu/__tests__/__snapshots__/DropdownMenu.tsx.snap
  packages/core/src/menu/__tests__/__snapshots__/MenuBar.tsx.snap
  packages/core/src/overlay/__tests__/__snapshots__/Overlay.tsx.snap
  packages/core/src/segmented-button/__tests__/__snapshots__/SegmentedButton.tsx.snap
  packages/core/src/segmented-button/_segmented-button.scss
  packages/core/src/segmented-button/segmentedButtonStyles.ts
  packages/core/src/snackbar/__tests__/__snapshots__/Toast.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastActionButton.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastCloseButton.tsx.snap
  packages/core/src/snackbar/__tests__/__snapshots__/ToastManagerProvider.tsx.snap
  packages/core/src/tabs/__tests__/__snapshots__/Tab.tsx.snap
  packages/core/src/tabs/__tests__/__snapshots__/TabList.tsx.snap
  packages/core/src/tabs/_tabs.scss
  packages/core/src/tabs/tabStyles.ts
  packages/core/src/tree/__tests__/__snapshots__/Tree.tsx.snap
Due: core

refactor(test-utils): rename to cleanupResizeObserverAfterEach
  packages/core/src/__tests__/useResizeObserver.tsx
  packages/core/src/index.ts
  packages/core/src/layout/__tests__/LayoutAppBar.tsx
  packages/core/src/test-utils/ResizeObserver.ts
  packages/core/src/test-utils/__tests__/ResizeObserver.ts
  packages/core/src/usePageInactive.ts
Due: core

feat(tooltip): add useOverflowTooltip hook
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/useOverflowTooltip.tsx
  packages/core/src/tooltip/useOverflowTooltip.ts
  packages/core/src/tooltip/useTooltip.ts
Due: core

feat(core): create RenderRecursively helper component
  packages/core/src/index.ts
  packages/core/src/tree/DefaultTreeItemRenderer.tsx
  packages/core/src/tree/Tree.tsx
  packages/core/src/tree/useTreeItems.ts
  packages/core/src/utils/RenderRecursively.tsx
Due: core

chore(divider): do not use inset borders
  packages/core/src/divider/_divider.scss
Due: core

chore: fix some linting issues
  apps/docs/src/app/ExampleSignInForm.module.scss
  apps/docs/src/app/ExampleSignInForm.tsx
  apps/docs/src/app/NotFoundSVG.module.scss
  apps/docs/src/app/RangeSliderExample.tsx
  apps/docs/src/app/not-found.tsx
  apps/docs/src/components/Code/CodeBlock.module.scss
  apps/docs/src/components/Code/CodeEditor.module.scss
  packages/core/src/button/__tests__/AsyncButton.tsx
Due: core, docs

chore: fix more lint issues
  apps/docs/src/components/Logo.tsx
  apps/docs/src/providers/CookieColorSchemeProvider.tsx
  apps/docs/src/providers/RootProviders.tsx
  apps/docs/tsconfig.json
Due: docs

chore(core): add DISPLAY_NONE_CLASS for collapse transition
  packages/core/src/transition/__tests__/useCollapseTransition.tsx
  packages/core/src/transition/useCollapseTransition.ts
Due: core

chore(button): add different sizes for icon buttons
  apps/docs/src/app/components/button/IconButtonSizes.tsx
  apps/docs/src/app/components/button/LoadingIndicatorTypes.tsx
  apps/docs/src/app/components/button/ManualPendingState.tsx
  apps/docs/src/app/components/button/README.mdx
  apps/docs/src/app/components/button/ResponsiveButton.tsx
  apps/docs/src/components/Code/CodeBlock.module.scss
  apps/docs/src/components/Code/CodeBlock.tsx
  apps/docs/src/components/Code/CodeLanguageToggle.module.scss
  apps/docs/src/components/Code/CodeLanguageToggle.tsx
  packages/core/src/_core.scss
  packages/core/src/button/Button.tsx
  packages/core/src/button/__tests__/Button.tsx
  packages/core/src/button/__tests__/__snapshots__/Button.tsx.snap
  packages/core/src/button/__tests__/__snapshots__/buttonStyles.ts.snap
  packages/core/src/button/__tests__/buttonStyles.ts
  packages/core/src/button/_button.scss
  packages/core/src/button/buttonStyles.ts
  packages/core/src/cssUtils.ts
  packages/core/src/interaction/_interaction.scss
  packages/core/src/typography/SrOnly.tsx
Due: core, docs

chore(docs): fix some deployment issues
  apps/docs/src/app/Showcase.module.scss
  apps/docs/src/app/page.module.scss
  apps/docs/src/app/utils.ts
  apps/docs/src/constants/env.ts
  apps/docs/src/utils/clientCookies.ts
Due: docs

chore(docs): update search to use responsive button
  apps/docs/src/components/RootLayout/Search.module.scss
  apps/docs/src/components/RootLayout/Search.tsx
Due: docs

chore(core): fix typecheck errors and add data to RenderRecursively
  packages/core/src/draggable/__tests__/useDraggable.tsx
  packages/core/src/tree/Tree.tsx
  packages/core/src/tree/__tests__/Tree.tsx
  packages/core/src/utils/RenderRecursively.tsx
  packages/core/src/utils/__tests__/RenderRecursively.tsx
  packages/core/src/utils/__tests__/__snapshots__/RenderRecursively.tsx.snap
Due: core

chore(docs): add missing mdx-pages to build
  apps/docs/package.json
Due: docs

chore(segmented-button): add inline support
  packages/core/src/segmented-button/SegmentedButtonContainer.tsx
  packages/core/src/segmented-button/__tests__/__snapshots__/SegmentedButtonContainer.tsx.snap
  packages/core/src/segmented-button/_segmented-button.scss
  packages/core/src/segmented-button/segmentedButtonContainerStyles.ts
Due: core

refactor(icon): rename color to theme
  packages/core/src/icon/FontIcon.tsx
  packages/core/src/icon/MaterialIcon.tsx
  packages/core/src/icon/MaterialSymbol.tsx
  packages/core/src/icon/SVGIcon.tsx
  packages/core/src/icon/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/icon/__tests__/styles.ts
  packages/core/src/icon/styles.ts
Due: core

chore(form): convert FormThemeProvider to mutable object
  packages/core/src/CoreProviders.tsx
  packages/core/src/form/FormMessage.tsx
  packages/core/src/form/FormThemeProvider.tsx
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/form/Select.tsx
  packages/core/src/form/TextArea.tsx
  packages/core/src/form/TextField.tsx
  packages/core/src/form/TextFieldContainer.tsx
  packages/core/src/form/formConfig.ts
  packages/core/src/form/types.ts
  packages/core/src/index.ts
Due: core

chore(core): add better support for uncontrolled checkbox/radio
  packages/core/src/form/InputToggle.tsx
  packages/core/src/form/InputToggleIcon.tsx
  packages/core/src/form/__tests__/__snapshots__/Checkbox.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/Radio.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useCheckboxGroup.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useRadioGroup.tsx.snap
  packages/core/src/form/_form.scss
  packages/core/src/form/inputToggleStyles.ts
  packages/core/src/layout/__tests__/__snapshots__/useExpandableLayout.tsx.snap
  packages/core/src/layout/__tests__/__snapshots__/useTemporaryLayout.tsx.snap
  packages/core/src/table/__tests__/__snapshots__/TableCheckbox.tsx.snap
Due: core

chore(interaction): fix some interaction styles
  packages/core/src/form/_form.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/link/_link.scss
Due: core

chore(icon): fix theme colors to use cssUtils
  packages/core/src/icon/__tests__/__snapshots__/styles.ts.snap
  packages/core/src/icon/_icon.scss
  packages/core/src/icon/styles.ts
Due: core

chore(docs): adding more docs for checkbox, radio, and file-input
  apps/docs/src/app/components/checkbox/CheckboxStates.tsx
  apps/docs/src/app/components/checkbox/CheckboxWithMessages.tsx
  apps/docs/src/app/components/checkbox/CustomIcons.tsx
  apps/docs/src/app/components/checkbox/IconAfterLabel.tsx
  apps/docs/src/app/components/checkbox/StackedCheckbox.tsx
  apps/docs/src/app/components/checkbox/StrictlyTypedUseCheckboxGroup.tsx
  apps/docs/src/app/components/checkbox/demos.mdx
  apps/docs/src/app/components/file-input/SimpleFileInput.tsx
  apps/docs/src/app/components/file-input/demos.mdx
  apps/docs/src/app/components/radio/ControllingRadios.tsx
  apps/docs/src/app/components/radio/CustomIcons.tsx
  apps/docs/src/app/components/radio/IconAfterLabel.tsx
  apps/docs/src/app/components/radio/RadioSizes.tsx
  apps/docs/src/app/components/radio/RadioStates.tsx
  apps/docs/src/app/components/radio/RadioWithMessages.tsx
  apps/docs/src/app/components/radio/RequiredRadioGroup.tsx
  apps/docs/src/app/components/radio/SimpleRadio.tsx
  apps/docs/src/app/components/radio/StackedRadio.tsx
  apps/docs/src/app/components/radio/demos.mdx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/components/LinkableHeading.module.scss
  apps/docs/src/components/LinkableHeading.tsx
  apps/docs/src/components/RootLayout/RootLayoutTitle.tsx
Due: docs

chore(file-input): fix passed iconSize prop down
  packages/core/src/form/FileInput.tsx
Due: core

chore(file-input): add FileInput documentation and tests
  UltiSnips/typescript.snippets
  apps/docs/src/app/components/file-input/ControlledFileInput.tsx
  apps/docs/src/app/components/file-input/CustomIcon.tsx
  apps/docs/src/app/components/file-input/ResponsiveFileInput.tsx
  apps/docs/src/app/components/file-input/SimpleFileInput.tsx
  apps/docs/src/app/components/file-input/demos.mdx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  packages/core/src/button/_button.scss
  packages/core/src/form/FileInput.tsx
  packages/core/src/form/InputToggle.tsx
  packages/core/src/form/__tests__/FileInput.tsx
  packages/core/src/form/__tests__/__snapshots__/FileInput.tsx.snap
  packages/core/src/form/_form.scss
Due: core, docs

build(docs): add support for code imports
  apps/docs/package.json
  apps/docs/scripts/createMarkdownPages.ts
  apps/docs/scripts/utils/createDemo.ts
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/scripts/utils/typescript.ts
  pnpm-lock.yaml
Due: docs

chore(native-select): fix some styles
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/form/_form.scss
  packages/core/src/form/nativeSelectStyles.ts
Due: core

chore(docs): add native select demos
  apps/docs/src/app/components/native-select/HelpAndErrorText.tsx
  apps/docs/src/app/components/native-select/MultiselectExample.tsx
  apps/docs/src/app/components/native-select/NativeSelectTheme.tsx
  apps/docs/src/app/components/native-select/RequiredNativeSelect.tsx
  apps/docs/src/app/components/native-select/RequiredWithAPlaceholder.tsx
  apps/docs/src/app/components/native-select/SimpleNativeSelect.tsx
  apps/docs/src/app/components/native-select/demos.mdx
  apps/docs/src/components/CodePreviewContainer.module.scss
  apps/docs/src/constants/states.ts
Due: docs

build(docs): fix updating demo code
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/scripts/utils/typescript.ts
Due: docs

chore(docs): fix WebsiteConfiguration on mobile
  apps/docs/src/components/WebsiteConfiguration/WebsiteConfiguration.module.scss
  apps/docs/src/components/WebsiteConfiguration/WebsiteConfiguration.tsx
Due: docs

chore(docs): fix production system theme
  apps/docs/_everything.scss
  apps/docs/_overrides.scss
  apps/docs/src/app/layout.scss
  apps/docs/src/components/LoadThemeStyles/DarkTheme.module.scss
  apps/docs/src/components/LoadThemeStyles/LightTheme.module.scss
  apps/docs/src/components/LoadThemeStyles/SystemTheme.module.scss
  apps/docs/src/components/LoadThemeStyles/_themes.scss
Due: docs
