Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(docs): add github link to each demo
  apps/docs/src/components/DemoCode/DemoCodeEditor.module.scss
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  packages/docs-generator/src/utils/generateDemoFile.ts
  packages/docs-generator/src/utils/getProjectRootDir.ts
Due: docs

chore(examples): allow everything to be imported without relative paths
  examples/vite-js/vite.config.js
  examples/vite-ts/vite.config.ts
Due: none

chore(demos): fix readonly files extensions
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
Due: docs

feat(docs): allow all demos to be created in stackblitz
  apps/docs/package.json
  apps/docs/scripts/constants.ts
  apps/docs/scripts/createStackBlitzTemplate.ts
  apps/docs/scripts/ensureGeneratedDir.ts
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/page.mdx
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  apps/docs/src/components/DemoCode/ReadOnlyFile.tsx
  apps/docs/src/components/FileUploadErrorModal/ErrorHeader.tsx
  apps/docs/src/components/FileUploadErrorModal/ErrorRenderer.tsx
  apps/docs/src/components/StackBlitz/CreateStackBlitzProject.tsx
  apps/docs/src/components/StackBlitz/HiddenInput.tsx
  apps/docs/src/components/StackBlitz/StackBlitzForm.tsx
  apps/docs/src/components/StackBlitz/StackBlitzIcon.tsx
  packages/docs-generator/package.json
  packages/docs-generator/src/utils/createDemo.ts
  packages/docs-generator/src/utils/generateDemoFile.ts
  packages/docs-generator/src/utils/getReadonlyFiles.ts
  pnpm-lock.yaml
Due: docs

chore(typedoc): hide warnings for now
  apps/docs/typedoc.json
Due: docs

chore(core): rename some types to prevent duplicates
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/form/InputToggle.tsx
  packages/core/src/form/MenuItemInputToggle.tsx
  packages/core/src/positioning/__tests__/createHorizontalPosition.ts
  packages/core/src/positioning/__tests__/createVerticalPosition.ts
  packages/core/src/positioning/createHorizontalPosition.ts
  packages/core/src/positioning/createVerticalPosition.ts
Due: core

refactor(docs): move not-found to PageNotFound
  apps/docs/src/app/(main)/not-found.tsx
  apps/docs/src/components/PageNotFound/NotFoundSVG.module.scss
  apps/docs/src/components/PageNotFound/NotFoundSVG.tsx
  apps/docs/src/components/PageNotFound/PageNotFound.tsx
Due: docs

build(docs): speed up running dev
  apps/docs/package.json
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
Due: docs

build(docs): generate sassdoc nav items
  apps/docs/scripts/constants.ts
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/DevRegenDialog.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/utils/strings.ts
Due: docs

refactor(docs): createNavItems util
  apps/docs/scripts/sassdoc.ts
  apps/docs/scripts/tsconfig.json
  apps/docs/scripts/utils/createNavItems.ts
Due: docs

fix(docs): color preview in SassDocItem
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocItem.tsx
Due: docs

chore(core): fix more typedoc behavior
  packages/core/src/card/CardTitle.tsx
  packages/core/src/cssUtils.ts
  packages/core/src/table/TableCheckbox.tsx
Due: core

chore: moved some stuff to docs-generator
  apps/docs/scripts/constants.ts
  apps/docs/scripts/createStackBlitzTemplate.ts
  apps/docs/scripts/sassdoc.ts
  packages/docs-generator/src/utils/createNavItems.ts
  packages/docs-generator/src/utils/writeGeneratedFile.ts
  packages/sassdoc-generator/package.json
  packages/sassdoc-generator/src/generate.ts
  packages/sassdoc-generator/src/log.ts
  pnpm-lock.yaml
Due: docs

build: update pnpm to 10.7.1
  apps/docs/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
Due: core, docs

docs: try algolia web crawler
  apps/docs/src/app/(main)/layout.tsx
Due: docs

build(turbo): upgrade turbo and stop annoying messages
  package.json
  pnpm-lock.yaml
Due: none

build(deps): update deps
  apps/docs/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

chore: hopefully allow algolia web crawler
  apps/docs/src/app/robots.ts
Due: docs

fix(core): scroll Listbox active item into view when rendered in Sheet
  packages/core/src/form/useCombobox.ts
Due: core

build: ignore docs-generator scripts for reloads
  apps/docs/scripts/nodemon.docs-generator.json
Due: docs

feat(core): add HighlightText and Mark components
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/package.json
  packages/core/src/theme/_theme.scss
  packages/core/src/typography/HighlightText.tsx
  packages/core/src/typography/HighlightTextMark.tsx
  packages/core/src/typography/Mark.tsx
  packages/core/src/typography/__tests__/HighlightText.tsx
  packages/core/src/typography/__tests__/Mark.tsx
  packages/core/src/typography/__tests__/__snapshots__/HighlightText.tsx.snap
  packages/core/src/typography/__tests__/__snapshots__/Mark.tsx.snap
  packages/core/src/typography/_typography.scss
  packages/core/src/typography/markStyles.ts
  packages/react-md/src/index.ts
  pnpm-lock.yaml
Due: core

feat(core): allow a11y to be imported when configuring @react-md/core
  apps/docs/_overrides.scss
  packages/core/package.json
  packages/core/scripts/copySassFiles.ts
  packages/docs-generator/src/utils/compileScssModule.ts
Due: core, docs

docs: update docs for Mark and HighlightText components
  apps/docs/autosuggest-highlight.d.ts
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/HighlightsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/highlight-text/CustomizingStylesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/highlight-text/FirstMatchOnlyExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/highlight-text/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/highlight-text/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/mark/CustomizingStylesExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/mark/CustomizingStylesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/mark/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/mark/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/typography/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/code/src/WalkChildren.tsx
  packages/docs-generator/src/utils/generateDemoFile.ts
  pnpm-lock.yaml
Due: docs

feat(autocomplete): add additional clear button visibility behavior
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteClearButton.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/AutocompleteClearButton.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/__tests__/__snapshots__/AutocompleteClearButton.tsx.snap
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/autocomplete/autocompleteStyles.ts
  packages/core/src/autocomplete/types.ts
Due: core

feat(list): add the dense mode spec
  packages/core/src/list/_list.scss
Due: core

feat(icon): create dense-size custom property
  packages/core/src/icon/_icon.scss
  packages/core/src/icon/styles.ts
Due: core

fix(combobox): do not lose focus within dialogs
  packages/core/src/form/useCombobox.ts
Due: core

feat(docs): add a script to update the algolia index
  apps/docs/package.json
  apps/docs/scripts/updateAlgoliaIndex.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-higher-contrast-children/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon-rotator/page.mdx
  packages/docs-generator/package.json
  packages/docs-generator/src/remark-mdx-metadata.ts
  packages/docs-generator/src/scripts/algolia/parseMdx.ts
  packages/docs-generator/src/scripts/algolia/types.ts
  pnpm-lock.yaml
Due: docs

feat(docs): enable search with algolia
  apps/docs/package.json
  apps/docs/scripts/createEnv.ts
  apps/docs/scripts/tsconfig.json
  apps/docs/src/components/MainLayout/MainLayout.tsx
  apps/docs/src/components/RandomEmoji.module.scss
  apps/docs/src/components/RandomEmoji.tsx
  apps/docs/src/components/WebsiteSearch/Algolia-logo-blue.svg
  apps/docs/src/components/WebsiteSearch/AlgoliaFooter.module.scss
  apps/docs/src/components/WebsiteSearch/AlgoliaFooter.tsx
  apps/docs/src/components/WebsiteSearch/AlgoliaSearch.module.scss
  apps/docs/src/components/WebsiteSearch/AlgoliaSearch.tsx
  apps/docs/src/components/WebsiteSearch/HeadingStructureIcon.module.scss
  apps/docs/src/components/WebsiteSearch/HeadingStructureIcon.tsx
  apps/docs/src/components/WebsiteSearch/LinkOption.tsx
  apps/docs/src/components/WebsiteSearch/NoSearchResults.tsx
  apps/docs/src/components/WebsiteSearch/NotYetSearched.tsx
  apps/docs/src/components/WebsiteSearch/SearchButtonContents.module.scss
  apps/docs/src/components/WebsiteSearch/SearchButtonContents.tsx
  apps/docs/src/components/WebsiteSearch/WebsiteSearch.tsx
  apps/docs/src/components/WebsiteSearch/WebsiteSearchContainer.module.scss
  apps/docs/src/components/WebsiteSearch/WebsiteSearchContainer.tsx
  apps/docs/src/components/WebsiteSearch/useAlgoliaSearch.ts
  apps/docs/src/components/WebsiteSearch/useAlgoliaSearchItems.ts
  apps/docs/src/constants/env.ts
  pnpm-lock.yaml
Due: docs

test: fix docs-generator tests after updating TOC behavior
  packages/docs-generator/src/__tests__/rehype-toc.ts
Due: none

fix(core): rename resize observer test utils
  packages/core/src/test-utils/jest-globals/resize-observer.ts
  packages/core/src/test-utils/mocks/ResizeObserver.ts
  packages/core/src/test-utils/vitest/resize-observer.ts
Due: core

chore(examples): add mlaursen-vite example
  examples/mlaursen-vite/.gitignore
  examples/mlaursen-vite/.husky/pre-commit
  examples/mlaursen-vite/.lazy.lua
  examples/mlaursen-vite/.prettierignore
  examples/mlaursen-vite/.prettierrc.yaml
  examples/mlaursen-vite/README.md
  examples/mlaursen-vite/eslint.config.js
  examples/mlaursen-vite/index.html
  examples/mlaursen-vite/package.json
  examples/mlaursen-vite/public/favicon.ico
  examples/mlaursen-vite/src/App.tsx
  examples/mlaursen-vite/src/MainNavigation.tsx
  examples/mlaursen-vite/src/RootProviders.tsx
  examples/mlaursen-vite/src/__tests__/App.tsx
  examples/mlaursen-vite/src/_everything.scss
  examples/mlaursen-vite/src/index.scss
  examples/mlaursen-vite/src/main.tsx
  examples/mlaursen-vite/src/rmdConfig.tsx
  examples/mlaursen-vite/src/test-utils.tsx
  examples/mlaursen-vite/src/testSetup.ts
  examples/mlaursen-vite/src/vite-env.d.ts
  examples/mlaursen-vite/tsconfig.app.json
  examples/mlaursen-vite/tsconfig.json
  examples/mlaursen-vite/tsconfig.node.json
  examples/mlaursen-vite/vite.config.ts
Due: none

build(version): version packages
  .changeset/nine-friends-glow.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/typography/HighlightText.tsx
  packages/core/src/typography/Mark.tsx
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

build: bump example react-md version
  examples/mlaursen-vite/package.json
  examples/vite-js/package.json
  examples/vite-ts/package.json
Due: none

build: bump pnpm to 10.8.0
  .github/workflows/main.yml
  apps/docs/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
Due: core, docs

docs(search): scroll to top as query changes
  apps/docs/src/components/WebsiteSearch/AlgoliaSearch.tsx
Due: docs

fix(vitest): add cleanup to vitest/setup
  packages/core/src/test-utils/vitest/setup.ts
Due: core
