Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(form): fix typo and conventions for useFileUpload
  packages/core/src/form/useFileUpload.ts
Due: core

refactor(core): move file input stuff into separate folder
  apps/docs/src/app/(main)/(markdown)/(demos)/components/file-input/ControlledFileInput.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/file-input/CustomIcon.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/file-input/CustomIconLabel.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/file-input/ResponsiveFileInput.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/file-input/SimpleFileInput.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/menu/MenuItemFileInputExample.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/_core.scss
  packages/core/src/files/FileInput.tsx
  packages/core/src/files/__tests__/FileInput.tsx
  packages/core/src/files/__tests__/__snapshots__/FileInput.tsx.snap
  packages/core/src/files/__tests__/useFileUpload.tsx
  packages/core/src/files/__tests__/utils.ts
  packages/core/src/files/_files.scss
  packages/core/src/files/styles.ts
  packages/core/src/files/useFileUpload.ts
  packages/core/src/files/utils.ts
  packages/core/src/files/validation.ts
  packages/core/src/form/_form.scss
  packages/react-md/src/index.ts
Due: core, docs

build: bump turbo to 2.1.0
  package.json
  pnpm-lock.yaml
Due: none

build: bump pnpm to 9.9.0
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

feat(core): add useReadonlySet utility hook
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/expansion-panel/useExpansionPanels.ts
  packages/core/src/form/useCheckboxGroup.ts
  packages/core/src/tree/useTreeExpansion.ts
  packages/core/src/tree/useTreeSelection.ts
  packages/core/src/useReadonlySet.ts
Due: core

feat(navigation): support controlling expansion and following pathname
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleCoreNavigation.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/AddingDividersAndSubheadersExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/AddingIconsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/CollapsibleGroupsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/NextjsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/navigation/SimpleExample.tsx
  apps/docs/src/components/MainLayout/MainNavigation.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/navigation/CollapsibleNavGroup.tsx
  packages/core/src/navigation/DefaultNavigationRenderer.tsx
  packages/core/src/navigation/__tests__/Navigation.tsx
  packages/core/src/navigation/__tests__/utils.tsx
  packages/core/src/navigation/getHrefFromParents.ts
  packages/core/src/navigation/types.ts
  packages/core/src/navigation/useNavigationExpansion.ts
  packages/core/src/navigation/utils.ts
Due: core, docs

chore(navigation): add tests, fix missing props, fix behavior
  apps/docs/src/app/(layout-examples)/layout-example/[layout]/ExampleCoreNavigation.tsx
  packages/core/src/navigation/CollapsibleNavGroup.tsx
  packages/core/src/navigation/DefaultNavigationRenderer.tsx
  packages/core/src/navigation/NavItemButton.tsx
  packages/core/src/navigation/NavItemLink.tsx
  packages/core/src/navigation/__tests__/NavItem.tsx
  packages/core/src/navigation/__tests__/NavItemButton.tsx
  packages/core/src/navigation/__tests__/NavItemLink.tsx
  packages/core/src/navigation/__tests__/NavSubheader.tsx
  packages/core/src/navigation/__tests__/Navigation.tsx
  packages/core/src/navigation/__tests__/__snapshots__/NavItem.tsx.snap
  packages/core/src/navigation/__tests__/__snapshots__/NavItemButton.tsx.snap
  packages/core/src/navigation/__tests__/__snapshots__/NavItemLink.tsx.snap
  packages/core/src/navigation/__tests__/__snapshots__/NavSubheader.tsx.snap
  packages/core/src/navigation/__tests__/__snapshots__/Navigation.tsx.snap
  packages/core/src/navigation/__tests__/__snapshots__/useNavigationExpansion.tsx.snap
  packages/core/src/navigation/__tests__/useNavigationExpansion.tsx
  packages/core/src/navigation/__tests__/utils.tsx
  packages/core/src/navigation/types.ts
  packages/core/src/navigation/useNavigationExpansion.ts
  packages/core/src/navigation/utils.ts
Due: core, docs

chore: add missing useReadonlySet export
  packages/react-md/src/index.ts
Due: none

chore(autocomplete): add AutocompleteClearButton and simple tests
  packages/core/src/autocomplete/AutocompleteCircularProgress.tsx
  packages/core/src/autocomplete/AutocompleteClearButton.tsx
  packages/core/src/autocomplete/__tests__/AutocompleteCircularProgress.tsx
  packages/core/src/autocomplete/__tests__/AutocompleteClearButton.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/AutocompleteCircularProgress.tsx.snap
  packages/core/src/autocomplete/__tests__/__snapshots__/AutocompleteClearButton.tsx.snap
Due: core

chore(menu): do not increase height for MenuItemButton
  packages/core/src/menu/MenuItemButton.tsx
Due: core

chore(dialog): moved styles to non-client component and removed unused const
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/FixedDialog.tsx
  packages/core/src/dialog/styles.ts
Due: core

chore(dialog): update nested dialog css performance and fix disabled transitions
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/NestedDialogsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/NestedDialogsVisibleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/page.mdx
  apps/docs/src/components/ReturnToTop.tsx
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/__tests__/Dialog.tsx
  packages/core/src/dialog/__tests__/__snapshots__/Dialog.tsx.snap
  packages/core/src/dialog/_dialog.scss
  packages/core/src/dialog/styles.ts
Due: core, docs

docs: updated README and CONTRIBUTING info
  .github/CONTRIBUTING.md
  README.md
  apps/docs/README.md
  apps/docs/package.json
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  apps/docs/src/components/DemoCode/ScssCodeEditor.tsx
  apps/docs/src/components/DemoCode/useScssCodeEditor.ts
  packages/code/README.md
  packages/docs-generator/README.md
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/react-md/README.md
Due: docs

chore(form): update listbox for autocomplete changes
  packages/core/src/form/Listbox.tsx
  packages/core/src/form/ListboxProvider.ts
  packages/core/src/form/Option.tsx
  packages/core/src/form/Select.tsx
  packages/core/src/form/useCombobox.ts
  packages/core/src/menu/Menu.tsx
Due: core

chore(core): add debounce and throttle utils
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/watchDemos.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/types.ts
  packages/core/src/useDebouncedFunction.ts
  packages/core/src/useThrottledFunction.ts
  packages/core/src/utils/debounce.ts
  packages/core/src/utils/throttle.ts
  packages/react-md/src/index.ts
Due: core, docs

build(pnpm): bump pnpm to 9.12.1
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

build(core): upgrade deps and use new sass color functions
  apps/docs/next-env.d.ts
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/theme/_a11y.scss
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs-generator): add disableTransform option
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/docs-generator/src/utils/createTypescriptCodeBlock.ts
Due: none

chore(autocomplete): get most of the new autocomplete API setup
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteDropdownButton.tsx
  packages/core/src/autocomplete/AutocompleteListboxChildren.tsx
  packages/core/src/autocomplete/FilterAutocompleteOptions.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/autocomplete/defaults.ts
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/autocomplete/utils.ts
  packages/core/src/form/Listbox.tsx
  packages/core/src/form/Select.tsx
  packages/core/src/form/types.ts
  packages/core/src/form/useCombobox.ts
  packages/react-md/src/index.ts
Due: core

docs(autocomplete): update demos for new Autocomplete API
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/AsyncExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ControllingTheInputValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ControllingTheValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomFilterFunctionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DebouncedSearchExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableFilteringExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisabledOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GetOptionPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GettingTheCurrentInputValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ObjectOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/OptionPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SearchExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SettingADefaultValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SimpleLabelExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ThrottledSearchExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
Due: docs

build: force concurrency=1 for tests to prevent issues
  package.json
Due: none

build: fix build after new eslint changes
  packages/codemod/tsconfig.build.json
  packages/docs-generator/tsconfig.types.json
Due: none

chore(autocomplete): fix the filtering behavior and add tests
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/autocomplete/utils.ts
  packages/core/src/form/useEditableCombobox.ts
Due: core

build: add docs-dev/core-dev and no strict typing eslint
  apps/docs/eslint.config.mjs
  package.json
  packages/core/eslint.config.mjs
  packages/core/src/form/Select.tsx
  packages/core/src/form/utils.ts
  packages/core/src/searching/__tests__/caseInsensitive.ts
  packages/core/src/tooltip/utils.ts
  packages/core/src/tree/TreeProvider.tsx
  packages/core/src/useIsomorphicLayoutEffect.ts
  packages/core/src/useLocalStorage.ts
  packages/core/src/useThrottledFunction.ts
  packages/core/src/utils/throttle.ts
Due: core, docs

feat(autocomplete): add allowAnyValue behavior
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/AllowAnyValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableFilteringExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/autocomplete/utils.ts
  packages/core/src/test-utils/timers.ts
Due: core, docs

test: rename useImmediateRaf to testImmediateRaf for rules-of-hooks
  packages/core/src/menu/__tests__/DropdownMenu.tsx
  packages/core/src/test-utils/timers.ts
Due: core

chore(text-field): set background color for easier overriding
  packages/core/src/form/_form.scss
Due: core

chore(autocomplete): update styling behavior
  packages/core/.stylelintrc.json
  packages/core/src/_core.scss
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteDropdownButton.tsx
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/autocomplete/autocompleteStyles.ts
Due: core

chore(autocomplete): make the listbox fixed to container
  packages/core/src/autocomplete/Autocomplete.tsx
Due: core

style(autocomplete): only use ellipsis while not focused and not hovering
  packages/core/src/autocomplete/_autocomplete.scss
Due: core

chore(autocomplete): add onValueChange convenience prop
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
Due: core

chore(autocomplete): allow clear on select and checkboxes props
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteListboxChildren.tsx
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/autocomplete/utils.ts
  packages/core/src/form/Listbox.tsx
  packages/core/src/form/ListboxProvider.ts
  packages/core/src/form/Option.tsx
Due: core

feat(autocomplete): implement multiselect inline chips
  apps/docs/src/constants/rmdConfig.tsx
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteChip.tsx
  packages/core/src/autocomplete/AutocompleteCircularProgress.tsx
  packages/core/src/autocomplete/AutocompleteClearButton.tsx
  packages/core/src/autocomplete/AutocompleteDropdownButton.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/AutocompleteChip.tsx
  packages/core/src/autocomplete/__tests__/AutocompleteClearButton.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/__tests__/__snapshots__/AutocompleteChip.tsx.snap
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/autocomplete/autocompleteStyles.ts
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/icon/iconConfig.tsx
Due: core, docs

docs(autocomplete): add more autocomplete examples
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomizingInlineChipsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableCloseOnSelectExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableInlineChipsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/MultipleValuesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/MultiselectCheckboxesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
Due: docs

feat(chip): move more styles to custom properties
  packages/core/src/chip/_chip.scss
Due: core

chore(autocomplete): update styles to use custom properties
  packages/core/src/autocomplete/_autocomplete.scss
Due: core

chore(autocomplete): add the ability to filter selected options
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/FilterSelectedExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
Due: core, docs
