Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

fix(form): floating label behavior without password managers
  packages/core/src/form/_form.scss
Due: core

build(deps): bump deps
  apps/docs/package.json
  package.json
  packages/code/jest.config.cjs
  packages/code/package.json
  packages/codemod/package.json
  packages/core/jest.config.cjs
  packages/core/package.json
  packages/docs-generator/jest.config.cjs
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(version): version packages
  .changeset/light-humans-stare.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

feat(core): hopefully enable vitest test-utils
  packages/core/package.json
  packages/core/src/test-utils/vitest/index.ts
  packages/core/src/test-utils/vitest/match-media.ts
  packages/core/src/test-utils/vitest/resize-observer.ts
  packages/core/src/test-utils/vitest/setup.ts
  packages/core/src/test-utils/vitest/timers.ts
  pnpm-lock.yaml
Due: core

chore(docs): update PackageManagerCodeBlock for more reusability
  apps/docs/src/app/(main)/components/material-icons-and-symbols/SVGIconImportAndUsage.tsx
  apps/docs/src/components/CustomMdxComponents.tsx
  apps/docs/src/components/PackageManagerCodeBlock/PackageManagerCodeBlock.tsx
  apps/docs/src/components/PackageManagerCodeBlock/PackageManagerCodeBlockContainer.tsx
  apps/docs/src/components/PackageManagerCodeBlock/PackageManagerTabPanels.tsx
  apps/docs/src/components/PackageManagerCodeBlock/PackageManagerTabs.module.scss
  apps/docs/src/components/PackageManagerCodeBlock/PackageManagerTabs.tsx
  apps/docs/src/components/PackageManagerCodeBlock/getPackageManagerJsx.tsx
  apps/docs/src/components/PackageManagerCodeBlockContainer.tsx
Due: docs

chore(docs): allow GithubLink to be customized
  apps/docs/src/components/GithubLink.tsx
Due: docs

chore(docs): allow transforming typescript without mdx
  apps/docs/src/components/TransformTypescriptCodeBlock.tsx
  packages/docs-generator/src/utils/transformNpmCode.ts
Due: docs

chore(docs): create more testing docs
  apps/docs/src/app/(main)/(markdown)/testing/FrameworkCodeSwap.tsx
  apps/docs/src/app/(main)/(markdown)/testing/RenderFramework.tsx
  apps/docs/src/app/(main)/(markdown)/testing/TestFrameworkCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/TestFrameworkNpmCode.tsx
  apps/docs/src/app/(main)/(markdown)/testing/TestFrameworkProvider.tsx
  apps/docs/src/app/(main)/(markdown)/testing/TestFrameworksToggle.tsx
  apps/docs/src/app/(main)/(markdown)/testing/constants.ts
  apps/docs/src/app/(main)/(markdown)/testing/layout.tsx
  apps/docs/src/app/(main)/(markdown)/testing/polyfills/SourceLink.module.scss
  apps/docs/src/app/(main)/(markdown)/testing/polyfills/SourceLink.tsx
  apps/docs/src/app/(main)/(markdown)/testing/polyfills/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/InstallDependenciesCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/TestConfigCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/TestSetupCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/TestUtilsCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/MarkdownCode.tsx
  packages/core/src/test-utils/README.md
  packages/core/src/test-utils/jest-globals/match-media.ts
  packages/core/src/test-utils/jest-globals/resize-observer.ts
  packages/core/src/test-utils/vitest/match-media.ts
  packages/core/src/test-utils/vitest/resize-observer.ts
  packages/core/src/test-utils/vitest/timers.ts
Due: core, docs

chore(docs): more testing docs
  apps/docs/src/app/(main)/(markdown)/testing/jest/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/polyfills/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/ChangeViewportExample.tsx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/DefaultMediaExample.tsx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/ResizeObserverMockExample.tsx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/SourceLink.tsx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/TestImmediateRafExample.tsx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/page.mdx
  apps/docs/src/components/GithubLink.module.scss
  apps/docs/src/components/GithubLink.tsx
Due: docs

chore(docs): started creating testing recipes
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/form/__tests__/Select.tsx
  packages/core/src/test-utils/index.ts
  packages/core/src/test-utils/utils/queries.ts
Due: core, docs

test(switch): added checked state tests to Switch
  packages/core/src/form/__tests__/Switch.tsx
  packages/core/src/form/__tests__/__snapshots__/Switch.tsx.snap
Due: core

chore(core): rename test query to match upcoming queries
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  packages/core/src/form/__tests__/Select.tsx
  packages/core/src/test-utils/utils/queries.ts
Due: core, docs

test(form): added simple form tests
  packages/core/src/form/__tests__/Checkbox.tsx
  packages/core/src/form/__tests__/Form.tsx
  packages/core/src/form/__tests__/__snapshots__/Form.tsx.snap
Due: core

test(slider): started adding slider tests and fixed some issues
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  packages/core/src/draggable/useDraggable.ts
  packages/core/src/form/Slider.tsx
  packages/core/src/form/SliderThumb.tsx
  packages/core/src/form/__tests__/Slider.tsx
  packages/core/src/form/__tests__/__snapshots__/Slider.tsx.snap
  packages/core/src/form/_form.scss
  packages/core/src/test-utils/utils/queries.ts
Due: core, docs

build(pnpm): bump pnpm to 9.15.4
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

build(node): upgrade node to 22.13.0
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

refactor(slider): move logic to util hooks
  packages/core/src/form/Slider.tsx
  packages/core/src/form/useSliderDraggable.ts
Due: core

test(slider): add slider util tests
  packages/core/src/form/__tests__/sliderUtils.ts
  packages/core/src/form/sliderUtils.ts
Due: core

test(slider): add slider tests and test-util queries
  packages/core/src/form/__tests__/Slider.tsx
  packages/core/src/form/__tests__/__snapshots__/Slider.tsx.snap
  packages/core/src/test-utils/utils/queries.ts
Due: core

test(slider): add more tests
  packages/core/src/form/__tests__/Slider.tsx
  packages/core/src/form/__tests__/__snapshots__/Slider.tsx.snap
  packages/core/src/form/sliderUtils.ts
  packages/core/src/test-utils/drag.ts
Due: core

build: add test-core and test-core-watch scripts
  package.json
Due: none

refactor(core): move queries to separate files and add find* queries
  packages/core/src/test-utils/index.ts
  packages/core/src/test-utils/queries/index.ts
  packages/core/src/test-utils/queries/select.ts
  packages/core/src/test-utils/queries/slider.ts
  packages/core/src/test-utils/queries/types.ts
Due: core

feat(bem): add base attribute and update typedefs
  packages/core/src/utils/__tests__/bem.ts
  packages/core/src/utils/bem.ts
Due: core

fix(vitest): import vitest
  packages/core/src/test-utils/vitest/setup.ts
Due: core

test(docs): additional test recipes
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/SpyOnCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  packages/core/src/tabs/__tests__/useTabs.tsx
Due: core, docs

feat(test-utils): make resize observer mock framework agnostic
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/ResizeObserverMockExample.tsx
  packages/core/src/__tests__/useElementSize.tsx
  packages/core/src/__tests__/useResizeObserver.tsx
  packages/core/src/form/__tests__/TextArea.tsx
  packages/core/src/layout/__tests__/LayoutAppBar.tsx
  packages/core/src/test-utils/jest-globals/index.ts
  packages/core/src/test-utils/jest-globals/resize-observer.ts
  packages/core/src/test-utils/mocks/ResizeObserver.ts
  packages/core/src/test-utils/mocks/__tests__/ResizeObserver.ts
  packages/core/src/test-utils/utils/resize-observer.ts
  packages/core/src/test-utils/vitest/index.ts
  packages/core/src/test-utils/vitest/resize-observer.ts
Due: core, docs

test(core): add more test coverage
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  packages/core/jest.config.cjs
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/FixedDialog.tsx
  packages/core/src/dialog/__tests__/Dialog.tsx
  packages/core/src/dialog/__tests__/FixedDialog.tsx
  packages/core/src/dialog/__tests__/__snapshots__/FixedDialog.tsx.snap
  packages/core/src/dialog/styles.ts
  packages/core/src/divider/__tests__/Divider.tsx
  packages/core/src/divider/__tests__/__snapshots__/Divider.tsx.snap
  packages/core/src/form/MenuItemFileInput.tsx
  packages/core/src/form/__tests__/MenuItemFileInput.tsx
  packages/core/src/form/__tests__/MenuItemSwitch.tsx
  packages/core/src/form/__tests__/__snapshots__/MenuItemFileInput.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/MenuItemSwitch.tsx.snap
  packages/core/src/test-utils/index.ts
  packages/core/src/test-utils/jest-globals/index.ts
  packages/core/src/test-utils/jest-globals/uploadMenuItemFileInput.ts
  packages/core/src/test-utils/mocks/ResizeObserver.ts
  packages/core/src/test-utils/mocks/__tests__/ResizeObserver.ts
  packages/core/src/test-utils/utils/createFileList.ts
  packages/core/src/test-utils/utils/createResizeObserverEntry.ts
  packages/core/src/test-utils/utils/resize-observer.ts
  packages/core/src/test-utils/vitest/index.ts
  packages/core/src/test-utils/vitest/uploadMenuItemFileInput.ts
  packages/core/src/transition/useScaleTransition.ts
Due: core, docs

fix: added additional RTL fixes for layout/app-bar
  apps/docs/src/components/MainLayout/MainLayout.module.scss
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/layout/_layout.scss
Due: core, docs

docs: fix spelling of imports
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/SpyOnCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/page.mdx
Due: docs

chore(docs): add theme page and fix a few sassdoc stuffs
  apps/docs/src/app/(main)/(markdown)/customization/theme/page.mdx
  packages/core/src/_core.scss
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/form/_form.scss
  packages/core/src/segmented-button/_segmented-button.scss
  packages/core/src/table/_table.scss
Due: core, docs

docs: started adding hook api docs
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-app-size/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-checkbox-group/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-element-size/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-intersection-observer/SimpleExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-intersection-observer/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-intersection-observer/example/page.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-intersection-observer/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-media-query/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-radio-group/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-resize-listener/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-resize-observer/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-window-size/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/StickyColumnsExample.module.scss
  apps/docs/src/components/MarkdownCode.tsx
  packages/code/src/CodeBlock.tsx
  packages/code/src/_code.scss
  packages/core/src/form/useCheckboxGroup.ts
  packages/core/src/form/useRadioGroup.ts
  packages/core/src/form/useTextField.ts
  packages/core/src/media-queries/AppSizeProvider.tsx
  packages/core/src/media-queries/useMediaQuery.ts
  packages/core/src/useElementSize.ts
  packages/core/src/useIntersectionObserver.ts
  packages/core/src/useResizeListener.ts
  packages/core/src/useResizeObserver.ts
  packages/core/src/useWindowSize.ts
  packages/docs-generator/src/rehype-code-blocks.ts
  packages/docs-generator/src/utils/createDemo.ts
  pnpm-lock.yaml
Due: core, docs

build: add update-material-icons root script
  package.json
Due: none

fix(card): add max-width: 100% to help with flex containers
  packages/core/src/card/_card.scss
Due: core

build: bump safe deps and fix sass error
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/switch/SwitchWithCircularProgress.module.scss
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build: bump pnpm to 10.2.1
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs
