Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

fix(codemod): add bin field back
  packages/codemod/package.json
Due: none

build(version): version packages
  .changeset/pre.json
  .changeset/quick-dancers-show.md
Due: none

build: try fixing release script
  .changeset/pre.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  scripts/release.ts
Due: none

build(version): version packages
  .changeset/neat-results-hide.md
  .changeset/pre.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
Due: none

chore(codemod): try removing bin field
  packages/codemod/package.json
Due: none

build: remove unneeded confirm
  scripts/release.ts
Due: none

build(version): version packages
  .changeset/pre.json
  .changeset/ripe-seals-rhyme.md
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
Due: none

fix(codemod): keep the bin field
  packages/codemod/package.json
Due: none

build(version): version packages
  .changeset/neat-results-hide.md
  .changeset/pre.json
  .changeset/quick-dancers-show.md
  .changeset/ripe-seals-rhyme.md
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
Due: none

fix(codemod): do not report tabs error when none are used
  packages/codemod/src/transforms/v5-to-v6/tabs/__testfixtures__/NoTabComponents.input.tsx
  packages/codemod/src/transforms/v5-to-v6/tabs/__testfixtures__/NoTabComponents.output.tsx
  packages/codemod/src/transforms/v5-to-v6/tabs/__tests__/update-tabs-api.ts
  packages/codemod/src/transforms/v5-to-v6/tabs/update-tabs-api.ts
Due: none

build(version): version packages
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
Due: none

docs: added a simple blog index page
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/blog/page.tsx
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  pnpm-lock.yaml
Due: docs

docs(algolia): update aloglia to add simple blog support
  apps/docs/scripts/updateAlgoliaIndex.ts
Due: docs

docs: try adding markdown loading page and blog tweaks
  apps/docs/scripts/tsconfig.json
  apps/docs/scripts/updateAlgoliaIndex.ts
  apps/docs/src/app/(main)/(markdown)/blog/data.ts
  apps/docs/src/app/(main)/(markdown)/blog/page.tsx
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/page.mdx
  apps/docs/src/app/(main)/(markdown)/loading.tsx
  apps/docs/src/components/PlaceholderMarkdownPage.tsx
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
Due: docs

build: try some vercel deployment fixes
  apps/docs/scripts/createEnv.ts
  apps/docs/src/app/(main)/(markdown)/blog/page.tsx
Due: docs

fix(docs); typecheck for scripts
  apps/docs/scripts/tsconfig.json
Due: docs

build(docs): debug vercel env vars
  apps/docs/scripts/createEnv.ts
Due: docs

build: debug vercel again.
  apps/docs/scripts/createEnv.ts
Due: docs

build: fix createEnv script
  apps/docs/scripts/createEnv.ts
Due: docs

docs: allow MarkdownImage to open image in new tab and DevToolsPreview fix
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/DevToolsPreview.module.scss
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/DevToolsPreview.tsx
  apps/docs/src/components/MarkdownImage.tsx
Due: docs

build(examples): use latest version of react-md
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-nextjs/pnpm-lock.yaml
  examples/mlaursen-vite/package.json
  examples/mlaursen-vite/pnpm-lock.yaml
  examples/nextjs-js/package.json
  examples/nextjs-ts/package.json
  examples/vite-js/package.json
  examples/vite-ts/package.json
  turbo.json
Due: none

fix(docs): allow website to be crawled and update env vars
  apps/docs/src/app/robots.ts
  apps/docs/src/components/MainLayout/VersionDropdown.tsx
  apps/docs/src/constants/env.ts
  apps/docs/src/constants/version.ts
Due: docs

fix(docs): use different algolia indexes as needed
  .gitignore
  apps/docs/.env
  apps/docs/.env.development
  apps/docs/scripts/createEnv.ts
  apps/docs/scripts/updateAlgoliaIndex.ts
Due: docs

fix(core): provide state name for useEnsuredState to improve debugging
  packages/core/src/__tests__/useEnsuredState.tsx
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/form/useCombobox.ts
  packages/core/src/menu/DropdownMenu.tsx
  packages/core/src/tabs/useTabs.ts
  packages/core/src/theme/useColorSchemeProvider.ts
  packages/core/src/useEnsuredState.ts
Due: core

fix(autocomplete): do not allow clear button to be clickable while hidden
  packages/core/src/autocomplete/_autocomplete.scss
Due: core

feat(core): add border-radius and spacing vars
  packages/core/src/_base.scss
  packages/core/src/_border-radius.scss
  packages/core/src/_core.scss
  packages/core/src/_spacing.scss
Due: core

feat(core): prioritize theme and typography vars in dev tools
  packages/core/src/_base.scss
Due: core

build(version): version packages
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

chore(examples): update examples to latest
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-nextjs/src/app/__tests__/__snapshots__/page.tsx.snap
  examples/mlaursen-vite/package.json
  examples/nextjs-js/package.json
  examples/nextjs-ts/package.json
  examples/vite-js/package.json
  examples/vite-ts/package.json
Due: none

feat(core): add border-radius and spacing vars
  packages/core/src/_base.scss
  packages/core/src/_border-radius.scss
  packages/core/src/_core.scss
  packages/core/src/_spacing.scss
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/badge/_badge.scss
  packages/core/src/box/_box.scss
  packages/core/src/button/_button.scss
  packages/core/src/card/_card.scss
  packages/core/src/chip/_chip.scss
  packages/core/src/dialog/_dialog.scss
  packages/core/src/divider/_divider.scss
  packages/core/src/expansion-panel/_expansion-panel.scss
  packages/core/src/form/_form-message.scss
  packages/core/src/form/_input-toggle.scss
  packages/core/src/form/_label.scss
  packages/core/src/form/_password.scss
  packages/core/src/form/_select.scss
  packages/core/src/form/_slider.scss
  packages/core/src/form/_switch.scss
  packages/core/src/form/_text-area.scss
  packages/core/src/form/_text-field.scss
  packages/core/src/icon/_icon.scss
  packages/core/src/link/_link.scss
  packages/core/src/list/_list.scss
  packages/core/src/menu/_menu.scss
  packages/core/src/navigation/_navigation.scss
  packages/core/src/responsive-item/_responsive-item.scss
  packages/core/src/segmented-button/_segmented-button.scss
  packages/core/src/sheet/_sheet.scss
  packages/core/src/snackbar/_snackbar.scss
  packages/core/src/table/_table.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/theme/utils.ts
  packages/core/src/tooltip/_tooltip.scss
  packages/core/src/transition/_transition.scss
  packages/core/src/tree/_tree.scss
Due: core

chore(core): throw error if parseCssLengthUnit is provided a calc string
  .lazy.lua
  packages/core/src/utils/__tests__/parseCssLengthUnit.ts
  packages/core/src/utils/parseCssLengthUnit.ts
Due: core

build(docs): fix .env.development for algolia
  apps/docs/.env.development
Due: docs

chore(sassdoc-generator): add support for border-radius and spacing
  package.json
  packages/sassdoc-generator/src/formatBaseItem.ts
  packages/sassdoc-generator/src/generate.ts
Due: none

build(deps): bump deps to latest and fix eslint errors
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/MaterialGridCustomizationExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/menu/MenuItemRadioExample.tsx
  apps/docs/src/utils/strings.ts
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/code/src/WalkChildren.tsx
  packages/codemod/package.json
  packages/codemod/src/transforms/v5-to-v6/form/utils/select/createOptionsDotMap.ts
  packages/codemod/src/transforms/v5-to-v6/form/utils/select/getChildrenFromOptionsDotMap.ts
  packages/codemod/src/transforms/v5-to-v6/prerequisites/hardcode-scss-variables.ts
  packages/core/package.json
  packages/core/src/app-bar/styles.ts
  packages/core/src/form/TextArea.tsx
  packages/core/src/form/utils.ts
  packages/core/src/interaction/useElementInteraction.tsx
  packages/core/src/layout/LayoutNav.tsx
  packages/core/src/layout/useMainTabIndex.ts
  packages/core/src/theme/utils.ts
  packages/core/src/utils/bem.ts
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/sassdoc-generator/src/formatExamples.ts
  packages/sassdoc-generator/src/getCompiledVariableValue.ts
  pnpm-lock.yaml
Due: core, docs

docs: update search to prioritize missing search queries with known values
  apps/docs/src/components/WebsiteSearch/NotYetSearched.tsx
Due: docs

build: disable react/prop-types eslint rule since I don't use JS
  packages/core/eslint.config.mjs
Due: core
