Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

fix(core): missing type definitions for test-utils
  packages/core/src/test-utils/data-testid.ts
  packages/core/tsconfig.types.json
Due: core

fix(core): missing tooltip styling util export
  packages/core/src/index.ts
Due: core

docs(core): update README
  packages/core/README.md
Due: core

chore(transition): stop using DEFAULT_COLLAPSE_* constants
  packages/core/src/transition/useCollapseTransition.ts
Due: core

fix(transition): collapse transition with box-sizing: content-box
  packages/core/src/transition/__tests__/utils.ts
  packages/core/src/transition/utils.ts
Due: core

chore(core): add useFormReset hook
  packages/core/src/form/Select.tsx
  packages/core/src/form/__tests__/useFormReset.tsx
  packages/core/src/form/useFormReset.ts
Due: core

chore(core): update useFixedPositioning updateStyle behavior
  packages/core/src/menu/Menu.tsx
  packages/core/src/positioning/useFixedPositioning.ts
Due: core

chore(docs): added FixedDialog example
  apps/docs/src/app/components/dialog/demo-page.mdx
  apps/docs/src/app/components/dialog/demos.mdx
  apps/docs/src/app/components/dialog/toc.ts
  packages/core/src/dialog/FixedDialog.tsx
Due: core, docs

test(menu): update tests for useFixedPositioning updates
  apps/docs/src/app/components/dialog/FixedDialogExample.tsx
  apps/docs/src/app/components/menu/ContextMenuExample.tsx
  apps/docs/src/app/components/menu/demo-page.mdx
  packages/core/src/menu/__tests__/__snapshots__/useContextMenu.tsx.snap
  packages/core/src/menu/__tests__/useContextMenu.tsx
  packages/core/src/menu/useContextMenu.ts
  packages/core/src/positioning/__tests__/__snapshots__/useFixedPositioning.tsx.snap
  packages/core/src/positioning/__tests__/useFixedPositioning.tsx
Due: core, docs

fix(avatar): use aria-hidden instead of role="presentation"
  packages/core/src/avatar/Avatar.tsx
  packages/core/src/avatar/__tests__/Avatar.tsx
  packages/core/src/avatar/__tests__/__snapshots__/Avatar.tsx.snap
Due: core

chore(form): added tests and fixes for Select
  apps/docs/src/app/components/select/UsingOptionAddons.tsx
  apps/docs/src/app/components/select/demo-page.mdx
  apps/docs/src/app/components/select/demos.mdx
  packages/core/src/form/Option.tsx
  packages/core/src/form/Select.tsx
  packages/core/src/form/SelectedOption.tsx
  packages/core/src/form/__tests__/Select.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/form/_form.scss
  packages/core/src/form/selectUtils.ts
  packages/core/src/form/useListboxProvider.ts
  packages/core/src/index.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
Due: core, docs

chore(core): add more types for keyboard movement
  packages/core/src/movement/types.ts
Due: core

chore(form): add useCombobox hook and Select component tweeks
  apps/docs/src/app/components/select/demo-page.mdx
  apps/docs/src/app/components/select/demos.mdx
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/Select.tsx
  packages/core/src/form/SelectedOption.tsx
  packages/core/src/form/__tests__/Select.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/form/useCombobox.ts
  packages/core/src/index.ts
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
Due: core, docs

fix(select): allow Select to be autofilled
  apps/docs/src/app/components/select/demo-page.mdx
  apps/docs/src/app/components/select/demos.mdx
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/Select.tsx
  packages/core/src/form/SelectedOption.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/form/_form.scss
  packages/core/src/form/selectUtils.ts
  packages/core/src/form/useCombobox.ts
  packages/core/src/form/useSelectCombobox.ts
  packages/core/src/index.ts
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
Due: core, docs

feat(core): add caseInsensitiveMatch and createFuzzyRegExp utils
  packages/core/src/utils/filters.ts
Due: core

refactor(core): update useCombobox to generate menu props
  packages/core/src/form/Select.tsx
  packages/core/src/form/useCombobox.ts
  packages/core/src/form/useSelectCombobox.ts
Due: core

feat(core): add useEditableCombobox hook
  packages/core/src/form/useEditableCombobox.ts
  packages/core/src/form/utils.ts
  packages/core/src/index.ts
  packages/core/src/movement/utils.ts
Due: core

chore(core): update useEnsuredState to default Setter typeparam
  packages/core/src/useEnsuredState.ts
Due: core

chore(core): AutoComplete -> Autocomplete
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/form/Select.tsx
  packages/core/src/form/TextField.tsx
  packages/core/src/form/types.ts
  packages/core/src/form/utils.ts
Due: core

refactor(core): move searching to separate files and folder
  apps/docs/src/constants/navItems.ts
  packages/core/src/index.ts
  packages/core/src/searching/__tests__/caseInsensitive.ts
  packages/core/src/searching/__tests__/fuzzy.ts
  packages/core/src/searching/__tests__/toSearchQuery.ts
  packages/core/src/searching/caseInsensitive.ts
  packages/core/src/searching/fuzzy.ts
  packages/core/src/searching/toSearchQuery.ts
  packages/core/src/searching/types.ts
  packages/core/src/searching/utils.ts
  packages/core/src/utils/alphaNumericSort.ts
  packages/core/src/utils/filters.ts
Due: core, docs

chore(core): additional combobox type updates
  package.json
  packages/core/src/form/useCombobox.ts
  packages/core/src/movement/utils.ts
Due: core

build: bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/searching/__tests__/caseInsensitive.ts
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): fix changing prism themes in chrome
  apps/docs/src/providers/PrismThemeProvider.tsx
Due: docs

fix(core): scroll active option into view on chrome
  packages/core/src/form/useCombobox.ts
  packages/core/src/movement/types.ts
  packages/core/src/movement/useKeyboardMovementProvider.ts
Due: core

format: re-rerun prettier after bumping deps
  apps/docs/scripts/tsconfig.json
  apps/docs/tsconfig.json
  packages/codemod/tsconfig.json
  packages/core/tsconfig.json
  packages/material-icons/scripts/tsconfig.json
  packages/material-icons/tsconfig.json
  scripts/tsconfig.json
Due: core, docs

fix(select): do not show soft keyboard when opening select
  packages/core/src/form/_form.scss
Due: core

build(version): version packages
  .changeset/pink-yaks-tickle.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  scripts/release.ts
Due: core, docs

build(release): hopefully a few more fixes to release script
  scripts/release.ts
Due: none

build: use volta to pin node and pnpm
  package.json
Due: none

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(form): support textarea for listbox provider inputRef
  packages/core/src/form/useListboxProvider.ts
Due: core

chore(snackbar): support absolute positioning
  packages/core/src/snackbar/Snackbar.tsx
  packages/core/src/snackbar/_snackbar.scss
  packages/core/src/snackbar/snackbarStyles.ts
Due: core

chore(core): update useDebouncedFunction to support cancel
  packages/core/src/__tests__/useDebouncedFunction.tsx
  packages/core/src/useDebouncedFunction.ts
Due: core

chore(core): update useThrottledFunction to be cancelable
  packages/core/src/__tests__/useThrottledFunction.tsx
  packages/core/src/types.ts
  packages/core/src/useDebouncedFunction.ts
  packages/core/src/useThrottledFunction.ts
Due: core

chore(menu): add MenuItemCircularProgress component
  packages/core/src/index.ts
  packages/core/src/menu/MenuItemCircularProgress.tsx
  packages/core/src/menu/__tests__/MenuItemCircularProgress.tsx
  packages/core/src/menu/__tests__/__snapshots__/MenuItemCircularProgress.tsx.snap
Due: core

chore(form): do not remove pointer-events from floating label
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/_form.scss
Due: core, docs

docs(test-utils): move examples to setupResizeObserverMock
  packages/core/src/test-utils/ResizeObserver.ts
  packages/core/src/test-utils/__tests__/ResizeObserver.ts
Due: core

chore(test): use c8 ignore stop instead of end
  packages/core/src/test-utils/matchMedia.ts
  packages/core/src/tree/useTreeMovement.ts
  packages/core/src/useResizeObserver.ts
Due: core

chore(form): add TextField tests and removed unneeded defaults
  packages/core/src/form/TextField.tsx
  packages/core/src/form/__tests__/TextField.tsx
  packages/core/src/form/__tests__/__snapshots__/TextField.tsx.snap
Due: core

chore(form): add TextArea tests and fix some issues
  packages/core/src/form/ResizingTextAreaWrapper.tsx
  packages/core/src/form/TextArea.tsx
  packages/core/src/form/__tests__/TextArea.tsx
  packages/core/src/form/__tests__/__snapshots__/TextArea.tsx.snap
  packages/core/src/form/useResizingTextArea.ts
Due: core
