Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

build(docs): update mdx scripts a bit
  apps/docs/scripts/createMarkdownPages.ts
  apps/docs/scripts/utils/createDemo.ts
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/scripts/utils/createDemoMdx.ts
  apps/docs/scripts/utils/createMdxPage.ts
  apps/docs/scripts/utils/log.ts
  apps/docs/src/components/DangerouslyRunCode/RunnableCodePreview.tsx
  apps/docs/src/utils/assertions.ts
  apps/docs/src/utils/parseCodeBlock.ts
Due: docs

chore(docs): additional demos
  apps/docs/src/app/components/checkbox/demos.mdx
  apps/docs/src/app/components/form-message/FormLevelValidationMessage.tsx
  apps/docs/src/app/components/form-message/SimpleFormMessage.tsx
  apps/docs/src/app/components/form-message/SimpleFormMessageContainer.tsx
  apps/docs/src/app/components/form-message/demos.mdx
  apps/docs/src/app/components/native-select/demos.mdx
  apps/docs/src/app/components/radio/demos.mdx
  apps/docs/src/app/components/text-area/demos.mdx
  apps/docs/src/app/components/text-field/FilledTextField.tsx
  apps/docs/src/app/components/text-field/NoThemeTextField.tsx
  apps/docs/src/app/components/text-field/NumberExample.tsx
  apps/docs/src/app/components/text-field/OutlinedTextField.tsx
  apps/docs/src/app/components/text-field/PasswordExample.tsx
  apps/docs/src/app/components/text-field/TextFieldState.tsx
  apps/docs/src/app/components/text-field/TextFieldType.tsx
  apps/docs/src/app/components/text-field/UnderlinedTextField.tsx
  apps/docs/src/app/components/text-field/demos.mdx
  apps/docs/src/components/RootLayout/navItems.ts
  packages/core/src/form/FormMessageContainer.tsx
  packages/core/src/form/TextFieldContainerStyles.ts
  packages/core/src/form/_form.scss
Due: core, docs

chore(docs): added some dummy blockquote themes and editor styles
  apps/docs/_everything.scss
  apps/docs/src/components/Blockquote.module.scss
  apps/docs/src/components/Blockquote.tsx
  apps/docs/src/components/CodeEditor/CodeEditor.module.scss
  apps/docs/src/components/CodeEditor/CodeEditor.tsx
Due: docs

chore(file-input): support srOnlyLabel
  packages/core/src/form/FileInput.tsx
  packages/core/src/form/__tests__/FileInput.tsx
Due: core

chore(docs): use inline type imports and another FileInput demo
  apps/docs/mdx-components.tsx
  apps/docs/src/app/ComponentsAndHooks.tsx
  apps/docs/src/app/Section.tsx
  apps/docs/src/app/Styling.tsx
  apps/docs/src/app/components/button/AsyncButtonPromise.tsx
  apps/docs/src/app/components/button/CustomLoadingChildren.tsx
  apps/docs/src/app/components/button/FloatingActionButton.tsx
  apps/docs/src/app/components/button/LoadingIndicatorTypes.tsx
  apps/docs/src/app/components/button/ManualPendingState.tsx
  apps/docs/src/app/components/checkbox/CheckboxGroupHook.tsx
  apps/docs/src/app/components/checkbox/UsingTheUseCheckboxGroupHook.tsx
  apps/docs/src/app/components/checkbox/demos.mdx
  apps/docs/src/app/components/file-input/ControlledFileInput.tsx
  apps/docs/src/app/components/file-input/CustomIcon.tsx
  apps/docs/src/app/components/file-input/CustomIconLabel.tsx
  apps/docs/src/app/components/file-input/ResponsiveFileInput.tsx
  apps/docs/src/app/components/file-input/demos.mdx
  apps/docs/src/app/components/form-message/SimpleFormMessage.tsx
  apps/docs/src/app/components/form-message/SimpleFormMessageContainer.tsx
  apps/docs/src/app/components/progress/CircularProgressSizes.tsx
  apps/docs/src/app/components/text-field/NumberExample.tsx
  apps/docs/src/app/components/text-field/TextFieldType.tsx
  apps/docs/src/app/getting-started/example-projects/OfficialExamples.tsx
  apps/docs/src/app/not-found.tsx
  apps/docs/src/components/ButtonStyledLink.tsx
  apps/docs/src/components/RootLayout/RenderNavigationItem.tsx
  apps/docs/src/components/TableOfContents/RenderTOCItem.tsx
Due: docs

chore(form): additional docs and switching to inline type imports
  apps/docs/src/app/components/text-field/TextFieldAddon.tsx
  apps/docs/src/app/components/text-field/TextFieldHookExample.tsx
  apps/docs/src/app/components/text-field/TextFieldWithMessage.tsx
  apps/docs/src/app/components/text-field/demos.mdx
  packages/core/src/form/FormMessage.tsx
  packages/core/src/form/__tests__/FileInput.tsx
  packages/core/src/form/fileUtils.ts
  packages/core/src/form/formMessageStyles.ts
  packages/core/src/form/selectUtils.ts
  packages/core/src/form/textAreaStyles.ts
  packages/core/src/form/types.ts
  packages/core/src/form/useCheckboxGroup.ts
  packages/core/src/form/useFileUpload.ts
  packages/core/src/form/useListboxProvider.ts
  packages/core/src/form/useNumberField.ts
  packages/core/src/form/useRadioGroup.ts
  packages/core/src/form/useRangeSlider.ts
  packages/core/src/form/useSlider.ts
  packages/core/src/form/useTextField.ts
  packages/core/src/form/utils.ts
  packages/core/src/form/validation.ts
Due: core, docs

chore(docs): TextField and TextArea demos
  apps/docs/src/app/components/text-area/demos.mdx
  apps/docs/src/app/components/text-field/DisablingResizeTransition.tsx
  apps/docs/src/app/components/text-field/HelpTextAndErrorText.tsx
  apps/docs/src/app/components/text-field/NonIconAddons.tsx
  apps/docs/src/app/components/text-field/OtherResizeBehavior.tsx
  apps/docs/src/app/components/text-field/ResizingTextAreaMaxRows.tsx
  apps/docs/src/app/components/text-field/SimpleTextArea.tsx
  apps/docs/src/app/components/text-field/TextFieldAddon.tsx
  apps/docs/src/app/components/text-field/TextFieldHookExample.tsx
  apps/docs/src/app/components/text-field/TextFieldWithCounter.tsx
  apps/docs/src/app/components/text-field/demos.mdx
  apps/docs/src/components/RootLayout/navItems.ts
  packages/core/src/form/NativeSelect.tsx
  packages/core/src/form/TextArea.tsx
  packages/core/src/form/TextField.tsx
  packages/core/src/form/TextFieldAddon.tsx
  packages/core/src/form/TextFieldContainer.tsx
  packages/core/src/form/_form.scss
  packages/core/src/form/types.ts
  packages/core/src/form/useResizingTextArea.ts
Due: core, docs

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): update TableOfContents to support large pages
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
Due: docs

chore(docs): started adding Select docs
  apps/docs/scripts/utils/typescript.ts
  apps/docs/src/app/components/select/AccessibilityExample.tsx
  apps/docs/src/app/components/select/AddingAnUnselectedIcon.tsx
  apps/docs/src/app/components/select/ControlledSelectExample.tsx
  apps/docs/src/app/components/select/CustomDropdownIcon.tsx
  apps/docs/src/app/components/select/RemovingOptionSelectedIconExample.tsx
  apps/docs/src/app/components/select/RenderingWithinASheet.tsx
  apps/docs/src/app/components/select/SelectTheme.tsx
  apps/docs/src/app/components/select/SelectWithAddons.tsx
  apps/docs/src/app/components/select/SelectionGroupsExample.tsx
  apps/docs/src/app/components/select/SimpleSelect.tsx
  apps/docs/src/app/components/select/UncontrolledSelectExample.tsx
  apps/docs/src/app/components/select/UsingOptionAddons.tsx
  apps/docs/src/app/components/select/demos.mdx
  apps/docs/src/components/CodeBlock.module.scss
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/components/RootLayout/navItems.ts
Due: docs

chore(docs): started creating api pages
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/scripts/createApiDocs.ts
  apps/docs/src/app/components/avatar/demos.mdx
  apps/docs/src/app/hooks/use-number-field/demos.mdx
  apps/docs/src/app/hooks/use-text-field/demos.mdx
  apps/docs/src/components/ApiDocs/ApiDocs.module.scss
  apps/docs/src/components/ApiDocs/ApiDocs.tsx
  apps/docs/src/components/ApiDocs/ClientOrServer.tsx
  apps/docs/src/components/ApiDocs/types.ts
  apps/docs/src/components/Blockquote.tsx
  apps/docs/src/components/InlineCode.module.scss
  apps/docs/src/components/InlineCode.tsx
  apps/docs/src/components/Markdown.tsx
  apps/docs/src/components/MarkdownPage/MarkdownPage.module.scss
  apps/docs/src/components/MarkdownPage/MarkdownPage.tsx
  apps/docs/src/components/RootLayout/CollapsibleNavigationItemGroup.tsx
  apps/docs/src/components/RootLayout/Navigation.tsx
  apps/docs/src/components/RootLayout/RenderNavigationItem.tsx
  apps/docs/src/components/RootLayout/getHrefFromParents.ts
  apps/docs/src/constants/navItems.ts
  packages/core/src/avatar/Avatar.tsx
  packages/core/src/box/styles.ts
  packages/core/src/button/AsyncButton.tsx
  packages/core/src/table/TableCell.tsx
  packages/core/src/table/TableConfigurationProvider.tsx
  packages/core/src/table/_table.scss
  pnpm-lock.yaml
Due: core, docs

chore(docs): try adding server/client flag in navigation
  apps/docs/scripts/createApiDocs.ts
  apps/docs/src/components/RootLayout/NavigationItemLink.module.scss
  apps/docs/src/components/RootLayout/NavigationItemLink.tsx
  apps/docs/src/components/RootLayout/RenderNavigationItem.tsx
  apps/docs/src/constants/navItems.ts
Due: docs

chore(docs): correctly commit api page
  apps/docs/.gitignore
  apps/docs/src/app/api/[name]/page.tsx
Due: docs

chore(docs): update mobile navigation to include header
  apps/docs/src/components/RootLayout/Navigation.tsx
  apps/docs/src/components/RootLayout/RootLayout.module.scss
  apps/docs/src/components/RootLayout/RootLayout.tsx
Due: docs

build(codemod): fix version number
  packages/codemod/package.json
Due: none

build: change versions for usage with changesets
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
Due: core

build: move existing changelog to CHANGELOG-v5
  CHANGELOG-v5.md
  CHANGELOG.md
  packages/codemod/CHANGELOG-v5.md
Due: none

build: Version packages
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

chore(docs): add icon and avatar docs
  .changeset/README.md
  .changeset/config.json
  apps/docs/next-env-custom.d.ts
  apps/docs/package.json
  apps/docs/scripts/createApiDocs.ts
  apps/docs/scripts/createMarkdownPages.ts
  apps/docs/scripts/tsconfig.json
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/src/app/components/avatar/AvatarBorders.tsx
  apps/docs/src/app/components/avatar/AvatarSize.tsx
  apps/docs/src/app/components/avatar/AvatarThemeColors.tsx
  apps/docs/src/app/components/avatar/CustomAvatarColors.tsx
  apps/docs/src/app/components/avatar/DefaultAvatarColors.tsx
  apps/docs/src/app/components/avatar/SimpleAvatar.tsx
  apps/docs/src/app/components/avatar/demos.mdx
  apps/docs/src/app/components/button/demos.mdx
  apps/docs/src/app/components/icon/FontAwesomeExample.tsx
  apps/docs/src/app/components/icon/IconSize.tsx
  apps/docs/src/app/components/icon/IconTheme.tsx
  apps/docs/src/app/components/icon/createIcons.ts
  apps/docs/src/app/components/icon/demos.mdx
  apps/docs/src/app/components/icon/layout.tsx
  apps/docs/src/constants/navItems.ts
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/avatar/Avatar.tsx
  packages/core/src/avatar/_avatar.scss
  packages/core/src/avatar/styles.ts
  packages/core/src/icon/FontIcon.tsx
  packages/core/src/icon/styles.ts
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

build(material-icons): convert build script to ts
  packages/material-icons/package.json
  packages/material-icons/scripts/build.ts
  packages/material-icons/scripts/tsconfig.json
  pnpm-lock.yaml
Due: none

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

feat(transition): add TRANSITION_CONFIG to disable all transitions
  packages/core/src/expansion-panel/__tests__/ExpansionPanel.tsx
  packages/core/src/form/__tests__/__snapshots__/useCheckboxGroup.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/useRadioGroup.tsx.snap
  packages/core/src/index.ts
  packages/core/src/layout/__tests__/useExpandableLayout.tsx
  packages/core/src/layout/__tests__/useLayoutTree.tsx
  packages/core/src/layout/__tests__/useResizableLayout.tsx
  packages/core/src/layout/__tests__/useTemporaryLayout.tsx
  packages/core/src/menu/__tests__/DropdownMenu.tsx
  packages/core/src/menu/__tests__/MenuBar.tsx
  packages/core/src/overlay/__tests__/Overlay.tsx
  packages/core/src/positioning/__tests__/useFixedPositioning.tsx
  packages/core/src/snackbar/__tests__/Toast.tsx
  packages/core/src/snackbar/__tests__/ToastManagerProvider.tsx
  packages/core/src/test-utils/jest-setup.ts
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/TooltipHoverModeProvider.tsx
  packages/core/src/transition/__tests__/CSSTransition.tsx
  packages/core/src/transition/__tests__/Collapse.tsx
  packages/core/src/transition/__tests__/CrossFade.tsx
  packages/core/src/transition/__tests__/ScaleTransition.tsx
  packages/core/src/transition/__tests__/useCSSTransition.tsx
  packages/core/src/transition/__tests__/useCollapseTransition.tsx
  packages/core/src/transition/__tests__/useCrossFadeTransition.tsx
  packages/core/src/transition/__tests__/useScaleTransition.tsx
  packages/core/src/transition/__tests__/useTransition.tsx
  packages/core/src/transition/config.ts
  packages/core/src/transition/useTransition.ts
  packages/core/src/tree/__tests__/Tree.tsx
Due: core

chore(core): do not add rmd-current-color-background class
  packages/core/src/cssUtils.ts
Due: core

build(docs): temporarily fix missing files for workflow
  .github/workflows/main.yml
Due: none

chore(docs): generate page titles for pages
  apps/docs/scripts/utils/createMarkdownPage.ts
  apps/docs/src/app/components/material-icons-and-symbols/layout.tsx
Due: docs

chore(core): update MaterialIcon and MaterialSymbol to use config object
  packages/core/src/icon/MaterialIcon.tsx
  packages/core/src/icon/MaterialIconsProvider.ts
  packages/core/src/icon/MaterialSymbol.tsx
  packages/core/src/icon/__tests__/MaterialIcon.tsx
  packages/core/src/icon/__tests__/MaterialSymbol.tsx
  packages/core/src/icon/__tests__/__snapshots__/MaterialIcon.tsx.snap
  packages/core/src/icon/__tests__/__snapshots__/MaterialSymbol.tsx.snap
  packages/core/src/icon/iconConfig.tsx
  packages/core/src/icon/materialConfig.ts
  packages/core/src/index.ts
Due: core

chore(core): added missing css vars from CSSProperties
  packages/core/src/theme/ThemeProvider.tsx
Due: core

chore(docs): hopefully finish up material icons page
  apps/docs/src/app/components/material-icons-and-symbols/AdditionalChanges.module.scss
  apps/docs/src/app/components/material-icons-and-symbols/AdditionalChanges.tsx
  apps/docs/src/app/components/material-icons-and-symbols/AdditionalChangesPanels.module.scss
  apps/docs/src/app/components/material-icons-and-symbols/AdditionalChangesPanels.tsx
  apps/docs/src/app/components/material-icons-and-symbols/CopyCode.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FilterSymbolCustomization.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FiltersSheet.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FontIconAdditionalChanges.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FontIconImportAndUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/FullScreenVirtualizedList.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialConfigChanges.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialIconsAndSymbolsProvider.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialSymbolAdditionalChanges.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialSymbolOrIcon.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialSymbolUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/SVGIconImportAndUsage.module.scss
  apps/docs/src/app/components/material-icons-and-symbols/SVGIconImportAndUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/TwoToneIconWarning.module.scss
  apps/docs/src/app/components/material-icons-and-symbols/TwoToneIconWarning.tsx
  apps/docs/src/app/components/material-icons-and-symbols/constants.ts
  apps/docs/src/app/components/material-icons-and-symbols/page.tsx
  apps/docs/src/app/components/material-icons-and-symbols/searchParams.ts
  apps/docs/src/app/components/material-icons-and-symbols/types.ts
  apps/docs/src/app/components/material-icons-and-symbols/useVirtualizedColumns.ts
  apps/docs/src/app/components/material-icons-and-symbols/useVirtualizedWindow.ts
  apps/docs/src/app/components/material-icons-and-symbols/utils.ts
  apps/docs/src/app/customization/breakpoints/README.mdx
  apps/docs/src/components/CodeBlockFileName.tsx
  apps/docs/src/components/HighlightedCodeBlock.tsx
  packages/core/src/cssUtils.ts
  packages/core/src/icon/MaterialSymbol.tsx
  packages/core/src/icon/__tests__/MaterialSymbol.tsx
  packages/core/src/icon/materialConfig.ts
Due: core, docs

build(workflow): hopefully fix main pipeline
  .github/workflows/main.yml
Due: none

chore(docs): fix displaying warnings and type errors
  apps/docs/src/app/components/material-icons-and-symbols/FontIconImportAndUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/MaterialSymbolUsage.tsx
  apps/docs/src/app/components/material-icons-and-symbols/SVGIconImportAndUsage.tsx
  apps/docs/src/providers/RootProviders.tsx
Due: docs

chore(switch): fix styles and add support for ball addons
  packages/core/src/form/Switch.tsx
  packages/core/src/form/SwitchTrack.tsx
  packages/core/src/form/__tests__/Switch.tsx
  packages/core/src/form/__tests__/__snapshots__/Switch.tsx.snap
  packages/core/src/form/_form.scss
  packages/core/src/form/switchStyles.ts
Due: core

chore(docs): add switch demos page
  apps/docs/src/app/components/switch/ControllingSwitches.tsx
  apps/docs/src/app/components/switch/IconAfterLabel.tsx
  apps/docs/src/app/components/switch/SimpleSwitch.tsx
  apps/docs/src/app/components/switch/StackedSwitch.tsx
  apps/docs/src/app/components/switch/SwitchSizes.tsx
  apps/docs/src/app/components/switch/SwitchStates.tsx
  apps/docs/src/app/components/switch/SwitchWithCircularProgress.tsx
  apps/docs/src/app/components/switch/SwitchWithMessages.tsx
  apps/docs/src/app/components/switch/demos.mdx
Due: docs

chore(docs): added slider docs
  apps/docs/src/app/components/slider/ConfiguringUseSlider.tsx
  apps/docs/src/app/components/slider/CustomizingDiscreteSliderTooltip.tsx
  apps/docs/src/app/components/slider/CustomizingSliderMarks.tsx
  apps/docs/src/app/components/slider/DiscreteSlider.tsx
  apps/docs/src/app/components/slider/HorizontalSlider.tsx
  apps/docs/src/app/components/slider/HorizontalSliderWithAddons.tsx
  apps/docs/src/app/components/slider/LinkedWithATextField.tsx
  apps/docs/src/app/components/slider/RangeSlider.tsx
  apps/docs/src/app/components/slider/SliderMarks.tsx
  apps/docs/src/app/components/slider/SliderStates.tsx
  apps/docs/src/app/components/slider/VerticalRangeSlider.tsx
  apps/docs/src/app/components/slider/VerticalSlider.tsx
  apps/docs/src/app/components/slider/VerticalSliderWithAddons.tsx
  apps/docs/src/app/components/slider/demos.mdx
  apps/docs/src/app/components/switch/demos.mdx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/utils/parseCodeBlock.ts
  packages/core/src/form/Slider.tsx
  packages/core/src/form/SliderThumb.tsx
  packages/core/src/form/SliderValueMarks.tsx
  packages/core/src/form/_form.scss
Due: core, docs

chore(docs): scroll active nav item into view
  apps/docs/src/components/RootLayout/NavigationItemLink.tsx
Due: docs

chore(core): removed the LinkProvider
  apps/docs/src/constants/navItems.ts
  packages/core/src/index.ts
  packages/core/src/link/Link.tsx
  packages/core/src/link/LinkProvider.tsx
  packages/core/src/list/ListItemLink.tsx
  packages/core/src/tree/DefaultTreeItemRenderer.tsx
  packages/core/src/tree/Tree.tsx
  packages/core/src/tree/TreeItem.tsx
  packages/core/src/tree/TreeProvider.tsx
  packages/core/src/tree/__tests__/Tree.tsx
Due: core, docs

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
