Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

chore(draggable): update min/max/step during render cancel
  packages/core/src/draggable/useDraggable.ts
Due: core

docs(transition): add cross fade transition docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/cross-fade/CrossFadeTransitionHookExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/cross-fade/IncorrectExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/cross-fade/NewItemsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/cross-fade/TransitionToExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/cross-fade/UsingKeysExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/cross-fade/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/suspense/NullSuspenseExample.tsx
  packages/core/src/transition/CrossFade.tsx
  packages/core/src/transition/useCrossFadeTransition.ts
Due: core, docs

docs(transition): add scale transition examples
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/HiddenWhileExitedExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/HiddenWhileExitedExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/ScaleTransitionHookExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/ScaleTransitionHookExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/SimpleExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/VerticalExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/VerticalExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/scale-transition/page.mdx
  packages/core/src/transition/useScaleTransition.ts
Due: core, docs

docs(transition): add simple Slide example
  apps/docs/src/app/(main)/(markdown)/(demos)/components/slide/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/slide/page.mdx
Due: docs

docs(button): add ButtonUnstyled simple example
  apps/docs/src/app/(main)/(markdown)/(demos)/components/button-unstyled/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/button-unstyled/page.mdx
Due: docs

feat(autocomplete): create Autocomplete component
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteCircularProgress.tsx
  packages/core/src/autocomplete/AutocompleteDropdownButton.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/defaults.ts
  packages/core/src/form/TextField.tsx
  packages/core/src/form/useCombobox.ts
Due: core

chore(autocomplete): start adding examples and more features
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/AsyncExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomFilterFunctionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisableFilteringExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DisabledOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/GetOptionPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ObjectOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/OptionPropsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SelectedValueExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SimpleLabelExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  apps/docs/src/constants/fruits.ts
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/defaults.ts
Due: core, docs

build(deps): bump all deps except eslint to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(core): fix styles after upgrading stylelint
  packages/core/src/_box-shadows.scss
  packages/core/src/_utils.scss
  packages/core/src/avatar/_avatar.scss
  packages/core/src/responsive-item/_responsive-item.scss
  packages/core/src/theme/_theme.scss
Due: core

refactor(core): rename useAsyncAction to useAsyncFunction to match naming
  apps/docs/src/app/(main)/(markdown)/(demos)/components/switch/SwitchWithCircularProgress.tsx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/__tests__/useAsyncFunction.tsx
  packages/core/src/button/AsyncButton.tsx
  packages/core/src/menu/MenuItemCircularProgress.tsx
  packages/core/src/useAsyncFunction.ts
  packages/react-md/src/index.ts
Due: core, docs

chore(autocomplete): additional examples
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/AsyncExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/DebouncedSearchExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/SearchExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/ThrottledSearchExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/form/TextField.tsx
  packages/core/src/form/useEditableCombobox.ts
Due: core, docs

chore(form): use custom properties for form theme padding
  packages/core/src/form/TextField.tsx
  packages/core/src/form/_form.scss
  packages/core/src/form/types.ts
Due: core

chore(form): added useTextFieldContainerAddons hook
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-field/AutomaticAddonPaddingExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-field/page.mdx
  packages/core/src/form/_form.scss
  packages/core/src/form/useTextFieldContainerAddons.ts
Due: core, docs

chore(form): updated TextFieldAddon to use box
  packages/core/src/form/TextFieldAddon.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/TextArea.tsx.snap
  packages/core/src/form/__tests__/__snapshots__/TextField.tsx.snap
  packages/core/src/form/_form.scss
  packages/core/src/form/types.ts
Due: core

feat(icon): add clear icon
  apps/docs/src/constants/rmdConfig.tsx
  packages/core/src/icon/iconConfig.tsx
Due: core, docs

chore(autocomplete): add basic styles to help customization
  packages/core/src/_core.scss
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/AutocompleteCircularProgress.tsx
  packages/core/src/autocomplete/AutocompleteDropdownButton.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/autocomplete/autocompleteStyles.ts
Due: core

feat(core): add simple useMutationObserver hook
  packages/core/src/useMutationObserver.ts
Due: core

build(deps): bump safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build: use volta in github actions
  .github/workflows/main.yml
Due: none

chore(autocomplete): only filter while menu is visible
  packages/core/src/autocomplete/Autocomplete.tsx
  packages/core/src/autocomplete/FilterAutocompleteOptions.tsx
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/__tests__/__snapshots__/Autocomplete.tsx.snap
  packages/core/src/autocomplete/defaults.ts
  packages/core/src/autocomplete/types.ts
Due: core

build(deps): bump safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/__tests__/useWindowSize.tsx
  packages/core/src/form/__tests__/useFormReset.tsx
  packages/core/src/suspense/__tests__/CircularProgressSuspense.tsx
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(version): version packages
  .changeset/pre.json
  .changeset/strange-carpets-add.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

chore(docs): enable gtag analytics
  apps/docs/.env.production
  apps/docs/package.json
  apps/docs/src/app/(layout-examples)/layout.tsx
  apps/docs/src/app/(main)/layout.tsx
  apps/docs/src/components/GtagAnalytics.tsx
  apps/docs/src/constants/env.ts
  pnpm-lock.yaml
Due: docs

fix(core): update @testing-library/* peer dependency range
  packages/core/package.json
Due: core

build(eslint): add useIsomorphicLayoutEffect to rules-of-hooks
  apps/docs/.eslintrc.cjs
  packages/code/.eslintrc.cjs
  packages/core/.eslintrc.cjs
Due: core, docs

build(pnpm): try updating to 9.3.0
  .github/workflows/main.yml
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build(turbo): try upgrading to 2.0.3
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

fix(theme): system light theme with dark elevation
  apps/docs/src/app/(main)/layout.scss
  packages/core/src/theme/_theme.scss
Due: core, docs

chore(material-icons): fixed missing metadata
  apps/docs/src/app/(main)/components/material-icons-and-symbols/metadata.ts
  packages/core/src/icon/material.ts
  packages/material-icons/scripts/utils/createDocsMetadataFile.ts
Due: core, docs

chore(codemod): add initial material-icons codemods
  packages/code/package.json
  packages/codemod/.eslintignore
  packages/codemod/.eslintrc.cjs
  packages/codemod/.prettierignore
  packages/codemod/jest.config.ts
  packages/codemod/package.json
  packages/codemod/scripts/tsconfig.json
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/material-symbol-only.input.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/material-symbol-only.output.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/renamed-svg-icons.input.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/renamed-svg-icons.output.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/svg-icons.input.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/svg-icons.output.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__tests__/to-svg.ts
  packages/codemod/transforms/v5-to-v6/material-icons/__tests__/to-symbol.ts
  packages/codemod/transforms/v5-to-v6/material-icons/constants.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-svg.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-symbol.ts
  packages/codemod/tsconfig.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core

chore(codemod): started building out codemods
  packages/codemod/package.json
  packages/codemod/transforms/utils/isTypeImport.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/__testfixtures__/duplicated-scoped-package-imports.input.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/duplicated-scoped-package-imports.output.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/react-md-to-core-with-types.input.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/react-md-to-core-with-types.output.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/scoped-package-imports.input.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/scoped-package-imports.output.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/simple-react-md-to-core.input.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/simple-react-md-to-core.output.tsx
  packages/codemod/transforms/v5-to-v6/__tests__/to-core-imports.ts
  packages/codemod/transforms/v5-to-v6/__tests__/to-react-md-imports.ts
  packages/codemod/transforms/v5-to-v6/coreExportMaps.ts
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-core-package.input.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-core-package.output.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-icon-package.input.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-icon-package.output.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-react-md-package.input.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-react-md-package.output.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-renamed.input.tsx
  packages/codemod/transforms/v5-to-v6/icon/__testfixtures__/deprecated-props-renamed.output.tsx
  packages/codemod/transforms/v5-to-v6/icon/__tests__/remove-deprecated-font-icon-props.ts
  packages/codemod/transforms/v5-to-v6/icon/remove-deprecated-font-icon-props.ts
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/font-icons.input.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__testfixtures__/font-icons.output.tsx
  packages/codemod/transforms/v5-to-v6/material-icons/__tests__/to-font.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-font.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-svg.ts
  packages/codemod/transforms/v5-to-v6/to-core-imports.ts
  packages/codemod/transforms/v5-to-v6/to-react-md-imports.ts
  packages/core/src/avatar/Avatar.tsx
  packages/core/src/icon/FontIcon.tsx
  packages/core/src/icon/MaterialIcon.tsx
  packages/core/src/icon/SVGIcon.tsx
  packages/core/src/icon/iconConfig.tsx
  packages/core/src/tree/useTree.ts
  pnpm-lock.yaml
Due: core

chore(codemod): add scssVariables migration
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/__testfixtures__/simple-scss-variables.input.tsx
  packages/codemod/transforms/v5-to-v6/__testfixtures__/simple-scss-variables.output.tsx
  packages/codemod/transforms/v5-to-v6/__tests__/hardcode-scss-variables.ts
  packages/codemod/transforms/v5-to-v6/hardcode-scss-variables.ts
  packages/codemod/transforms/v5-to-v6/scssVariables.ts
Due: none

chore(codemod): add more utils
  packages/codemod/transforms/utils/isPropEnabled.ts
  packages/codemod/transforms/utils/removeProps.ts
  packages/codemod/transforms/utils/renameIdentifier.ts
  packages/codemod/transforms/utils/sortImportSpecifiers.ts
  packages/codemod/transforms/v5-to-v6/icon/remove-deprecated-font-icon-props.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-font.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-svg.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-symbol.ts
  packages/codemod/transforms/v5-to-v6/to-core-imports.ts
  packages/codemod/transforms/v5-to-v6/to-react-md-imports.ts
Due: none

chore(codemod): add app-bar transforms
  packages/codemod/transforms/utils/addFileComment.ts
  packages/codemod/transforms/utils/getImportedName.ts
  packages/codemod/transforms/utils/removeEmptyImportDeclaration.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/ActionMenu.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/ActionMenu.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/GithubLink.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/GithubLink.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/NavHeaderTitle.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/NavHeaderTitle.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/aliased-class-name-constants.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/aliased-class-name-constants.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/app-bar-props.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/app-bar-props.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/app-bar-title-props.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/app-bar-title-props.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/class-name-constants.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/class-name-constants.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/simple-usage.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/simple-usage.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/use-action-class-name-all.input.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__testfixtures__/use-action-class-name-all.output.tsx
  packages/codemod/transforms/v5-to-v6/app-bar/__tests__/remove-class-name-constants.ts
  packages/codemod/transforms/v5-to-v6/app-bar/__tests__/remove-use-action-class-name.ts
  packages/codemod/transforms/v5-to-v6/app-bar/__tests__/replace-nav-and-action-with-button.ts
  packages/codemod/transforms/v5-to-v6/app-bar/__tests__/update-app-bar-props.ts
  packages/codemod/transforms/v5-to-v6/app-bar/__tests__/update-app-bar-title-props.ts
  packages/codemod/transforms/v5-to-v6/app-bar/remove-class-name-constants.ts
  packages/codemod/transforms/v5-to-v6/app-bar/remove-use-action-class-name.ts
  packages/codemod/transforms/v5-to-v6/app-bar/replace-nav-and-action-with-button.ts
  packages/codemod/transforms/v5-to-v6/app-bar/update-app-bar-props.ts
  packages/codemod/transforms/v5-to-v6/app-bar/update-app-bar-title-props.ts
  packages/codemod/transforms/v5-to-v6/hardcode-scss-variables.ts
  packages/codemod/transforms/v5-to-v6/icon/remove-deprecated-font-icon-props.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-font.ts
  packages/codemod/transforms/v5-to-v6/material-icons/to-svg.ts
  packages/core/src/app-bar/AppBarTitle.tsx
Due: core

chore(codemod): add button migrations
  packages/codemod/transforms/utils/renameRmdIdentifier.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/aliased-unstyled-button-as-button-unstyled.input.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/aliased-unstyled-button-as-button-unstyled.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/aliased-unstyled-button.input.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/aliased-unstyled-button.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/button-ripple-props.input.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/button-ripple-props.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/button-theme-class-names.input.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/button-theme-class-names.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/fab.input.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/fab.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/unstyled-button.input.tsx
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/unstyled-button.output.tsx
  packages/codemod/transforms/v5-to-v6/button/__tests__/remove-unused-props.ts
  packages/codemod/transforms/v5-to-v6/button/__tests__/rename-button-theme-class-names.ts
  packages/codemod/transforms/v5-to-v6/button/__tests__/rename-fab.ts
  packages/codemod/transforms/v5-to-v6/button/__tests__/rename-unstyled-button.ts
  packages/codemod/transforms/v5-to-v6/button/remove-unused-props.ts
  packages/codemod/transforms/v5-to-v6/button/rename-button-theme-class-names.ts
  packages/codemod/transforms/v5-to-v6/button/rename-fab.ts
  packages/codemod/transforms/v5-to-v6/button/rename-unstyled-button.ts
  packages/codemod/transforms/v5-to-v6/interaction/constants.ts
Due: none

chore(codemod): create traverseIdentifiers util
  packages/codemod/transforms/utils/renameRmdIdentifier.ts
  packages/codemod/transforms/utils/traverseIdentifiers.ts
  packages/codemod/transforms/v5-to-v6/app-bar/remove-class-name-constants.ts
  packages/codemod/transforms/v5-to-v6/app-bar/remove-use-action-class-name.ts
  packages/codemod/transforms/v5-to-v6/app-bar/update-app-bar-props.ts
  packages/codemod/transforms/v5-to-v6/app-bar/update-app-bar-title-props.ts
  packages/codemod/transforms/v5-to-v6/button/remove-unused-props.ts
  packages/codemod/transforms/v5-to-v6/icon/remove-deprecated-font-icon-props.ts
Due: none

chore(codemod): add supported portal migrations
  packages/codemod/transforms/utils/isPropBooleanExpression.ts
  packages/codemod/transforms/utils/isPropBooleanUnvalued.ts
  packages/codemod/transforms/utils/isPropEnabled.ts
  packages/codemod/transforms/v5-to-v6/README.md
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/ConvertableConditionalPortalNoPortal.input.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/ConvertableConditionalPortalNoPortal.output.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/ConvertableConditionalPortalPortal.input.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/ConvertableConditionalPortalPortal.output.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/ConvertablePortal.input.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/ConvertablePortal.output.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/PortalIntoType.input.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/PortalIntoType.output.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/PortalWarning.input.tsx
  packages/codemod/transforms/v5-to-v6/portal/__testfixtures__/PortalWarning.output.tsx
  packages/codemod/transforms/v5-to-v6/portal/__tests__/use-new-portal-api.ts
  packages/codemod/transforms/v5-to-v6/portal/use-new-portal-api.ts
  packages/core/src/autocomplete/defaults.ts
  packages/core/src/icon/SVGIcon.tsx
  packages/core/src/portal/Portal.tsx
  packages/core/src/portal/PortalContainerProvider.tsx
Due: core

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
