Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

build: bump pnpm to 10.5.2 and a few other tweaks
  .github/workflows/main.yml
  apps/docs/package.json
  apps/docs/src/utils/strings.ts
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/docs-generator/tsconfig.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core, docs

chore: start adding form codemods
  apps/docs/src/app/(main)/(markdown)/getting-started/layout/page.mdx
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/utils/addRelativeComment.ts
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/FullTextFieldHook.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/FullTextFieldHook.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/NumberFieldHookOptions.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/NumberFieldHookOptions.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/TextFieldHookExamples.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/TextFieldHookExamples.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/TextFieldHookOptions.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/TextFieldHookOptions.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/WithMessageExamples.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/WithMessageExamples.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__tests__/replace-with-form-message-components.ts
  packages/codemod/transforms/v5-to-v6/form/__tests__/update-use-text-field-api.ts
  packages/codemod/transforms/v5-to-v6/form/replace-with-form-message-components.ts
  packages/codemod/transforms/v5-to-v6/form/update-use-text-field-api.ts
  packages/core/src/autocomplete/types.ts
  packages/core/src/form/validation.ts
Due: core, docs

fix(positioning): fixed the horizontal min width size when too large for viewport
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/AdvancedConfiguration.tsx
  packages/core/src/positioning/createHorizontalPosition.ts
Due: core, docs

chore(docs): fix some styles
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/UpdatingSelectedRowColorExample.module.scss
  apps/docs/src/components/LinkableHeading.module.scss
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/TableOfContents/RenderTableOfContentsItem.module.scss
Due: docs

chore(core): fix some navigation and layout effect behavior
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-active-heading-id/page.mdx
  apps/docs/src/app/(main)/getting-started/example-projects/page.tsx
  apps/docs/src/components/TableOfContents/RenderTableOfContentsItem.tsx
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/form/textAreaStyles.ts
  packages/core/src/navigation/getTableOfContentsHeadings.ts
  packages/core/src/navigation/types.ts
  packages/core/src/navigation/useActiveHeadingId.ts
  packages/core/src/navigation/useTableOfContentsHeadings.ts
  packages/core/src/transition/useTransition.ts
  packages/docs-generator/src/__tests__/rehype-toc.ts
  packages/docs-generator/src/rehype-toc.ts
  packages/react-md/src/index.ts
Due: core, docs

chore(docs-generator): fix typos and eslint config
  .prettierignore
  packages/docs-generator/eslint.config.mjs
  packages/docs-generator/src/scripts/constants.ts
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/docs-generator/src/utils/compileScssModule.ts
  pnpm-lock.yaml
Due: none

chore(docs): sticky table of contents header
  apps/docs/src/components/TableOfContents/TableOfContents.module.scss
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
Due: docs

build(deps): bump safe deps to latest
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

build: remove @types/autosuggest-highlight since it broke
  apps/docs/autosuggest-highlight.d.ts
  apps/docs/package.json
  pnpm-lock.yaml
Due: docs

docs: add docs around FORM_CONFIG
  apps/docs/src/app/(main)/(markdown)/customization/global-configuration/page.mdx
  packages/core/src/form/formConfig.ts
Due: core, docs

refactor(core): add getTransitionCallbacks to help with disabling transitions
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/get-transition-callbacks/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/focus/useFocusContainer.ts
  packages/core/src/form/useCombobox.ts
  packages/core/src/transition/getTransitionCallbacks.ts
  packages/core/src/transition/types.ts
Due: core, docs

build: fix CI
  .github/workflows/main.yml
  package.json
Due: none

build(deps): bump @mlaursen/eslint-config to latest
  apps/docs/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore(sassdoc): create @types/sassdoc definition
  packages/@types__sassdoc/CHANGELOG.md
  packages/@types__sassdoc/LICENSE
  packages/@types__sassdoc/README.md
  packages/@types__sassdoc/index.d.ts
  packages/@types__sassdoc/package.json
  packages/@types__sassdoc/tsconfig.json
  pnpm-lock.yaml
Due: none

chore(sassdoc-generator): create initial sassdoc generator
  packages/@types__sassdoc/index.d.ts
  packages/sassdoc-generator/.swcrc
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/LICENSE
  packages/sassdoc-generator/README.md
  packages/sassdoc-generator/eslint.config.mjs
  packages/sassdoc-generator/package.json
  packages/sassdoc-generator/src/assertions.ts
  packages/sassdoc-generator/src/chunk.ts
  packages/sassdoc-generator/src/compileScss.ts
  packages/sassdoc-generator/src/constants.ts
  packages/sassdoc-generator/src/formatBaseItem.ts
  packages/sassdoc-generator/src/formatDescription.ts
  packages/sassdoc-generator/src/formatExamples.ts
  packages/sassdoc-generator/src/formatNonVariableItems.ts
  packages/sassdoc-generator/src/formatVariableItem.ts
  packages/sassdoc-generator/src/generate.ts
  packages/sassdoc-generator/src/getCompiledVariableValue.ts
  packages/sassdoc-generator/src/isPrivateItem.ts
  packages/sassdoc-generator/src/log.ts
  packages/sassdoc-generator/src/references.ts
  packages/sassdoc-generator/src/types.ts
  packages/sassdoc-generator/tsconfig.json
  packages/sassdoc-generator/tsconfig.types.json
  pnpm-lock.yaml
Due: none

feat(code): better color preview styling and allow color only
  apps/docs/src/app/(main)/layout.scss
  packages/code/src/ColorPreview.tsx
  packages/code/src/_code.scss
Due: docs

docs(code): fix some sassdoc
  packages/core/src/button/_button.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/theme/_colors.scss
  packages/core/src/typography/_typography.scss
Due: core

docs: add base sassdoc
  apps/docs/package.json
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/ExpandableCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocExampleEditor.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocExamples.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocItem.module.scss
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocItem.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocLinks.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocParameters.module.scss
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocParameters.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocReferenceLinkList.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocReturns.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocSection.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocThrows.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/VariableCodeBlock.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/utils.ts
  apps/docs/src/components/GithubLink.tsx
  apps/docs/src/components/LinkableHeading.module.scss
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/Markdown.tsx
  apps/docs/src/constants/unicode.ts
  apps/docs/src/utils/slug.ts
  package.json
  packages/@types__sassdoc/index.d.ts
  packages/sassdoc-generator/src/formatBaseItem.ts
  packages/sassdoc-generator/src/formatExamples.ts
  packages/sassdoc-generator/src/formatNonVariableItems.ts
  pnpm-lock.yaml
Due: docs

chore: sassdoc fixes and cleanup
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocReferenceLinkList.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/utils.ts
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  apps/docs/src/components/MarkdownLink.tsx
Due: docs

docs: update pages to link to sassdoc
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-element-interaction/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/SassDocReferenceLinkList.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/utils.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/contrast-color/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/badge/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/button/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/chip/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/dialog/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/divider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon-rotator/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/list/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/responsive-item/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/skeleton-placeholder/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/skip-to-main-content/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/slider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/table/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-container/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/text-icon-spacing/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tooltip/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tree/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/utils/object-fit/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/global-configuration/page.mdx
  apps/docs/src/components/MarkdownLink.tsx
Due: docs

docs(transition): add simple transition docs page
  apps/docs/src/app/(main)/(markdown)/(demos)/components/snackbar/PreventingDuplicateToastsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/ServerUploadExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/AdvancedConfiguration.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/customization/transitions/page.mdx
  apps/docs/src/components/GithubLink.tsx
  apps/docs/src/components/MarkdownLink.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/button/AsyncButton.tsx
  packages/core/src/dialog/FixedDialog.tsx
  packages/core/src/dialog/__tests__/FixedDialog.tsx
  packages/core/src/dialog/styles.ts
  packages/core/src/interaction/Ripple.tsx
  packages/core/src/layout/useHorizontalLayoutTransition.ts
  packages/core/src/overlay/Overlay.tsx
  packages/core/src/overlay/styles.ts
  packages/core/src/sheet/styles.ts
  packages/core/src/tooltip/constants.ts
  packages/core/src/transition/useCollapseTransition.ts
  packages/core/src/transition/useCrossFadeTransition.ts
  packages/core/src/transition/useScaleTransition.ts
  packages/core/src/transition/useSlideTransition.ts
  packages/react-md/src/index.ts
Due: core, docs

fix(sassdoc): maintain source code order
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/constants.ts
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/page.tsx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/sassdoc/[group]/utils.ts
  packages/sassdoc-generator/src/generate.ts
Due: docs

chore(docs): fix missing client flag, unused nav items, closing WebsiteConfiguration
  apps/docs/src/components/DemoCode/ScssCodeEditor.tsx
  apps/docs/src/components/MainLayout/WebsiteConfiguration.tsx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

chore(material-icons): update icons
  apps/docs/src/app/(main)/components/material-icons-and-symbols/metadata.ts
  packages/core/src/icon/material.ts
  packages/material-icons/src/CasesIcon.tsx
Due: core, docs

feat(dialog): update DialogHeader to extend Box component
  packages/core/src/dialog/DialogHeader.tsx
  packages/core/src/dialog/__tests__/__snapshots__/DialogHeader.tsx.snap
  packages/core/src/dialog/__tests__/__snapshots__/FixedDialog.tsx.snap
  packages/core/src/dialog/_dialog.scss
  packages/core/src/dialog/styles.ts
  packages/core/src/menu/__tests__/__snapshots__/DropdownMenu.tsx.snap
Due: core

build: update npm scripts
  apps/docs/package.json
  apps/docs/scripts/sassdoc.ts
  package.json
Due: docs

refactor(test): match media behavior
  packages/core/src/test-utils/jest-globals/match-media.ts
  packages/core/src/test-utils/mocks/match-media.ts
  packages/core/src/test-utils/utils/createMatchMediaSpy.ts
  packages/core/src/test-utils/vitest/match-media.ts
Due: core

feat(examples): add vite-ts example
  .prettierignore
  examples/vite-ts/.gitignore
  examples/vite-ts/README.md
  examples/vite-ts/eslint.config.js
  examples/vite-ts/index.html
  examples/vite-ts/package.json
  examples/vite-ts/public/favicon.ico
  examples/vite-ts/src/_everything.scss
  examples/vite-ts/src/components/App.tsx
  examples/vite-ts/src/components/MainNavigation.tsx
  examples/vite-ts/src/components/RootLayout.tsx
  examples/vite-ts/src/components/RootProviders.tsx
  examples/vite-ts/src/index.scss
  examples/vite-ts/src/main.tsx
  examples/vite-ts/src/rmdConfig.tsx
  examples/vite-ts/src/vite-env.d.ts
  examples/vite-ts/tsconfig.app.json
  examples/vite-ts/tsconfig.json
  examples/vite-ts/tsconfig.node.json
  examples/vite-ts/vite.config.ts
Due: none

feat(examples): add vite-js example
  .eslintignore
  examples/vite-js/.gitignore
  examples/vite-js/README.md
  examples/vite-js/eslint.config.js
  examples/vite-js/index.html
  examples/vite-js/package.json
  examples/vite-js/public/favicon.ico
  examples/vite-js/src/_everything.scss
  examples/vite-js/src/components/App.jsx
  examples/vite-js/src/components/MainNavigation.jsx
  examples/vite-js/src/components/RootLayout.jsx
  examples/vite-js/src/components/RootProviders.jsx
  examples/vite-js/src/index.scss
  examples/vite-js/src/main.jsx
  examples/vite-js/src/rmdConfig.jsx
  examples/vite-js/vite.config.js
Due: none

chore(examples): add codesandbox and stackbiz links
  examples/vite-js/README.md
  examples/vite-js/src/components/App.jsx
  examples/vite-ts/README.md
  examples/vite-ts/src/components/App.tsx
Due: none

chore(core): fix some file behavior for generating docs
  packages/core/src/dialog/DialogContent.tsx
  packages/core/src/dialog/DialogFooter.tsx
  packages/core/src/dialog/DialogTitle.tsx
  packages/core/src/snackbar/ToastManager.ts
  packages/core/src/table/TableConfigurationProvider.ts
  packages/core/src/table/TableContainerProvider.ts
Due: core

fix(docs): invalid material icons imports from node_modules
  apps/docs/scripts/constants.ts
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/CustomizingInlineChipsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-dropzone/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/ServerUploadExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/AdvancedConfiguration.tsx
Due: docs

feat(core): create ErrorBoundary component
  packages/core/src/error-boundary/ErrorBoundary.tsx
  packages/core/src/error-boundary/__tests__/ErrorBoundary.tsx
  packages/core/src/error-boundary/__tests__/useErrorBoundary.tsx
  packages/core/src/error-boundary/context.ts
  packages/core/src/error-boundary/types.ts
  packages/core/src/error-boundary/useErrorBoundary.ts
Due: core

fix(core): set specific files to private
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/package.json
  packages/core/scripts/constants.ts
  packages/core/scripts/createIndexFile.ts
  packages/core/scripts/getExportMap.ts
  packages/react-md/src/index.ts
Due: core

chore: fix some typedoc and markdown error boundary
  apps/docs/scripts/constants.ts
  apps/docs/src/components/Markdown.tsx
  apps/docs/src/components/MarkdownFallback.tsx
  package.json
  packages/core/src/autocomplete/types.ts
  packages/core/src/form/useNumberField.ts
  packages/core/src/transition/getTransitionCallbacks.ts
Due: core, docs

docs: added ErrorBoundary docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/error-boundary/ResettableExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/error-boundary/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/error-boundary/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/error-boundary/ErrorBoundary.tsx
Due: core, docs

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
