Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(core): added useFuzzyMatch hook
  packages/core/src/index.ts
  packages/core/src/searching/__tests__/useFuzzyMatch.tsx
  packages/core/src/searching/toSearchQuery.ts
  packages/core/src/searching/useFuzzyMatch.ts
  packages/core/src/searching/utils.ts
Due: core

chore: remove file I forgot to delete with d2a959883ad
  packages/core/src/utils/__tests__/filters.ts
Due: core

build(deps): bump dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/core/src/typography/WritingDirectionProvider.tsx
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

build: try pinning node version to fix swc + ts-node issue
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
Due: core, docs

Revert "build: try pinning node version to fix swc + ts-node issue"
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
Due: core, docs

build: switch from ts-node to tsx to support esm in later node versions
  apps/docs/package.json
  apps/docs/scripts/tsconfig.json
  package.json
  packages/core/package.json
  packages/core/scripts/copySassFiles.ts
  packages/core/scripts/tsconfig.json
  packages/material-icons/package.json
  packages/material-icons/scripts/tsconfig.json
  pnpm-lock.yaml
Due: core, docs

build: add ts-node as jest peer dependency
  packages/core/package.json
  pnpm-lock.yaml
Due: core

chore(table): allow hoverable to work with css only
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/table/_table.scss
Due: core, docs

fix(select): course -> coarse for pointer-events media query
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/form/_form.scss
Due: core, docs

feat(core): support non-barrel file exports
  packages/core/package.json
Due: core

build(version): version packages
  .changeset/pre.json
  .changeset/ten-poems-film.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

build: fix github release to use @ instead of /
  scripts/release.ts
Due: none

fix(form): fix file casing for textFieldContainerStyles
  packages/core/src/form/TextFieldContainer.tsx
  packages/core/src/form/textFieldContainerStyles.ts
  packages/core/src/index.ts
Due: core

build: manually map all exports
  packages/core/package.json
Due: core

build(version): version packages
  .changeset/ninety-drinks-wave.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

build(release): try fixing tag name again for github release
  scripts/release.ts
Due: none

build: bump safe dependencies to latest
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

refactor(core): move typography styles to separate files
  packages/core/package.json
  packages/core/src/app-bar/AppBarTitle.tsx
  packages/core/src/dialog/DialogTitle.tsx
  packages/core/src/expansion-panel/ExpansionPanelHeader.tsx
  packages/core/src/form/SliderMarkLabel.tsx
  packages/core/src/index.ts
  packages/core/src/typography/TextContainer.tsx
  packages/core/src/typography/Typography.tsx
  packages/core/src/typography/__tests__/TextContainer.tsx
  packages/core/src/typography/__tests__/Typography.tsx
  packages/core/src/typography/textContainerStyles.ts
  packages/core/src/typography/typographyStyles.ts
Due: core

build(core): fix types not being built
  packages/core/tsconfig.types.json
Due: core

build(core): try using wildcard exports
  packages/core/package.json
Due: core

build(version): version packages
  .changeset/friendly-walls-repeat.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: core, docs

build: add material-icons to typecheck
  packages/material-icons/package.json
Due: none

build(version): version packages
  .changeset/forty-days-walk.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
Due: docs

build(material-icons): fix @react-md/core imports
  packages/material-icons/scripts/updateMaterialIcons.ts
  packages/material-icons/scripts/utils/converters.ts
  packages/material-icons/scripts/utils/createIconComponent.ts
  packages/material-icons/scripts/utils/getMaterialFamilyParts.ts
Due: none

build(material-icons): add eslint to scripts
  packages/material-icons/package.json
  packages/material-icons/scripts/.eslintrc.cjs
  packages/material-icons/scripts/utils/createCoreMetadataFile.ts
  packages/material-icons/scripts/utils/createDocsMetadataFile.ts
  packages/material-icons/scripts/utils/createIconComponent.ts
  packages/material-icons/scripts/utils/getMaterialMetadata.ts
  packages/material-icons/scripts/utils/svg.ts
Due: none

build: fix main github action
  .github/workflows/main.yml
  packages/react-md/package.json
Due: none

chore(code): initial setup
  packages/code/.eslintrc.cjs
  packages/code/.stylelintrc.json
  packages/code/.swcrc
  packages/code/LICENSE
  packages/code/README.md
  packages/code/jest.config.ts
  packages/code/jest.setup.ts
  packages/code/package.json
  packages/code/src/CodeBlock.tsx
  packages/code/src/CodeEditor.tsx
  packages/code/src/CodeEditorAppBar.tsx
  packages/code/src/CodeEditorCopyToClipboard.tsx
  packages/code/src/CodeEditorFixedActions.tsx
  packages/code/src/CodeEditorProgress.tsx
  packages/code/src/ColorPreview.tsx
  packages/code/src/ColorPreviewRenderer.tsx
  packages/code/src/CopyToClipboard.tsx
  packages/code/src/DangerousCodePreview.tsx
  packages/code/src/DangerousCodeRunner.tsx
  packages/code/src/DefaultFocusCodeEditorChildren.tsx
  packages/code/src/FocusCodeEditor.tsx
  packages/code/src/HighlightedCodeBlock.tsx
  packages/code/src/InlineCode.tsx
  packages/code/src/KeyboardCode.tsx
  packages/code/src/WalkChildren.tsx
  packages/code/src/_code.scss
  packages/code/src/dangerousCodeUtils.tsx
  packages/code/src/fakeCssModules.ts
  packages/code/src/types.ts
  packages/code/src/useDangerousCodeRunner.tsx
  packages/code/src/useFocusCodeEditor.ts
  packages/code/tsconfig.json
  packages/code/tsconfig.types.json
  pnpm-lock.yaml
Due: none

chore(code): add some additional tweaks
  packages/code/src/CodePreview.tsx
  packages/code/src/DangerousCodePreview.tsx
  packages/code/src/_code.scss
  packages/code/src/prismjs/highlight.ts
Due: none

chore(docs): add home page back
  apps/docs-v2/_everything.scss
  apps/docs-v2/package.json
  apps/docs-v2/src/app/(main)/ComponentsAndHooks.tsx
  apps/docs-v2/src/app/(main)/HomePageBanner.module.scss
  apps/docs-v2/src/app/(main)/HomePageBanner.tsx
  apps/docs-v2/src/app/(main)/HomePageBannerContainer.module.scss
  apps/docs-v2/src/app/(main)/HomePageBannerContainer.tsx
  apps/docs-v2/src/app/(main)/HomePageSection.module.scss
  apps/docs-v2/src/app/(main)/HomePageSection.tsx
  apps/docs-v2/src/app/(main)/Showcase.module.scss
  apps/docs-v2/src/app/(main)/Showcase.tsx
  apps/docs-v2/src/app/(main)/Styling.tsx
  apps/docs-v2/src/app/(main)/layout.scss
  apps/docs-v2/src/app/(main)/page.module.scss
  apps/docs-v2/src/app/(main)/page.tsx
  apps/docs-v2/src/components/ButtonStyledLink.tsx
  apps/docs-v2/src/components/LinkableHeading.module.scss
  apps/docs-v2/src/components/LinkableHeading.tsx
  apps/docs-v2/src/components/ReactMDLogo.module.scss
  apps/docs-v2/src/components/ReactMDLogo.tsx
  apps/docs-v2/src/constants/env.ts
  package.json
  pnpm-lock.yaml
Due: none

refactor(docs): move MainLayout to components folder
  apps/docs-v2/src/app/(main)/layout.tsx
  apps/docs-v2/src/components/MainLayout/CollapsibleMainNavigationGroup.tsx
  apps/docs-v2/src/components/MainLayout/MainLayout.module.scss
  apps/docs-v2/src/components/MainLayout/MainLayout.tsx
  apps/docs-v2/src/components/MainLayout/MainNavigation.tsx
  apps/docs-v2/src/components/MainLayout/MainNavigationGroup.module.scss
  apps/docs-v2/src/components/MainLayout/MainNavigationGroup.tsx
  apps/docs-v2/src/components/MainLayout/MainNavigationLink.module.scss
  apps/docs-v2/src/components/MainLayout/MainNavigationLink.tsx
  apps/docs-v2/src/components/MainLayout/RenderMainNavigationItem.tsx
  apps/docs-v2/src/components/MainLayout/getHrefFromParents.ts
  apps/docs-v2/src/components/MainLayout/navItems.ts
Due: none

chore(docs): add more of layout back
  apps/docs-v2/package.json
  apps/docs-v2/src/app/(main)/HomePageBannerContainer.tsx
  apps/docs-v2/src/app/(main)/layout.scss
  apps/docs-v2/src/app/(main)/layout.tsx
  apps/docs-v2/src/components/CodeLanguageProvider.tsx
  apps/docs-v2/src/components/CookieColorSchemeProvider.tsx
  apps/docs-v2/src/components/GithubIcon.tsx
  apps/docs-v2/src/components/GithubLink.tsx
  apps/docs-v2/src/components/MainLayout/CollapsibleMainNavigationGroup.tsx
  apps/docs-v2/src/components/MainLayout/ConfigureCodeLanguage.tsx
  apps/docs-v2/src/components/MainLayout/ConfigureCodeTheme.tsx
  apps/docs-v2/src/components/MainLayout/ConfigureColorScheme.tsx
  apps/docs-v2/src/components/MainLayout/ConfigureOrientation.tsx
  apps/docs-v2/src/components/MainLayout/ConfigurePackageManager.tsx
  apps/docs-v2/src/components/MainLayout/MainLayout.tsx
  apps/docs-v2/src/components/MainLayout/MainNavigation.tsx
  apps/docs-v2/src/components/MainLayout/MainNavigationLink.tsx
  apps/docs-v2/src/components/MainLayout/MainTitle.module.scss
  apps/docs-v2/src/components/MainLayout/MainTitle.tsx
  apps/docs-v2/src/components/MainLayout/RenderMainNavigationItem.tsx
  apps/docs-v2/src/components/MainLayout/VersionDropdown.tsx
  apps/docs-v2/src/components/MainLayout/VersionMenuItem.tsx
  apps/docs-v2/src/components/MainLayout/WebsiteConfiguration.module.scss
  apps/docs-v2/src/components/MainLayout/WebsiteConfiguration.tsx
  apps/docs-v2/src/components/PackageManagerProvider.tsx
  apps/docs-v2/src/components/PrismThemeProvider.tsx
  apps/docs-v2/src/components/RandomEmoji.module.scss
  apps/docs-v2/src/components/RandomEmoji.tsx
  apps/docs-v2/src/components/RootProviders.tsx
  apps/docs-v2/src/components/SegmentedButtonGroup.tsx
  apps/docs-v2/src/components/SegmentedButtons.tsx
  apps/docs-v2/src/constants/classnames.ts
  apps/docs-v2/src/constants/cookies.ts
  apps/docs-v2/src/constants/env.ts
  apps/docs-v2/src/constants/rmdConfig.tsx
  apps/docs-v2/src/utils/clientCookies.ts
  apps/docs-v2/src/utils/semver.ts
  apps/docs-v2/src/utils/serverCookies.ts
  apps/docs-v2/src/utils/serverState.ts
  pnpm-lock.yaml
Due: none

chore(docs): generate js code from ts code through rehype
  apps/docs-v2/mdx-components.tsx
  apps/docs-v2/package.json
  apps/docs-v2/src/components/TypescriptCodeBlock.tsx
  apps/docs-v2/src/components/TypescriptCodeBlockContainer.tsx
  packages/mdx-plugins/.eslintrc.cjs
  packages/mdx-plugins/package.json
  packages/mdx-plugins/src/rehype-code-blocks.ts
  packages/mdx-plugins/src/rehype-plugins.ts
  packages/mdx-plugins/src/rehype-toc.ts
  packages/mdx-plugins/src/utils/assertions.ts
  packages/mdx-plugins/src/utils/createDemo.ts
  packages/mdx-plugins/src/utils/createJsxNode.ts
  packages/mdx-plugins/src/utils/createTypescriptCodeBlock.ts
  packages/mdx-plugins/src/utils/getCodeLanguage.ts
  packages/mdx-plugins/src/utils/replacePreElement.ts
  packages/mdx-plugins/src/utils/transformTsToJs.ts
  packages/mdx-plugins/tsconfig.json
  packages/mdx-plugins/tsconfig.types.json
  pnpm-lock.yaml
Due: none

chore(docs): auto create npm/pnpm/yarn code blocks
  apps/docs-v2/mdx-components.tsx
  apps/docs-v2/src/app/(main)/(markdown)/getting-started/installation/README.md
  apps/docs-v2/src/app/(main)/(markdown)/getting-started/installation/page.mdx
  apps/docs-v2/src/app/(main)/(markdown)/getting-started/installation/page.mdx.bak
  apps/docs-v2/src/components/Demo.tsx
  apps/docs-v2/src/components/PackageManagerCodeBlock.tsx
  apps/docs-v2/src/components/PackageManagerCodeBlockContainer.module.scss
  apps/docs-v2/src/components/PackageManagerCodeBlockContainer.tsx
  packages/mdx-plugins/src/rehype-code-blocks.ts
  packages/mdx-plugins/src/utils/createDemo.ts
  packages/mdx-plugins/src/utils/createTypescriptCodeBlock.ts
  packages/mdx-plugins/src/utils/transformNpmCode.ts
Due: none
