Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore: split sassdoc scripts and fix typedef for list var
  apps/docs/scripts/constants.ts
  apps/docs/scripts/sassdoc-utils/createSassDocFile.ts
  apps/docs/scripts/sassdoc-utils/generateNavItems.ts
  apps/docs/scripts/sassdoc-utils/sort.ts
  apps/docs/scripts/sassdoc-utils/touch.ts
  apps/docs/scripts/sassdoc-utils/types.ts
  apps/docs/scripts/sassdoc.ts
  apps/docs/src/utils/strings.ts
  apps/docs/src/utils/types.ts
  packages/core/src/list/_list.scss
Due: core, docs

chore(codemod): add form component codemods
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/utils/createLet.ts
  packages/codemod/transforms/utils/insertHookIntoComponent.ts
  packages/codemod/transforms/utils/insertStatementIntoComponentBody.ts
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/PasswordExample.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/PasswordExample.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SelectWithDestructuredRenamedOptions.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SelectWithDestructuredRenamedOptions.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleFileInput.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleFileInput.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleRangeSlider.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleRangeSlider.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleSelect.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleSelect.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleSlider.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/SimpleSlider.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/TextFieldContainerProps.input.tsx
  packages/codemod/transforms/v5-to-v6/form/__testfixtures__/TextFieldContainerProps.output.tsx
  packages/codemod/transforms/v5-to-v6/form/__tests__/update-file-input-props.ts
  packages/codemod/transforms/v5-to-v6/form/__tests__/update-password-props.ts
  packages/codemod/transforms/v5-to-v6/form/__tests__/update-select-api.ts
  packages/codemod/transforms/v5-to-v6/form/__tests__/update-slider-and-range-slider.ts
  packages/codemod/transforms/v5-to-v6/form/__tests__/update-text-field-props-container.ts
  packages/codemod/transforms/v5-to-v6/form/update-file-input-props.ts
  packages/codemod/transforms/v5-to-v6/form/update-password-props.ts
  packages/codemod/transforms/v5-to-v6/form/update-select-api.ts
  packages/codemod/transforms/v5-to-v6/form/update-slider-and-range-slider.ts
  packages/codemod/transforms/v5-to-v6/form/update-text-field-container-props.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/createOptionsDotMap.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/createReturnObjectStatement.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/getChildrenFromOptionsDotMap.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/isOptionsDotMap.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/isSupportedLabelValue.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/migrateOptionsToChildren.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/tryToMigrateOnChange.ts
  packages/codemod/transforms/v5-to-v6/form/utils/select/types.ts
  packages/core/src/form/Password.tsx
  packages/core/src/form/Slider.tsx
Due: core, docs

chore(codemod): added the remaining supported codemods
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/types.ts
  packages/codemod/transforms/utils/getObjectPropertyJSXValue.ts
  packages/codemod/transforms/utils/getObjectPropertyName.ts
  packages/codemod/transforms/v5-to-v6/button/__testfixtures__/button-ripple-props.output.tsx
  packages/codemod/transforms/v5-to-v6/interaction/constants.ts
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/DeprecatedListItemLinkProps.output.tsx
  packages/codemod/transforms/v5-to-v6/list/__testfixtures__/DeprecatedListItemProps.output.tsx
  packages/codemod/transforms/v5-to-v6/media/__testfixtures__/ForcedAspectRatio.input.tsx
  packages/codemod/transforms/v5-to-v6/media/__testfixtures__/ForcedAspectRatio.output.tsx
  packages/codemod/transforms/v5-to-v6/media/__testfixtures__/SimpleMediaExample.input.tsx
  packages/codemod/transforms/v5-to-v6/media/__testfixtures__/SimpleMediaExample.output.tsx
  packages/codemod/transforms/v5-to-v6/media/__testfixtures__/WithOverlay.input.tsx
  packages/codemod/transforms/v5-to-v6/media/__testfixtures__/WithOverlay.output.tsx
  packages/codemod/transforms/v5-to-v6/media/__tests__/update-media-components.ts
  packages/codemod/transforms/v5-to-v6/media/update-media-components.ts
  packages/codemod/transforms/v5-to-v6/menu/__testfixtures__/ComplexContextMenu.input.tsx
  packages/codemod/transforms/v5-to-v6/menu/__testfixtures__/ComplexContextMenu.output.tsx
  packages/codemod/transforms/v5-to-v6/menu/__testfixtures__/SimpleContextMenu.input.tsx
  packages/codemod/transforms/v5-to-v6/menu/__testfixtures__/SimpleContextMenu.output.tsx
  packages/codemod/transforms/v5-to-v6/menu/__testfixtures__/SimpleMenuItemLink.input.tsx
  packages/codemod/transforms/v5-to-v6/menu/__testfixtures__/SimpleMenuItemLink.output.tsx
  packages/codemod/transforms/v5-to-v6/menu/__tests__/replace-menu-item-link.ts
  packages/codemod/transforms/v5-to-v6/menu/__tests__/update-use-context-menu-api.ts
  packages/codemod/transforms/v5-to-v6/menu/replace-menu-item-link.ts
  packages/codemod/transforms/v5-to-v6/menu/update-use-context-menu-api.ts
  packages/core/src/responsive-item/ResponsiveItem.tsx
Due: core, docs

fix(core): autocomplete clear button styles
  packages/core/package.json
  packages/core/src/app-bar/_app-bar.scss
  packages/core/src/autocomplete/_autocomplete.scss
  packages/core/src/card/_card.scss
  packages/core/src/theme/_theme.scss
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core

build: fix lockfile after poc
  pnpm-lock.yaml
Due: none

test: fix codemod tests
  packages/codemod/src/transforms/v5-to-v6/tree/__tests__/all.ts
Due: none

chore(core): additional scss updates to help with migration
  packages/core/src/_box-shadows.scss
  packages/core/src/interaction/_interaction.scss
  packages/core/src/list/_list.scss
  packages/core/src/responsive-item/_responsive-item.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/theme/_theme.scss
  packages/core/src/tooltip/_tooltip.scss
  packages/core/src/typography/_typography.scss
Due: core

fix(text-area): prevent width changing until scrollbar appears
  packages/core/src/form/__tests__/TextArea.tsx
  packages/core/src/form/useResizingTextArea.ts
Due: core

fix(select): use correct color for selected option in light theme
  packages/core/src/form/_select.scss
  packages/core/src/typography/_typography.scss
Due: core

fix(core): do not apply `rmd-surface-container`
  packages/core/src/cssUtils.ts
Due: core

fix(theme): use rgba for text colors to fix min contrast ratios
  packages/core/src/theme/_theme.scss
Due: core

refactor(expansion-panel): shorter styles file name
  packages/codemod/src/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/expansion-panel/ExpansionPanel.tsx
  packages/core/src/expansion-panel/ExpansionPanelHeader.tsx
  packages/core/src/expansion-panel/styles.ts
  packages/react-md/src/index.ts
Due: core

docs: add RootHtml page
  apps/docs/src/app/(main)/(markdown)/(demos)/components/root-html/page.mdx
  apps/docs/src/app/(main)/layout.tsx
  apps/docs/src/components/FilePreview/SimpleFilePreview.tsx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

docs: add NoSsr page
  apps/docs/src/app/(main)/(markdown)/(demos)/components/no-ssr/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/NoSsr.tsx
Due: core, docs

docs: small pre-release cleanup and fixes
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/TableOfContents/TableOfContentsGroup.module.scss
  apps/docs/src/components/TableOfContents/TableOfContentsGroup.tsx
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/docs-generator/src/utils/compileAndMinifyScss.ts
  svgo.config.js
Due: docs

docs: create v6 release blog
  NOTES.md
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/DevToolsPreview.module.scss
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/DevToolsPreview.tsx
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/dev-tools-after.png
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/dev-tools-before.png
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/normal-hover-focus-after.png
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/normal-hover-focus-before.png
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/page.mdx
  apps/docs/src/components/MarkdownLink.tsx
Due: docs

docs: add cssUtils page
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/css-utils/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

chore: replace next.react-md.dev with react-md.dev
  README.md
  packages/core/CHANGELOG.md
  packages/core/README.md
  packages/material-icons/README.md
  packages/react-md/README.md
Due: core

build(deps): update deps to see if it fixes vercel deployment
  apps/docs/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

fix(docs): base url with vercel
  apps/docs/scripts/createEnv.ts
  pnpm-lock.yaml
Due: docs

build(deps); upgrade swc/cli and add another vercel url fix
  apps/docs/scripts/createEnv.ts
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core, docs

chore: update more mixed-decls in documentation site
  apps/docs/src/app/(main)/Showcase.module.scss
  apps/docs/src/components/MarkdownPage.module.scss
  apps/docs/src/components/PackageManagerCodeBlock/PackageManagerTabs.module.scss
  apps/docs/src/components/RandomEmoji.module.scss
Due: docs

docs: allow alpha version to be considered latest on main branch
  apps/docs/scripts/createEnv.ts
  apps/docs/src/components/MainLayout/VersionDropdown.tsx
  apps/docs/src/constants/env.ts
Due: docs

build(deps): revert @swc/cli since it broke in watch mode
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
Due: core

feat(object-fit): allow simple responsive behavior
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/page.mdx
  apps/docs/src/components/CustomMdxComponents.tsx
  apps/docs/src/components/MarkdownImage.tsx
  packages/core/src/__tests__/__snapshots__/objectFit.ts.snap
  packages/core/src/_object-fit.scss
  packages/core/src/objectFit.ts
Due: core, docs

chore: fix regex recommendations
  packages/core/src/form/useTextField.ts
  packages/docs-generator/src/scripts/create-prism-themes.ts
  packages/sassdoc-generator/src/formatDescription.ts
Due: core

feat(core): create useInlineCSSVariables for non-client vars
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-css-variables/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-inline-css-variables/page.mdx
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/colors/usePlaygroundColors.ts
  apps/docs/src/app/(main)/components/material-icons-and-symbols/useVirtualizedColumns.ts
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/layout/useLayoutAppBarHeight.ts
  packages/core/src/theme/__tests__/useCSSVariables.tsx
  packages/core/src/theme/__tests__/useInlineCSSVariables.tsx
  packages/core/src/theme/useCSSVariables.ts
  packages/core/src/theme/useInlineCSSVariables.ts
Due: core, docs

feat(box): enable media query columns and item sizes
  packages/core/src/box/Box.tsx
  packages/core/src/box/__tests__/Box.tsx
  packages/core/src/box/__tests__/__snapshots__/Box.tsx.snap
  packages/core/src/box/_box.scss
  packages/core/src/box/styles.ts
Due: core

docs(box): update box demos after new breakpoint props
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/BoxStylesUtilityFunctionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/GridColumnMediaQueries.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/MaterialGridCustomizationExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/MaterialGridCustomizationExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/MaterialGridExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/page.mdx
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/DevToolsPreview.tsx
Due: docs

fix(icon): material symbol optical size variable and use inline styles
  packages/core/src/_utils.scss
  packages/core/src/icon/__tests__/MaterialSymbol.tsx
  packages/core/src/icon/__tests__/__snapshots__/MaterialSymbol.tsx.snap
  packages/core/src/icon/materialConfig.ts
Due: core

docs: additional fixes and icon docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/MaterialGridCustomizationExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/MaterialIconComponentExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/MaterialSymbolComponentExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/layout.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/layout.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/DarkModeColors.tsx
  apps/docs/src/app/(main)/(markdown)/blog/react-md-v6-released/page.mdx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/DesktopOnly.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FontIconImportAndUsage.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FullScreenVirtualizedList.module.scss
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FullScreenVirtualizedList.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/HowToUseSheet.module.scss
  apps/docs/src/app/(main)/components/material-icons-and-symbols/HowToUseSheet.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialFontStylesWarning.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialSymbolStylesheets.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/ResizeHowToUseSheet.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/layout.scss
  packages/docs-generator/src/rehype-color-preview.ts
Due: docs

test: fix test snapshots
  packages/core/src/__tests__/RootHtml.node.tsx
  packages/core/src/__tests__/__snapshots__/RootHtml.node.tsx.snap
  packages/docs-generator/src/__tests__/__snapshots__/rehype-color-preview.ts.snap
Due: core

chore: additional pre-release fixes
  apps/docs/src/app/(main)/components/material-icons-and-symbols/HowToUseSheet.tsx
  packages/codemod/src/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/box/_box.scss
  packages/react-md/src/index.ts
  packages/sassdoc-generator/src/formatVariableItem.ts
Due: core, docs

build(version): version packages
  .changeset/famous-pens-perform.md
  .changeset/forty-days-walk.md
  .changeset/friendly-walls-repeat.md
  .changeset/gentle-gifts-arrive.md
  .changeset/gold-singers-remember.md
  .changeset/hip-poems-relate.md
  .changeset/light-humans-stare.md
  .changeset/lucky-chairs-serve.md
  .changeset/nine-friends-glow.md
  .changeset/ninety-drinks-wave.md
  .changeset/ninety-roses-sneeze.md
  .changeset/olive-pianos-knock.md
  .changeset/orange-toes-share.md
  .changeset/pink-yaks-tickle.md
  .changeset/pre.json
  .changeset/sharp-months-draw.md
  .changeset/short-lies-decide.md
  .changeset/silent-chefs-invent.md
  .changeset/spotty-ghosts-wait.md
  .changeset/strange-carpets-add.md
  .changeset/tasty-trainers-beg.md
  .changeset/ten-poems-film.md
  .changeset/thin-tables-carry.md
  .changeset/tidy-tips-sort.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

fix(core): fixed map.nth -> map.get
  packages/core/src/box/_box.scss
Due: core

build(version): version packages
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs
