Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

fix(text-field): filled label styling
  .changeset/cozy-peas-nail.md
  packages/core/src/form/_text-field.scss
Due: core

chore(label): update floating label transform order for easier positioning
  .changeset/ready-views-allow.md
  packages/core/src/form/_label.scss
Due: core

docs: updated floating label options demo
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/FloatingLabelOptionsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/legend/page.mdx
Due: docs

fix(legend): fixed the floating underline and filled themes
  .changeset/wet-worms-smoke.md
  packages/core/src/form/_legend.scss
  packages/core/src/form/legendStyles.ts
Due: core

fix(select): allow the selectedOptionProps.children to set the display value
  .changeset/fuzzy-animals-design.md
  packages/core/src/form/SelectedOption.tsx
  packages/core/src/form/__tests__/Select.tsx
  packages/core/src/form/__tests__/__snapshots__/Select.tsx.snap
Due: core

docs(select): added new example for getSelectedOptionChildren
  apps/docs/src/app/(main)/(markdown)/(demos)/components/select/DisplayingTheSelectedOptionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/select/page.mdx
Due: docs

feat(select): allow customizing the selected option display children
  .changeset/solid-falcons-travel.md
  packages/core/src/form/Select.tsx
  packages/core/src/form/SelectedOption.tsx
  packages/core/src/form/__tests__/Select.tsx
Due: core

build(deps): bump safe deps to latest
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: core, docs

build(version): version packages
  .changeset/cozy-peas-nail.md
  .changeset/fuzzy-animals-design.md
  .changeset/ready-views-allow.md
  .changeset/seven-steaks-tell.md
  .changeset/solid-falcons-travel.md
  .changeset/wet-worms-smoke.md
  .changeset/wild-hands-sing.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

docs: fix typo for useDateField nav item
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

fix(core): optional-css-modules should work with turbopack
  .changeset/lucky-feet-brake.md
  packages/core/src/_utils.scss
Due: core

build(deps): bump deps to latest
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/code/package.json
  packages/docs-generator/package.json
  packages/sassdoc-generator/package.json
  pnpm-lock.yaml
  scripts/release.ts
Due: docs

build(version): version package
  .changeset/lucky-feet-brake.md
  .changeset/slick-rockets-care.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

docs: fix invalid link and material symbols loading
  apps/docs/src/app/(main)/(markdown)/(demos)/components/autocomplete/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/layout.scss
  apps/docs/src/app/(main)/components/material-icons-and-symbols/layout.scss
Due: docs

fix(icon): material symbol fill uses correct var name
  .changeset/lazy-shirts-love.md
  packages/core/src/_utils.scss
Due: core

build(version): version package
  .changeset/lazy-shirts-love.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

docs: fix useSlideTransition docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-slide-transition/page.mdx
Due: docs

fix(docs): do not trigger RSC render for each material symbol change
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialIconsAndSymbolsProvider.tsx
Due: docs

feat(docs): allow symbol settings to be shared without selecting icon
  apps/docs/src/app/(main)/components/material-icons-and-symbols/searchParams.ts
Due: docs

docs: add info for v7 and above
  apps/docs/src/app/(main)/(markdown)/getting-started/installation/page.mdx
  apps/docs/src/app/(main)/(markdown)/migration/v6-to-v7/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

chore: fix lint
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialIconsAndSymbolsProvider.tsx
Due: docs

docs: add warning for non-latest version and link to latest version
  apps/docs/.env.development
  apps/docs/_everything.scss
  apps/docs/src/components/MainLayout/MainLayout.tsx
  apps/docs/src/components/MainLayout/VersionBanner.module.scss
  apps/docs/src/components/MainLayout/VersionBanner.tsx
  apps/docs/src/components/MainLayout/VersionDropdown.tsx
  apps/docs/src/constants/env.ts
Due: docs

build(version): version package
  .changeset/wise-carpets-follow.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

fix: update react peerDependencies version
  .changeset/funky-chairs-happen.md
  packages/code/package.json
  packages/core/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
Due: core

build(core): bump vitest to v4
  packages/core/package.json
  packages/core/src/__tests__/useResizeObserver.tsx
  packages/core/src/files/__tests__/useFileUpload.tsx
  packages/core/src/form/__tests__/Form.tsx
  packages/core/src/searching/__tests__/fuzzy.ts
  packages/core/src/tabs/__tests__/TabList.tsx
  pnpm-lock.yaml
Due: core

build(deps): bump deps to latest
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: core, docs

build: bump node@24.12.0 and pnpm@10.28.0
  .github/workflows/main.yml
  apps/docs/package.json
  apps/playground/package.json
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-vite/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
Due: core, docs

build(version): version package
  .changeset/funky-chairs-happen.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: core, docs

fix(material-icons): actually publish components
  .changeset/modern-trains-say.md
  packages/material-icons/.npmignore
Due: none

build(version): version package
  .changeset/modern-trains-say.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/sassdoc-generator/CHANGELOG.md
  packages/sassdoc-generator/package.json
Due: docs

chore(examples): update examples to latest
  examples/mlaursen-nextjs/eslint.config.mjs
  examples/mlaursen-nextjs/package.json
  examples/mlaursen-nextjs/src/app/__tests__/__snapshots__/page.tsx.snap
  examples/mlaursen-nextjs/src/components/LinkUnstyled.tsx
  examples/mlaursen-vite/package.json
  examples/nextjs-js/jsconfig.json
  examples/nextjs-js/package.json
  examples/nextjs-ts/eslint.config.mjs
  examples/nextjs-ts/package.json
  examples/nextjs-ts/tsconfig.json
  examples/react-router-framework-mode/package.json
  examples/vite-js/package.json
  examples/vite-js/src/index.scss
  examples/vite-ts/package.json
  examples/vite-ts/src/index.scss
Due: none

feat(core): add LiteralStringUnion utility type
  packages/core/src/layout/useExpandableLayout.ts
  packages/core/src/types.ts
Due: core

feat(vite-material-symbols-plugin): created package
  .changeset/curly-sites-drum.md
  .gitignore
  packages/vite-material-symbols-plugin/.gitignore
  packages/vite-material-symbols-plugin/.prettierignore
  packages/vite-material-symbols-plugin/.prettierrc.yaml
  packages/vite-material-symbols-plugin/README.md
  packages/vite-material-symbols-plugin/eslint.config.mjs
  packages/vite-material-symbols-plugin/package.json
  packages/vite-material-symbols-plugin/rollup.config.ts
  packages/vite-material-symbols-plugin/src/addMaterialSymbolNames.ts
  packages/vite-material-symbols-plugin/src/constants.ts
  packages/vite-material-symbols-plugin/src/getMaterialSymbolOption.ts
  packages/vite-material-symbols-plugin/src/index.ts
  packages/vite-material-symbols-plugin/src/types.ts
  packages/vite-material-symbols-plugin/tsconfig.json
  packages/vite-material-symbols-plugin/tsconfig.types.json
  pnpm-lock.yaml
Due: none

build: bump deps to latest and eslint-config fixes
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/playground/eslint.config.mjs
  apps/playground/package.json
  package.json
  packages/@types__sassdoc/package.json
  packages/code/eslint.config.mjs
  packages/code/package.json
  packages/codemod/eslint.config.mjs
  packages/codemod/package.json
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/docs-generator/eslint.config.mjs
  packages/docs-generator/package.json
  packages/eslint-config/package.json
  packages/material-icons/package.json
  packages/material-icons/scripts/eslint.config.mjs
  packages/react-md/package.json
  packages/sassdoc-generator/eslint.config.mjs
  packages/sassdoc-generator/package.json
  packages/stylelint-config/package.json
  packages/vite-material-symbols-plugin/eslint.config.mjs
  packages/vite-material-symbols-plugin/package.json
  pnpm-lock.yaml
Due: core, docs

build: update some build steps to use concurrently and @mlaursen/cli
  package.json
  packages/core/package.json
  packages/core/scripts/copySassFiles.ts
  pnpm-lock.yaml
Due: core

build(core): fix mutable configs to be considered side effects
  .changeset/plain-deer-appear.md
  apps/docs/.prettierrc.yaml
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/page.mdx
  apps/docs/src/components/RootProviders.tsx
  apps/docs/src/utils/serverState.ts
  packages/core/package.json
Due: core, docs

fix(core): material icon font and material symbol sizing
  .changeset/tasty-mammals-go.md
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/layout.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/icon/layout.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FontIconImportAndUsage.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialFontStylesWarning.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/MaterialSymbolStylesheets.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/layout.scss
  apps/docs/src/app/(main)/components/material-icons-and-symbols/layout.tsx
  examples/mlaursen-nextjs/src/app/symbols.scss
  packages/core/src/icon/_icon.scss
Due: core, docs
