Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 1%
      core:
        target: 80%
        flags:
          - core
      docs:
        target: 1%
        flags:
          - docs

flags:
  core:
    paths:
      - packages/core/
  docs:
    paths:
      - apps/docs/

chore(core): removed VerticalDivider
  packages/core/src/divider/VerticalDivider.tsx
  packages/core/src/divider/__tests__/VerticalDivider.tsx
  packages/core/src/divider/__tests__/__snapshots__/VerticalDivider.tsx.snap
  packages/core/src/divider/useVerticalDividerHeight.ts
  packages/core/src/index.ts
  packages/core/src/menu/MenuItemSeparator.tsx
Due: core

chore(docs): add divider docs
  apps/docs/src/app/components/divider/CustomizingDivider.tsx
  apps/docs/src/app/components/divider/InsetDivider.tsx
  apps/docs/src/app/components/divider/SimpleDivider.tsx
  apps/docs/src/app/components/divider/VerticalDivider.tsx
  apps/docs/src/app/components/divider/demos.mdx
Due: docs

chore(tooltip): update tooltips to be temporary by default
  packages/core/src/tooltip/Tooltip.tsx
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/__snapshots__/Tooltip.tsx.snap
Due: core

chore(tooltip): move overflowOnly into useTooltip hook
  apps/docs/src/app/components/material-icons-and-symbols/HowToUseSheetHeader.tsx
  apps/docs/src/components/RootLayout/NavigationItemLink.tsx
  packages/core/src/index.ts
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/useOverflowTooltip.tsx
  packages/core/src/tooltip/useOverflowTooltip.ts
  packages/core/src/tooltip/useTooltip.ts
Due: core, docs

chore(menu): fix some styles and allow controlling menu visibility
  packages/core/src/form/MenuItemInputToggle.tsx
  packages/core/src/form/MenuItemTextField.tsx
  packages/core/src/form/_form.scss
  packages/core/src/menu/DropdownMenu.tsx
  packages/core/src/menu/Menu.tsx
  packages/core/src/menu/MenuSheet.tsx
Due: core

chore(docs): add menu documentation
  apps/docs/src/app/components/menu/ButtonStyling.tsx
  apps/docs/src/app/components/menu/ClickFirstHoverableMenu.tsx
  apps/docs/src/app/components/menu/CloseOnResizeExample.tsx
  apps/docs/src/app/components/menu/ContextMenuExample.tsx
  apps/docs/src/app/components/menu/ControllingMenuVisibility.tsx
  apps/docs/src/app/components/menu/DisableConditionalRenderingExample.tsx
  apps/docs/src/app/components/menu/DisablePortalExample.tsx
  apps/docs/src/app/components/menu/FloatingActionButtonExample.tsx
  apps/docs/src/app/components/menu/FormMenuItemWithAddonsExample.tsx
  apps/docs/src/app/components/menu/HorizontalMenuExample.tsx
  apps/docs/src/app/components/menu/HoverableMenuExample.tsx
  apps/docs/src/app/components/menu/IconButtonExample.tsx
  apps/docs/src/app/components/menu/MenuItemActionExample.tsx
  apps/docs/src/app/components/menu/MenuItemAddonsExample.tsx
  apps/docs/src/app/components/menu/MenuItemCheckboxExample.tsx
  apps/docs/src/app/components/menu/MenuItemFileInputExample.tsx
  apps/docs/src/app/components/menu/MenuItemRadioExample.tsx
  apps/docs/src/app/components/menu/MenuItemSeparatorAndGroupExample.tsx
  apps/docs/src/app/components/menu/MenuItemSwitchExample.tsx
  apps/docs/src/app/components/menu/MenuItemTextFieldExample.tsx
  apps/docs/src/app/components/menu/MenuWithinADialog.tsx
  apps/docs/src/app/components/menu/NestedMenusExample.tsx
  apps/docs/src/app/components/menu/PreventScrollExample.tsx
  apps/docs/src/app/components/menu/RenderingInASheet.tsx
  apps/docs/src/app/components/menu/SheetOptionsExample.tsx
  apps/docs/src/app/components/menu/SimpleExample.tsx
  apps/docs/src/app/components/menu/demos.mdx
  apps/docs/src/components/CodeEditor/CodeEditor.tsx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/components/TableOfContents/TableOfContents.module.scss
Due: docs

chore(tree): fix type errors in tests
  packages/core/src/tree/__tests__/TreeGroup.tsx
  packages/core/src/tree/__tests__/TreeItemExpander.tsx
Due: core

chore(tooltip): rename options to be timeout instead of time
  apps/docs/src/app/components/material-icons-and-symbols/HowToUseSheetHeader.tsx
  apps/docs/src/components/CopyToClipboard.tsx
  packages/core/src/hoverMode/useHoverMode.ts
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/tooltip/TooltipHoverModeProvider.tsx
  packages/core/src/tooltip/__tests__/Tooltip.tsx
  packages/core/src/tooltip/__tests__/TooltipHoverModeProvider.tsx
  packages/core/src/tooltip/useTooltip.ts
Due: core, docs

docs(tooltip): add overflow only example
  packages/core/src/tooltip/useTooltip.ts
Due: core

chore(tooltip): use textOverflow instead of disableLineWrap
  apps/docs/src/components/ReturnToTop.tsx
  apps/docs/src/components/WebsiteConfiguration/WebsiteConfiguration.tsx
  packages/core/src/form/SliderValueTooltip.tsx
  packages/core/src/tooltip/Tooltip.tsx
  packages/core/src/tooltip/_tooltip.scss
  packages/core/src/tooltip/tooltipStyles.ts
Due: core, docs

chore(tooltip): return additioanl functionality in useTooltip
  packages/core/src/tooltip/useTooltip.ts
Due: core

chore(docs): add tooltip docs
  apps/docs/src/app/components/tooltip/ConfiguringTooltipTimeoutsExample.tsx
  apps/docs/src/app/components/tooltip/CustomOverflowElementExample.tsx
  apps/docs/src/app/components/tooltip/CustomTooltipExample.tsx
  apps/docs/src/app/components/tooltip/DenseTooltipExample.tsx
  apps/docs/src/app/components/tooltip/EnablingHoverModeExample.tsx
  apps/docs/src/app/components/tooltip/ForcedTooltipPositionExample.tsx
  apps/docs/src/app/components/tooltip/LongTextTooltipTooltipExample.tsx
  apps/docs/src/app/components/tooltip/OverflowOnlyTooltipExample.tsx
  apps/docs/src/app/components/tooltip/ProgressbarTooltipExample.tsx
  apps/docs/src/app/components/tooltip/SimpleTooltipExample.tsx
  apps/docs/src/app/components/tooltip/TooltipPositioningExample.tsx
  apps/docs/src/app/components/tooltip/demos.mdx
Due: docs

chore(dialog): add aria-modal when modal prop is true
  packages/core/src/dialog/Dialog.tsx
Due: core

chore(progress): remove children from LinearProgress type
  packages/core/src/progress/LinearProgress.tsx
Due: core

chore(docs): add providers around code preview
  apps/docs/src/components/CodeEditor/CodeEditor.tsx
  apps/docs/src/components/DangerouslyRunCode/RunnableCodePreview.tsx
Due: docs

should merge with tooltip stuff
  apps/docs/src/components/DangerouslyRunCode/useDangerouslyRunnableCode.tsx
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
Due: docs

chore(docs): added a way to include scss modules in demos
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/scripts/createMarkdownPages.ts
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/scripts/utils/typescript.ts
  apps/docs/src/components/CodeBlock.tsx
  apps/docs/src/components/CodeBlockHeader.tsx
  apps/docs/src/components/CodeEditor/CodeEditor.tsx
  apps/docs/src/components/CodeEditor/CodeEditorWithPreview.tsx
  apps/docs/src/components/CodeEditor/useCodeEditor.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/components/FullDemoEditor.module.scss
  apps/docs/src/components/FullDemoEditor.tsx
  apps/docs/src/components/HighlightedCodeBlock.tsx
  apps/docs/src/components/ScssCodeEditor.module.scss
  apps/docs/src/components/ScssCodeEditor.tsx
  apps/docs/src/components/TypescriptCodeEditor.tsx
  apps/docs/src/utils/compileScssModule.ts
  apps/docs/src/utils/fakeScssModules.ts
  apps/docs/src/utils/parseCodeBlock.ts
  pnpm-lock.yaml
Due: docs

chore(docs): add a way to hot-reload styles in demos
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/src/components/HighlightedCodeBlock.tsx
  apps/docs/src/utils/parseCodeBlock.ts
Due: docs

chore(docs): started adding dialog docs
  apps/docs/src/app/components/dialog/CustomTransitionExample.module.scss
  apps/docs/src/app/components/dialog/CustomTransitionExample.tsx
  apps/docs/src/app/components/dialog/FullPageDialogExample.tsx
  apps/docs/src/app/components/dialog/ModalDialogExample.tsx
  apps/docs/src/app/components/dialog/SettingInitialFocusExample.tsx
  apps/docs/src/app/components/dialog/SimpleExample.tsx
  apps/docs/src/app/components/dialog/demos.mdx
Due: docs

chore(docs): update main workflow to create sass lookup
  .github/workflows/main.yml
Due: none

build(docs): add scss-lookup to build and enable webpackBuildWorker
  apps/docs/next.config.mjs
  apps/docs/package.json
Due: docs

build(deps): bump dependencies to latest
  apps/docs/next.config.mjs
  apps/docs/package.json
  package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/material-icons/package.json
  pnpm-lock.yaml
Due: core, docs

chore(docs): try another way for runnable scss module demos
  .github/workflows/main.yml
  apps/docs/package.json
  apps/docs/scripts/codeCache.ts
  apps/docs/scripts/createMarkdownPages.ts
  apps/docs/scripts/utils/createDemoMarkdown.ts
  apps/docs/scripts/utils/createDemoMdx.ts
  apps/docs/scripts/utils/createScssModules.ts
  apps/docs/scripts/utils/typescript.ts
  apps/docs/src/utils/parseCodeBlock.ts
Due: docs

docs: add some info into readmes
  README.md
  apps/docs/README.md
Due: docs

chore(core): add data-testid test util that defines data-testid
  packages/core/package.json
  packages/core/src/form/__tests__/FileInput.tsx
  packages/core/src/form/__tests__/Switch.tsx
  packages/core/src/overlay/__tests__/Overlay.tsx
  packages/core/src/test-utils/data-testid.ts
Due: core

chore(docs): force alpha-numeric order for scss lookup
  apps/docs/package.json
  apps/docs/scripts/createScssLookup.ts
  apps/docs/src/constants/scssLookup.ts
Due: docs

test(core): add tests for useFocusContainer
  packages/core/src/focus/__tests__/useFocusContainer.tsx
  packages/core/src/focus/useFocusContainer.ts
Due: core

test(dialog): added dialog tests
  UltiSnips/typescript.snippets
  packages/core/src/dialog/Dialog.tsx
  packages/core/src/dialog/__tests__/Dialog.tsx
  packages/core/src/dialog/__tests__/DialogContent.tsx
  packages/core/src/dialog/__tests__/DialogFooter.tsx
  packages/core/src/dialog/__tests__/DialogHeader.tsx
  packages/core/src/dialog/__tests__/DialogTitle.tsx
  packages/core/src/dialog/__tests__/__snapshots__/Dialog.tsx.snap
  packages/core/src/dialog/__tests__/__snapshots__/DialogContent.tsx.snap
  packages/core/src/dialog/__tests__/__snapshots__/DialogFooter.tsx.snap
  packages/core/src/dialog/__tests__/__snapshots__/DialogHeader.tsx.snap
  packages/core/src/dialog/__tests__/__snapshots__/DialogTitle.tsx.snap
Due: core

chore(docs): added link demos
  apps/docs/src/app/components/link/ButtonStyledLinkExample.tsx
  apps/docs/src/app/components/link/LinkWithIconExample.tsx
  apps/docs/src/app/components/link/SimpleLinkExample.tsx
  apps/docs/src/app/components/link/ThirdPartyRoutingLibrariesExample.tsx
  apps/docs/src/app/components/link/demo-page.mdx
  apps/docs/src/app/components/link/demos.mdx
  apps/docs/src/app/components/link/toc.ts
Due: docs

chore(docs): added a carousel example
  apps/docs/src/app/components/carousel/CarouselExample.module.scss
  apps/docs/src/app/components/carousel/CarouselExample.tsx
  apps/docs/src/app/components/carousel/demos.mdx
  apps/docs/src/app/components/carousel/toc.ts
  apps/docs/src/components/DangerouslyRunCode/utils.tsx
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(docs): add a quick way to reset demos
  apps/docs/src/components/FullDemoEditor.tsx
  apps/docs/src/components/HighlightedCodeBlock.tsx
  apps/docs/src/components/ResetDemo.tsx
  apps/docs/src/components/ResettableProvider.tsx
  apps/docs/src/utils/useResettable.tsx
Due: docs

chore(docs): update scripts to generate alpha numerically
  apps/docs/package.json
  apps/docs/scripts/createApiDocs.ts
  apps/docs/scripts/createScssLookup.ts
  apps/docs/scripts/utils/createScssModules.ts
  apps/docs/scripts/utils/printObjectAlphaNumerically.ts
  apps/docs/src/constants/apiLookup.ts
  apps/docs/src/constants/scssModulesLookup.ts
Due: docs

chore(docs): update VersionDropdown to support v1 - v5
  apps/docs/src/app/layout.tsx
  apps/docs/src/components/RootLayout/VersionDropdown.tsx
Due: docs

build(docs): update scss-lookup watcher
  apps/docs/scripts/createScssLookup.ts
Due: docs

chore(segmented-button): fix max-width transition
  apps/docs/src/constants/scssLookup.ts
  packages/core/src/segmented-button/_segmented-button.scss
Due: core, docs

build: add validate top-level script
  package.json
Due: none

chore(docs): add SegmentedButton demos
  apps/docs/src/app/components/segmented-button/DisableFullWidthExample.tsx
  apps/docs/src/app/components/segmented-button/DisableSelectedIconTransitionExample.tsx
  apps/docs/src/app/components/segmented-button/SelectedIconExample.tsx
  apps/docs/src/app/components/segmented-button/SimpleSegmentedButtonGroupExample.tsx
  apps/docs/src/app/components/segmented-button/demo-page.mdx
  apps/docs/src/app/components/segmented-button/demos.mdx
  apps/docs/src/app/components/segmented-button/toc.ts
Due: docs

chore(docs): show errors on mount for DangerouslyRunCode
  apps/docs/src/components/DangerouslyRunCode/useDangerouslyRunnableCode.tsx
Due: docs
