Repository mlaursen/react-md: changes, and which Codecov flags are due for each by the changed paths.
All: core, docs

fix(textfield): outline text field focus state while errored
  packages/core/src/focus/useFocusContainer.ts
  packages/core/src/form/_form.scss
Due: core

refactor(color-scheme)!: update naming to be less confusing
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-html-class-name/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/LocalStorageExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/theme-provider/KnownThemeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/customization/dark-mode/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/quickstart/page.mdx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FilterPanel.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FiltersSheetContent.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/FullScreenVirtualizedList.tsx
  apps/docs/src/app/(main)/components/material-icons-and-symbols/VirtualizedMatch.tsx
  apps/docs/src/components/CookieColorSchemeProvider.tsx
  apps/docs/src/components/LoadThemeStyles/LoadThemeStyles.tsx
  apps/docs/src/components/MainLayout/ConfigureColorScheme.tsx
  apps/docs/src/components/RootProviders.tsx
  apps/docs/src/utils/serverState.ts
  package.json
  packages/core/src/theme/LocalStorageColorSchemeProvider.tsx
  packages/core/src/theme/ThemeProvider.tsx
  packages/core/src/theme/__tests__/LocalStorageColorSchemeProvider.tsx
  packages/core/src/theme/_theme.scss
  packages/core/src/theme/isColorScheme.ts
  packages/core/src/theme/types.ts
  packages/core/src/theme/useColorScheme.ts
  packages/core/src/theme/useColorSchemeMetaTag.ts
  packages/core/src/theme/useColorSchemeProvider.ts
Due: core, docs

feat(core)!: create useStorage instead of useLocalStorage
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-color-scheme-provider/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/LocalStorageExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/color-scheme-provider/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/draggable/__tests__/useDraggable.tsx
  packages/core/src/layout/__tests__/useResizableLayout.tsx
  packages/core/src/storage/__tests__/__snapshots__/useStorage.node.tsx.snap
  packages/core/src/storage/__tests__/useStorage.node.tsx
  packages/core/src/storage/__tests__/useStorage.tsx
  packages/core/src/storage/internalUtils.ts
  packages/core/src/storage/types.ts
  packages/core/src/storage/useStorage.ts
  packages/core/src/storage/utils.ts
  packages/core/src/theme/LocalStorageColorSchemeProvider.tsx
  packages/core/src/theme/__tests__/LocalStorageColorSchemeProvider.tsx
  packages/core/src/theme/useColorSchemeProvider.ts
  packages/core/src/transition/__tests__/useTransition.tsx
  packages/core/src/useLocalStorage.ts
  packages/react-md/src/index.ts
Due: core, docs

docs(hooks): added useStorage hooks and utils docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-draggable/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-storage/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/polyfills/SourceLink.tsx
  apps/docs/src/app/(main)/(markdown)/testing/polyfills/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/recipes/page.mdx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/SourceLink.tsx
  apps/docs/src/app/(main)/(markdown)/testing/test-utils/page.mdx
  apps/docs/src/components/GithubLink.module.scss
  apps/docs/src/components/GithubLink.tsx
  apps/docs/src/components/MarkdownLink.tsx
  packages/core/src/storage/types.ts
  packages/core/src/storage/useStorage.ts
  packages/core/src/storage/utils.ts
  packages/docs-generator/src/rehype-toc.ts
Due: core, docs

feat(core): add useTableOfContentsLinks and enable react-md index format
  packages/core/src/navigation/useTableOfContentsLinks.ts
  packages/react-md/package.json
  packages/react-md/src/index.ts
  pnpm-lock.yaml
Due: core

docs: table of contents docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-active-heading-id/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-table-of-contents-links/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
Due: docs

docs: add RenderRecursively docs
  apps/docs/src/app/(main)/(markdown)/(demos)/components/render-recursively/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/render-recursively/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/utils/RenderRecursively.tsx
Due: core, docs

build: update deps and node version
  apps/docs/package.json
  package.json
  packages/code/package.json
  packages/codemod/package.json
  packages/core/package.json
  packages/docs-generator/package.json
  packages/material-icons/package.json
  packages/react-md/package.json
  pnpm-lock.yaml
Due: core, docs

chore: fix some docs and formatting
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-active-heading-id/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-mutation-observer/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-readonly-set/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-table-of-contents-headings/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-dropzone/SimpleExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-dropzone/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-dropzone/page.mdx
  apps/docs/src/app/(main)/getting-started/example-projects/page.tsx
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/src/components/TableOfContents/RenderTableOfContentsItem.tsx
  apps/docs/src/components/TableOfContents/TableOfContents.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/interaction/_interaction.scss
  packages/core/src/navigation/useActiveHeadingId.ts
  packages/core/src/navigation/useTableOfContentsHeadings.ts
  packages/core/src/theme/useColorSchemeProvider.ts
  packages/core/src/theme/usePrefersDarkTheme.ts
  packages/docs-generator/src/__tests__/rehype-toc.ts
  packages/docs-generator/src/rehype-toc.ts
  packages/docs-generator/src/scripts/vim-solarized-dark.scss
  packages/react-md/src/index.ts
Due: core, docs

chore(form): add a few more docs and features to useTextField
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/FormLevelErrorMessagesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/ValidationTypeExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/page.mdx
  packages/core/src/form/useTextField.ts
  packages/core/src/form/validation.ts
Due: core, docs

docs(transition): add transition hooks docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-collapse-transition/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-cross-fade-transition/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-scale-transition/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-skeleton-placeholder/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-slide-transition/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  packages/core/src/transition/maxWidthTransition.ts
  packages/core/src/transition/useMaxWidthTransition.ts
  packages/core/src/transition/useScaleTransition.ts
  packages/core/src/transition/useSlideTransition.ts
Due: core, docs

docs: add more hooks docs
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-collapse-transition/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-css-transition/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-navigation-expansion/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-transition/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/AdvancedConfiguration.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-fixed-positioning/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/AddingConstraintsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/CustomValidationExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/FormLevelErrorMessagesExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/InlineCounterExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-text-field/page.mdx
  apps/docs/src/app/(main)/(markdown)/customization/global-configuration/page.mdx
  apps/docs/src/app/(main)/layout.scss
  apps/docs/src/components/LinkableHeading.module.scss
  apps/docs/src/components/MainLayout/navItems.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/positioning/useFixedPositioning.ts
  packages/core/src/transition/types.ts
  packages/core/src/transition/useCSSTransition.ts
  packages/core/src/transition/useCollapseTransition.ts
Due: core, docs

chore(card): add overflow to content and disableWrap by default
  packages/core/src/card/Card.tsx
  packages/core/src/card/_card.scss
Due: core

chore(core): update snapshots and add additional test scripts
  package.json
  packages/core/src/card/__tests__/__snapshots__/Card.tsx.snap
  packages/core/src/card/__tests__/__snapshots__/ClickableCard.tsx.snap
  packages/core/src/expansion-panel/__tests__/__snapshots__/ExpansionPanel.tsx.snap
Due: core

build: update dev scripts
  apps/docs/package.json
  apps/docs/scripts/nodemon.docs-generator.json
  package.json
Due: docs

feat(code): add readOnly to BaseCodeFile
  packages/code/src/types.ts
Due: none

feat(tabs): allow more styles to be configurable css vars
  packages/core/src/tabs/_tabs.scss
Due: core

feat(tabs): add SimpleTabPanels and SimpleTabPanel helpers
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/DisableActiveTabTransitionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/DisableTabPanelTransitionExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/page.mdx
  packages/core/src/tabs/SimpleTabPanel.tsx
  packages/core/src/tabs/SimpleTabPanels.tsx
  packages/core/src/tabs/__tests__/SimpleTabPanel.tsx
  packages/core/src/tabs/__tests__/SimpleTabPanels.tsx
  packages/core/src/tabs/__tests__/__snapshots__/SimpleTabPanel.tsx.snap
  packages/core/src/tabs/__tests__/__snapshots__/SimpleTabPanels.tsx.snap
  packages/core/src/tabs/useTabs.ts
Due: core, docs

feat(tabs): allow automatic scroll button behavior
  packages/core/src/tabs/TabList.tsx
  packages/core/src/tabs/TabListScrollButton.tsx
  packages/core/src/tabs/__tests__/TabList.tsx
  packages/core/src/tabs/__tests__/__snapshots__/TabList.tsx.snap
  packages/core/src/tabs/_tabs.scss
  packages/core/src/tabs/tabListStyles.ts
  packages/core/src/tabs/types.ts
  packages/core/src/tabs/useTabList.ts
Due: core

fix(core): fix some global mobile styles and the github link component
  apps/docs/src/components/GithubLink.tsx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/_core.scss
  packages/core/src/tabs/_tabs.scss
  packages/core/src/tabs/tabStyles.ts
Due: core, docs

feat(tabs): add useMaxTabPanelHeight hook for static panel heights
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/MaxTabPanelHeightExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/StaticPanelHeightExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/StaticPanelHeightExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/tabs/page.mdx
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/tabs/__tests__/useMaxTabPanelHeight.tsx
  packages/core/src/tabs/useMaxTabPanelHeight.ts
  packages/core/src/tabs/utils.ts
  packages/react-md/src/index.ts
Due: core, docs

docs: added hacky support for readonly demo files
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  apps/docs/src/components/TypescriptCodeBlock.tsx
  apps/docs/src/components/TypescriptCodeBlockContainer.tsx
  packages/code/src/types.ts
  packages/docs-generator/src/utils/createDemo.ts
  packages/docs-generator/src/utils/generateDemoFile.ts
  packages/docs-generator/src/utils/getReadonlyFiles.ts
  packages/docs-generator/src/utils/parseDemoFile.ts
  packages/docs-generator/src/utils/parseWithTsMorph.ts
Due: docs

docs(hooks): added useFileUpload docs and examples
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/FileUploadExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/FileUploadExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/ServerUploadExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/ServerUploadExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/page.mdx
  apps/docs/src/components/FilePreview/FilePreviewCard.module.scss
  apps/docs/src/components/FilePreview/FilePreviewCard.tsx
  apps/docs/src/components/FilePreview/SimpleFilePreview.tsx
  apps/docs/src/components/FileUploadErrorModal/ErrorHeader.tsx
  apps/docs/src/components/FileUploadErrorModal/ErrorRenderer.tsx
  apps/docs/src/components/FileUploadErrorModal/FileUploadErrorModal.tsx
  packages/core/src/files/utils.ts
  packages/core/src/overlay/overlayStyles.ts
Due: core, docs

feat(box): add grid-auto-rows styles
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/GridAutoRowsExample.module.scss
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/GridAutoRowsExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/page.mdx
  packages/core/src/box/Box.tsx
  packages/core/src/box/__tests__/Box.tsx
  packages/core/src/box/__tests__/__snapshots__/Box.tsx.snap
  packages/core/src/box/_box.scss
  packages/core/src/box/styles.ts
Due: core, docs

docs: added docs for more hooks and public utils
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-max-tab-panel-height/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/hooks/use-tabs/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/alpha-numeric-sort/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/bem/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/case-insensitive-search/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/contrast-color/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/fuzzy-search/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/get-percentage/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/identity/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/is-contrast-compliant/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/is-element-visible/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/loop/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/nearest/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/parse-css-length-unit/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/random-int/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/wait/page.mdx
  apps/docs/src/app/(main)/(markdown)/(apidocs)/utils/within-range/page.mdx
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/FileUploadExample.module.scss
  apps/docs/src/components/MainLayout/navItems.ts
  packages/codemod/transforms/v5-to-v6/coreExportMap.ts
  packages/core/src/searching/fuzzy.ts
  packages/core/src/tabs/useMaxTabPanelHeight.ts
  packages/core/src/tabs/useTabs.ts
  packages/core/src/utils/__tests__/alphaNumericSort.ts
  packages/core/src/utils/alphaNumericSort.ts
  packages/core/src/utils/bem.ts
  packages/core/src/utils/isElementVisible.ts
  packages/core/src/utils/loop.ts
  packages/core/src/utils/parseCssLengthUnit.ts
  packages/core/src/utils/wait.ts
Due: core, docs

chore(tabs): update vertical indicator to be at the right
  packages/core/src/tabs/_tabs.scss
Due: core

docs: add typedoc to handle remaining docs...
  apps/docs/.gitignore
  apps/docs/package.json
  apps/docs/src/app/(main)/(markdown)/(demos)/components/box/page.mdx
  apps/docs/src/components/MainLayout/navItems.ts
  apps/docs/typedoc.json
  packages/core/src/files/utils.ts
  packages/core/src/navigation/NavSubheader.tsx
  packages/core/src/transition/CrossFade.tsx
  packages/core/src/utils/bem.ts
  packages/docs-generator/src/utils/createDemo.ts
  pnpm-lock.yaml
  turbo.json
Due: core, docs

feat(material-icons): reduce installation size
  packages/material-icons/package.json
  packages/material-icons/scripts/build.ts
  packages/material-icons/types.d.ts
Due: none

chore(tree): remove unused import
  packages/core/src/tree/_tree.scss
Due: core

chore(docs): hopefully fix typedoc
  apps/docs/package.json
  apps/docs/scripts/typedoc.ts
  apps/docs/src/app/(main)/(markdown)/(demos)/hooks/use-file-upload/FileUploadExample.module.scss
  apps/docs/src/components/LinkUnstyled.tsx
  apps/docs/typedoc.json
Due: docs

chore(docs): enable net eslint config
  apps/docs/eslint.config.mjs
Due: docs

build(version): version packages
  .changeset/ninety-roses-sneeze.md
  .changeset/pre.json
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/code/CHANGELOG.md
  packages/code/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs-generator/CHANGELOG.md
  packages/docs-generator/package.json
  packages/material-icons/CHANGELOG.md
  packages/material-icons/package.json
  packages/react-md/CHANGELOG.md
  packages/react-md/package.json
Due: core, docs

docs: added notes on how to add a previous version deployment
  docs/previous_versions.md
Due: none

chore(core): update black and white to be six digit hex strings
  packages/core/src/theme/colors.ts
Due: core

feat(transition): update slide transition to support vertical
  apps/docs/src/app/(main)/(markdown)/(demos)/components/slide/SimpleExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/slide/VerticalExample.tsx
  apps/docs/src/app/(main)/(markdown)/(demos)/components/slide/page.mdx
  apps/docs/src/components/DemoCode/DemoCodeEditor.tsx
  packages/core/src/tabs/useTabs.ts
  packages/core/src/transition/SlideContainer.tsx
  packages/core/src/transition/_transition.scss
  packages/core/src/transition/useCarousel.ts
Due: core, docs

chore: more v5-to-v6 codemods and some autocomplete type fixes
  apps/docs/src/app/(main)/(markdown)/(demos)/components/snackbar/page.mdx
  apps/docs/src/app/(main)/(markdown)/migration/v5-to-v6/page.mdx
  packages/codemod/transforms/types.ts
  packages/codemod/transforms/utils/isPropBooleanExpression.ts
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/CustomFilterFunction.input.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/CustomFilterFunction.output.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/DefaultAutocomplete.input.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/DefaultAutocomplete.output.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/FuzzyAutocomplete.input.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/FuzzyAutocomplete.output.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/InvalidAutocomplete.input.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__testfixtures__/InvalidAutocomplete.output.tsx
  packages/codemod/transforms/v5-to-v6/autocomplete/__tests__/update-simple-props.ts
  packages/codemod/transforms/v5-to-v6/autocomplete/update-simple-props.ts
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/Dialog.input.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/Dialog.output.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/FixedDialog.input.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/FixedDialog.output.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/NestedDialogContextProvider.input.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/NestedDialogContextProvider.output.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/NestedDialogContextProviderOnly.input.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__testfixtures__/NestedDialogContextProviderOnly.output.tsx
  packages/codemod/transforms/v5-to-v6/dialog/__tests__/remove-nested-dialog-context-provider.ts
  packages/codemod/transforms/v5-to-v6/dialog/__tests__/update-dialog-props.ts
  packages/codemod/transforms/v5-to-v6/dialog/remove-nested-dialog-context-provider.ts
  packages/codemod/transforms/v5-to-v6/dialog/update-dialog-props.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/caseInsensitiveFilter.input.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/caseInsensitiveFilter.output.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/findIgnoreCase.input.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/findIgnoreCase.output.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/fuzzySearch.input.ts
  packages/codemod/transforms/v5-to-v6/utils/__testfixtures__/fuzzySearch.output.ts
  packages/codemod/transforms/v5-to-v6/utils/__tests__/update-search-functions.ts
  packages/codemod/transforms/v5-to-v6/utils/update-search-functions.ts
  packages/core/src/autocomplete/__tests__/Autocomplete.tsx
  packages/core/src/autocomplete/types.ts
  packages/core/src/autocomplete/useAutocomplete.ts
  packages/core/src/form/Listbox.tsx
  packages/core/src/form/Option.tsx
Due: core, docs

build(core): create a script to generate the react-md index file
  package.json
  packages/core/package.json
  packages/core/scripts/createIndexFile.ts
  packages/core/scripts/getExportMap.ts
  packages/react-md/src/index.ts
  scripts/release.ts
Due: core

Path conditions:
  core: any of: packages/core/
  docs: any of: apps/docs/
